# Redirect the all users except developer IP to dev.html

Options +FollowSymlinks
RewriteEngine On
RewriteCond %{REMOTE_ADDR} !^182\.70\.69\.187
RewriteCond %{REQUEST_URI} !/construction.html$ [NC]
RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif) [NC]
RewriteRule .* /dev.html [R=302,L]
