---
project-id: 1
title: Guinea-Bissau's latest coup attempt is only one of 10 in this century
type: data storytelling, data visualization
tag: journalism

date: 1000-01-01
img: grid-image.png
alt: Guinness-Bisseau President Embaló
description: On February 1, Guinea-Bissau's government palace was attacked during a scheduled cabinet meeting. The shooting lasted for five hours, and at least eight people were killed. President Umaro Sissoco Embaló survived the attempted coup. "It wasn't just a coup. It was an attempt to kill the president, the prime minister and all the cabinet," Embaló said. Six days after the attempt, a radio station critical of the government was attacked and its equipment destroyed.
---

<!DOCTYPE html>
<html class="dark-mode">
<head>
	{% include head.html %}
	{% include js.html %}
	<script defer src="../js/coup.js"></script>
	{% include stylesheets.html %}
</head>

<body class="dark-mode">  
	{% include nav.html dark_mode='dark-mode' light_shadow_style='color: #c5c5c5;' %}

	<!-- Project details section -->
	<section id="projectDetails" class="coup article" data-nosnippet>
		<div class="mt10"></div>
		<div class="container" style="justify-content: center;">
			<div class="col text-center">
				<h1 class="project-title">{{ page.title }}</h1>
			</div> 
			<div class="row" id="content-row">
					<!-- <canvas id="country-heatmap" style="height: 1000px; width: 100%;"></canvas> -->
					<!-- <canvas id="country-bubble"></canvas> -->
					<div id="intro" class="mt5">
						<p>
							On February 1, 
							<a href="https://www.aljazeera.com/news/2022/2/1/gunfire-heard-near-government-house-in-guinea-bissau" target="_blank">
								Guinea-Bissau's government palace was attacked
							</a>
							during a scheduled cabinet meeting. The shooting lasted for five hours, and at least eight people were killed. President Umaro Sissoco Embaló survived the attempted coup. "It wasn’t just a coup. It was an attempt to kill the president, the prime minister and all the cabinet," Embaló said. Six days after the attempt, a radio station critical of the government was attacked and its equipment destroyed.
							<br><br>
							Since 2000, the West African nation has seen 10 coup attempts, higher than any other nation globally. While only 2 of these attempts have been successful, they have contributed to ongoing political instability in the region. Only one elected president (José Mário Vaz, elected in 2014) has ever completed a five-year term in office. 
						</p>
					</div>

					<p class="takeaway mt10">Guinea-Bissau way ahead of other countries in number of coup attempts</p>
					<p class="otherinfo">Guinea-Bissau's 10 attempts are followed by Venezuela and Mauritania with 5 attempts each</p>
					<div class="btn-group btn-group-toggle text-center" data-toggle="buttons" style="width: fit-content; width: -webkit-fit-content; justify-content: center; margin: 50px auto;">
						<label class="btn btn-outline-secondary btn-coup-2000 active" style="color: white;">
							<input type="radio" name="options" id="coup-2000" autocomplete="off" checked> Coups after 2000
						</label>
						<label class="btn btn-outline-secondary btn-coup-all" style="color: white;">
							<input type="radio" name="options" id="coup-all" autocomplete="off" > Coups over all time
						</label>
					</div>
				</div>
			</div>

			
			<div id="first-graph">
				<div class="plotly-map-container" style="width: 100%;">
				<div id="coup-all">
					<div id="coup-l">{% include coups-all-map.html %}</div>
					<div id="coup-m">{% include coups-all-map-med.html %}</div>
					<div id="coup-s">{% include coups-all-map-small.html %}</div>
				</div>
				<div id="coup-2000">
					<div id="coup-l">{% include coups-2000-map.html %}</div>
					<div id="coup-m">{% include coups-2000-map-med.html %}</div>
					<div id="coup-s">{% include coups-2000-map-small.html %}</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<p class="otherinfo">Data: Cline Center</p>
			</div>
		</div>


    <!-- <div class="row">
      <div id="first-graph">
        <p class="small italic">
          Since its independence in 1973, Guinea-Bissau has seen 14 coup attempts (4 successful), claiming the world #21 spot. It remains the country with the highest attempts at a coup in the 21st century (10), followed by Mauritania(5) and Venezuela(5).
          <br> In the 21st century, Guinea-Bissau has seen 10 coup attempts. Only 2 of these were successful, with 2 blocked in the conspiracy stage and 6 thwarted during the attempt - the latest being the feb 2022 attack on president Embalo (point out).
          <br>
          Outcomes - 2003 - house arrest & forced resignation, 2012 - jailed & exiled. 
        </p>
        <p class="small">chart - geomap/scattermap of coups in 21st century/all, show GB highest <br>
        </p>
      </div>
    </div>
</div> -->


<div id="timeline" class='graphic mt5'>
	<div class='graphic__prose'>
		<div class='trigger' data-step='0'>
			<h5>November 23, 2000</h5>
			<p>
				The first democratically elected President of Guinea-Bissau, Kumba Yalá, is appointed in January 2000. That November, Yalá demotes Army General Ansumane Mané who had led the bloody civil war of 1998. Dissatisfied with this decision, Mané places Yalá's chief of staff under house arrest and declares himself head of the armed forces. Violence breaks out in the capital. Mané is forced to flee and eventually killed.
			</p>
		</div>

		<div class='trigger' data-step='0'>
			<h5>December 2, 2001</h5>
			<p>
				Yalá dismisses prime minister Faustino Imbali and foreign minister Antonieta Rosa Gomes without proper explanation. His government states that it thwarted a coup attempt organised by army officers due to concerns regarding Yalá's increasingly volatile and regressive rule.
			</p>
		</div>

		<div class='trigger' data-step='1'>
			<h5>September 14, 2003</h5>
			<p>
				The first successful coup attempt. Yalá suspends parliament for nearly a year following a vote of no confidence in his presidency. A 32-man junta led by Army General Veríssimo Correia Seabra stages a military coup and arrests Yalá. He is later forced to resign. The coup is welcomed by the people, and the country's economy starts improving under interim civilian president Henrique Rosa.
			</p>
		</div>

		<div class='trigger' data-step='1'>
			<h5>May 25, 2005</h5>
			<p>
				Exiled former president Kumba Yalá returns and claims that he is still the legitimate head of state. He forces a brief occupation of the Presidential Palace but ultimately concedes to João Bernardo Vieira who wins the election held in June.
			</p>
		</div>

		<div class='trigger' data-step='2'>
			<h5>August 8, 2008</h5>
			<p>
				Vieira dissolves parliament in a move to "bring an end to the political crisis". The Army discloses that certain military officers led by Navy Chief of Staff José Américo Bubo Na Tchuto attempted a coup. Na Tchuto is placed under house arrest.
			</p>
		</div>

		<div class='trigger' data-step='2'>
			<h5>November 23, 2008</h5>
			<p>
				After Vieira's political party wins a strong majority in the new parliament, his residence is attacked by members of the armed forces. Vieira accuses Army Chief of Staff Batista Tagme Na Waie of the attempt. Four months later, Tagme Na Waie is killed in a bomb blast. Vieira is shot dead by renegade soldiers later on the same day. Many link the assassination to the drug trade. Malam Bacai Sanhá is elected President in June.
			</p>
		</div>

		<div class='trigger' data-step='3'>
			<h5>April 1, 2010</h5>
			<p>
				Military officers place Prime Minister Carlos Gomes Júnior under house arrest. Army Chief of Staff Zamora Induta is taken to a military camp and replaced by Deputy Army Chief of Staff Antonio Ndjai. Following widespread citizen protests, Ndjai threatens to kill Gomes Júnior. Gomes Júnior is released the next day and moves to Portugal for several months but does not make parliamentary changes on return.
			</p>
		</div>

		<div class='trigger' data-step='3'>
			<h5>April 12, 2012</h5>
			<p>
				The second successful coup attempt. President Sanhá dies in January 2012 from complications of diabetes. Following unrest regarding military reform policies, army officials led by Chief of Staff Ndjai attack interim president Raimundo Pereira and both leading presidential contenders including former prime minister Gomes Júnior. Periera and Gomes Júnior are arrested. Foreign embassies are sealed off and roads in and out of the capital are blockaded. Other members of the civilian government are ordered to turn themselves over to the Army. Manuel Serifo Nhamadjo is nominated as transitional president.
				<br>
				The coup has disastrous effects on the country's economy. GDP drops by almost 2% in a single year. Diplomatic relations also suffer as neighbouring Senegal closes its borders and the UN imposes travel bans. After military officials suspected of involvement in drug trafficking seize power as a result of this coup, the cocaine trade picks up heavily in the country, giving it the name "the cocaine coup".
			</p>
		</div>

		<div class='trigger' data-step='4'>
			<h5>October 21, 2012</h5>
			<p>
				An air force base is attacked, leaving seven killed. The gunmen are linked to the regime overthrown in the April coup. The government calls it a "foiled attempt at destabilisation" and accuses Gomes Júnior of conspiring with the government of Portugal.
			</p>
		</div>
	</div>

	<div class='graphic__vis'>
		<div class='img_wrapper'>
			<p class='small' id='img_text' style="position: absolute; top: calc( 50% + 175px ); color: gray;"></p>
		</div>

	</div>
</div>


<div class="container" id="conclusion" style="margin-bottom: 40px;">
	<div class="col">
		<p class="takeaway mt5">Both successful coups have divergent effects on GDP</p>
		<p class="otherinfo">Annual GDP % change. The 2003 coup, welcomed by the public, leads to an increase in GDP whereas the 2012 coup leads to a drastic drop</p>
		<!-- <h6 style="text-align: center; margin-top: 50px;"> Guinea-Bissau</h6> -->
		<canvas id="gdp-barchart" style="margin: 50px -15px;"></canvas>
		<p class="otherinfo">Data: World Bank</p>
	</div>
	<div id="content-row" class="row" style="margin-bottom: 10%; flex-direction: row;">
		<p class="mt5">
			The country continues to be in a state of constant tension between its civilian government and its military, with the added pressure of the drug trade. While it is unclear who perpetrated the attempt this year, President Embaló and his government appear to resume their focus on combating drug trafficking and corruption.
		</p>
			<img src="../assets/img/portfolio/coup/current-embalo.jpg" style="height: auto; width: 100%; margin-top: 50px;"/>
			<p class="small" style="color: gray;margin-top: 5px;">Umaro Sissoco Embaló</p>
			
		</div>
		<!-- <div class="col text-center mt5" style="width: 30%;">
			<img src="../assets/img/portfolio/coup/current-embalo.jpg" style="height: auto; width: 100%;"/>
			<p class="small" style="color: gray;margin-top: 5px;">Umaro Sissoco Embaló</p>
		</div>
		<div class="col mt5">
			<p>
				The country continues to be in a state of constant tension between its civilian government and its military, with the added pressure of the drug trade. While it is unclear who perpetrated the attempt this year, President Embaló and his government appear to resume their focus on combating drug trafficking and corruption.
			</p>
		</div> -->
	</div>
	<div id="overview" class="container mt5">
		<hr/>
		<p style="font-style: italic;">
			I came across Cline Center's <a href="https://clinecenter.illinois.edu/project/research-themes/democracy-and-development/coup-detat-project" target="_blank"> Coup D'état Database</a> via Jeremy Singer-Vine's <a href="https://www.data-is-plural.com/" target="_blank"> Data Is Plural</a> newsletter. The attempted assassination of Guinea-Bissau's president was still doing rounds in the news, and I was curious to see how the history of political instability in the country has progressed over the years. I was also learning D3 at the time, and since the story called for a chronological narrative, I decided to make it a scrollytelling project.
		</p>
		<br><br>
		<p> <span class="bold">Project Type: </span>{{ page.type }}</p>
		<p> <span class="bold">Role: </span>data storytelling, data visualization</p>
		<p> <span class="bold">Tools: </span>Figma for prototyping, D3.js for graphics</p>
		<p> <span class="bold">Date: </span>November 2022</p>
		<p><span class="bold">Sources:</span>
			<a href="https://clinecenter.illinois.edu/project/research-themes/democracy-and-development/coup-detat-project" target="_blank">
			Cline Center Coup D'état Database</a>,
			<a href="https://data.worldbank.org/country/guinea-bissau" target="_blank">
			World Bank Data</a></p>
		<br><br>	
	</div>
</div>
</div>
</section>

{% include footer.html dark_mode='dark-mode' %}
</body>
</html>