---
project-id: 1
title: Guinea-Bisseau
type: dataviz

date: 1000-01-01
img: ../../grainy_page.jpeg
alt: a grainy page
---

<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
	{% include js.html %}
	{% include stylesheets.html %}
</head>
<body>
	{% include nav.html %}

	<!-- Project details section -->
	<section id="projectDetails" class="coup" data-nosnippet>
		<div class="container" style="justify-content: center;">
			<div class="row" style="align-items: center;">
				<h1 class="project-title">{{ page.title }}</h1>
			</div>
		      <!-- <picture>
               <source 
                  media="(max-width: 768px)"
                  srcset="/assets/img/small-devices/portfolio/{{ page.img }}">
               <source 
               srcset="/assets/img/portfolio/{{ page.img }}">
               <img src="/assets/img/portfolio/{{ page.img }}" 
               class="img-responsive" 
               alt="{{ page.alt }}"
               id="main-img">
           </picture> -->

           <div class="row" id="content-row">
           	<div id="overview">
           		<p>
           			We had just been sent home from college due to the pandemic. Bored and restless, two of us implemented one of our favourite board games, Love Letter, onto a locally-hosted web platform so that we could play it with our friends over Zoom. The interface included the layout and positioning of 18 cards and 3 screens which incorporated all gameplay controls (cards, points, tokens) to support interactive online play for up to 8 players.
           		</p>
           		<br><br>
           		<p> <span class="bold">Project Type: </span>{{ page.type }}</p>
           		<p> <span class="bold">Role: </span>end-to-end UI design, front-end development, wireframing, prototyping, playtesting</p>
           		<p> <span class="bold">Tools: </span>Figma for wireframing and prototyping, ReactJS for web development</p>
           		<p> <span class="bold">Date: </span>June 2020</p>
           	</div>


           	<div id="main-graph">
           		<h4 class="project-heading">Main Graph</h4>
           		<p>
           		</p>
           	</div>

           	<div id="graphic">
           		<div id="sections">
           			<!-- text -->
           			<section class="step"></section>
           			<section class="step"></section>
           		</div>
           		<div id="vis">
           			<!-- background vis -->
           		</div>
           	</div>


           </div>
       </div>
   </section>

   {% include footer.html %}
</body>
</html>