---
project-id: 3
title: Multi-family elevator buildings in New York at increased risk of structural fires
type: data storytelling, data visualization

date: 1000-01-03
img: violations-map.png
alt: map of violations
---

<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
	{% include js.html %}
	{% include stylesheets.html %}
	<script defer src="../js/fires.js"></script>
</head>
<body>
	{% include nav.html %}

	<!-- Project details section -->
	<section id="projectDetails" class="fires" data-nosnippet>
		<div class="container" style="justify-content: center;">
			<div class="col text-center">
				<h1 class="project-title">Coming soon!</h1>
				<p>December 2022</p>
			</div> 
			
		</div>
	</section>

	{% include footer.html %}
</body>
</html>