---
project-id: 5
title: Global iodine levels set to reach record high by 2050, threaten ozone layer
tag: journalism

date: 1000-01-09
img: grid-image.png
alt: area chart showing iodine levels rising over time
description: The amount of iodine in the atmosphere has tripled between 1950 and 2010.
---


<!DOCTYPE html>
<html class="med-dark-mode">
<head>
	{% include head.html %}
	{% include js.html %}
	<script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script> 
	{% include stylesheets.html %}
</head>

<body class="med-dark-mode">  
	{% include nav.html dark_mode='med-dark-mode' light_shadow_style='color: #c5c5c5;' %}
	
	<!-- Project details section -->
	<section id="projectDetails" class="arctic article"style="display: block;" data-nosnippet>
		<div class="mt10"></div>
		
		<div class="container" style="justify-content: center;">
			<div class="col text-center">
				<h1 class="project-title">{{ page.title }}</h1>
				<h5 class="otherinfo">By Tejal Wakchoure</h5>
				<h5 class="otherinfo">July 2023</h5>
			</div> 
			<div class="row" id="content-row">
				<div id="intro" class="mt5">
					<p>
						Iodine, a major contributor to ozone depletion, has <a href="https://www.nature.com/articles/s41467-018-03756-1" target="_blank">tripled in the atmosphere between 1950 and 2010</a>, according to studies by the National Center for Atmospheric Research.
					</p>
					
					<h5 class="takeaway mt5">A dramatic rise in the Arctic</h5> 
					<h5 class="otherinfo">Iodine levels in Arctic ice in parts per billion, 1950-2010</h5>
					<img src="../assets/img/portfolio/iodine-ozone/iodine-tripled.svg"  style="width: 100%; padding: 50px 0; object-fit: contain; margin: auto;" alt=""/>	
					<h5 class="otherinfo">Source: 
						<a href="https://www.nature.com/articles/s41467-018-03756-1" target="_blank" style="color: #C8C8C8 !important">Rapid increase in atmospheric iodine levels in the North Atlantic since the mid-20th century
						</a>
					</h5>
				</div>
				
				<!-- <p class="mt5 otherinfo">
					// possibly insert relevant image/graphic //						
				</p> -->
				
				<p class="mt5">
					Iodine is well-documented in its ability to destroy ozone. Until recently, it was regarded as a useful tool to weaken the ozone closest to the earth's surface (tropospheric ozone), which is a key component of smog. The problem is that what goes on in the troposphere doesn't stay in the troposphere, which means some of this iodine escapes up to the 'good' ozone (stratospheric ozone, which forms the ozone layer). A 2020 experiment at the University of Colorado Boulder showed that iodine processes could account for <a href="https://www.pnas.org/doi/full/10.1073/pnas.1916828117" target="_blank">over 30% of the ozone loss</a> in the lower stratosphere. Iodine also increases the lifetime of greenhouse gases like methane by gobbling up the free radicals that would have otherwise absorbed them.
				</p>
				
				<!-- // insert iodine vs ozone effects chart //	 -->
				<h5 class="takeaway mt5">Springtime Antarctic ozone levels decrease by up to 11% with the addition of iodine</h5> 
				<h5 class="otherinfo" style="padding-bottom: 75px;">Simulated average Antarctic ozone levels in parts per billion, 1980-2015</h5>
				<div class="large-heatmaps">
					<h5 class="otherinfo" style="padding-bottom: 10px; color: #f2f2f2 !important; text-align: center;">Ozone levels without iodine</h5>
					{% include heatmap_no_iodine.html %}
					<h5 class="otherinfo" style="padding-bottom: 10px; color: #f2f2f2 !important;padding-top: 75px; text-align: center;">Ozone levels with iodine</h5>
					{% include heatmap_with_iodine.html %}
				</div>
				<div class="med-heatmaps">
					<h5 class="otherinfo" style="padding-bottom: 10px; color: #f2f2f2 !important; text-align: center;">Ozone levels without iodine</h5>
					{% include heatmap_no_iodine_med_device.html %}
					<h5 class="otherinfo" style="padding-bottom: 10px; color: #f2f2f2 !important;padding-top: 75px; text-align: center;">Ozone levels with iodine</h5>
					{% include heatmap_with_iodine_med_device.html %}
				</div>
				<div class="small-heatmaps">
					<h5 class="otherinfo" style="padding-bottom: 10px; color: #f2f2f2 !important; text-align: center;">Ozone levels without iodine</h5>
					{% include heatmap_no_iodine_small_device.html %}
					<h5 class="otherinfo" style="padding-bottom: 10px; color: #f2f2f2 !important;padding-top: 75px; text-align: center;">Ozone levels with iodine</h5>
					{% include heatmap_with_iodine_small_device.html %}
				</div>

				
				<h5 class="otherinfo" style="padding-top: 50px;">Source: 
					<a href="https://www.pnas.org/doi/full/10.1073/pnas.2110864119" target="_blank" style="color: #C8C8C8 !important">The influence of iodine on the Antarctic stratospheric ozone hole
					</a>
				</h5>
				
				<p class="mt5">
					
					Even as the ozone layer shows signs of recovery in the upper stratosphere, ozone in the lower stratosphere <a href="https://www.pnas.org/doi/full/10.1073/pnas.1916828117" target="_blank">continues to decline</a>. This is despite the success of the 2016 <a href="https://www.unep.org/ozonaction/who-we-are/about-montreal-protocol" target="_blank">Montreal Protocol</a> – iodine levels were so low at the time that they were not considered for regulation. Scientists at the Spanish National Research Council (CSIC) now believe that iodine emissions are <a href="https://agupubs.onlinelibrary.wiley.com/doi/10.1002/2015GL064796" target="_blank">one of the largest contributors</a> to atmospheric ozone depletion. 
					<br><br>
					
					The main sources of iodine are marine life and human emissions. NASA has found that Arctic sea ice extent has been <a href="https://climate.nasa.gov/vital-signs/arctic-sea-ice/" target="_blank">shrinking by 12.6%</a> every ten years since 1979. With this increased sea surface area, the number of underwater plankton and algae that emit organic iodine had been increasing as well. And when large waves break on the shore? Sea sprays are hotbeds for this iodine to be released into the atmosphere.
					<br><br>
					
					<!-- Since the mid-20th century, human emissions have also contributed to the dramatic rise in these levels. While it is difficult to measure iodine directly in the stratosphere, the CSIC study estimates that current levels are already at <a href="https://agupubs.onlinelibrary.wiley.com/doi/10.1002/2015GL064796" target="_blank">2-5 times the expected upper limit</a>.  -->
					
					
					<a href="https://www.nature.com/articles/s41467-021-27642-5" target="_blank">A 2022 study at CSIC</a> identified two key measurements that preceded the highest-ever iodine levels 130,000 years ago:
				</p>
				<br>
				<ol>
					<li>
						<em>The northern Atlantic Ocean had a surface temperature of 16°C</em>. <br>That is only 2°C greater than its average temperature in 2022, and it is projected to rise by 3-4°C by 2100.
					</li>
					<br>
					<li>
						<em>The Arctic region had "almost ice-free summers"</em>. <br>The European Space Agency predicts <a href="https://climate.esa.int/en/projects/sea-ice/news-and-events/news/simulations-suggest-ice-free-arctic-summers-2050/" target="_blank">ice-free Arctic summers by 2050</a>. 
						
					</li>
				</ol>
				<br>
				<p>
					On top of that, non-oceanic (inorganic) iodine levels were negligible 130,000 years ago. Inorganic iodine now accounts for  <a href="https://acp.copernicus.org/articles/15/583/2015/" target="_blank">approximately 75% of the total iodine</a> in the atmosphere due to the significant rise in human emissions. Left unmitigated, the planet's iodine levels could soon surpass all recorded measurements.
				</p>
			</div>
			
			<div id="overview" class="mt5">
				<p class="otherinfo" style="margin-bottom: 20px;">Methodology</p>
				<p class="otherinfo">
					Data is from the supplementary sections of these two papers: <a href="https://www.nature.com/articles/s41467-018-03756-1" target="_blank" style="color: #C8C8C8 !important">Rapid increase in atmospheric iodine levels in the North Atlantic since the mid-20th century</a> and <a href="https://www.pnas.org/doi/full/10.1073/pnas.2110864119" target="_blank" style="color: #C8C8C8 !important">The influence of iodine on the Antarctic stratospheric ozone hole</a>. Validated and examined in Jupyter notebook. Plotted the heatmaps using <a href="https://github.com/brunorosilva/plotly-calplot" target="_blank" style="color: #C8C8C8 !important">plotly-calplot</a> in Python. Plotted the area chart using Rawgraphs and polished it in Figma.
				</p>
				<hr/>
				<p style="font-style: italic;">
					Data journalism project for the <a href="https://ledeprogram.com/" target="_blank"> Lede Program at Columbia</a>.
				</p>
				<br><br>
				<p> <span class="bold">Project Type: </span>{{ page.type }}</p>
				<p> <span class="bold">Role: </span>data collection, data analysis, data visualization</p>
				<p> <span class="bold">Tools: </span>Python(Jupyter) for scraping and analysis. Plotly, Rawgraphs, and Figma for graphics</p>
				<p> <span class="bold">Date: </span>July 2023</p>
				<p><span class="bold">Sources:</span> 
					<a href="https://www.nature.com/articles/s41467-018-03756-1" target="_blank">Rapid increase in atmospheric iodine levels in the North Atlantic since the mid-20th century</a>, <a href="https://www.pnas.org/doi/full/10.1073/pnas.2110864119" target="_blank">The influence of iodine on the Antarctic stratospheric ozone hole</a>
				</p>
				<p> <span class="bold">Code: </span>
					<a href="https://github.com/tejalwakchoure/iodine-ozone" target="_blank">GitHub</a>
				</p>
				<br><br>
			</div>
		</div>
	</section>
	
	{% include footer.html dark_mode='med-dark-mode' %}
</body>
</html>