---
project-id: 5
title: Global Iodine Levels May Be Highest Ever By 2050, Ozone Layer Directly Affected
type: data journalism
tag: journalism

date: 1000-01-09
img: iodine and ozone placeholder.png
alt: 
description: 
---


<!DOCTYPE html>
<html class="med-dark-mode">
<head>
	{% include head.html %}
	{% include js.html %}
	<script defer src="../js/coup.js"></script>
	{% include stylesheets.html %}
</head>

<body class="med-dark-mode">  
	{% include nav.html dark_mode='med-dark-mode' light_shadow_style='color: #c5c5c5;' %}
	
	<!-- Project details section -->
	<section id="projectDetails" class="arctic article"style="display: block;" data-nosnippet>
		<div class="mt10"></div>
		
		<div class="container" style="justify-content: center;">
			<div class="col text-center">
				<h1 class="project-title">{{ page.title }}</h1>
				<h5 class="otherinfo">By Tejal Wakchoure</h5>
				<h5 class="otherinfo">July 2023</h5>
			</div> 
			<div class="row" id="content-row">
				<div id="intro" class="mt5">
					<p>
						The amount of iodine in the atmosphere has <a href="">tripled</a> between 1950 and 2010.		
					</p>
					
					
					<p class="mt5 otherinfo">
						// insert 1950-2010 iodine levels chart //						
					</p>
					
					<!-- <h5 class="takeaway mt5">Nearly half of all college-educated broadway stars come from these 5 schools</h5> 
						<h5 class="otherinfo">Schools that actors obtained their highest qualifications from</h5>
						<img src="../assets/img/portfolio/arctic/iodine and ozone placeholder.png"  style="width: 100%; margin-bottom: 50px; object-fit: contain; margin: auto;" alt=""/>
						<p class="otherinfo">Source: </p> -->
					</div>
					
					
					
					<div id="" class="mt5">
						<p>
							Oceans and human iodine emissions are the largest contributors to atmospheric ozone. The Arctic sea ice extent has been <a href="">shrinking by 12.6%</a> every ten years since 1979.  Underwater plankton and algae directly emit organic iodine. And when waves break on the shore? Sea sprays are hotbeds for gaseous iodine to be released into the atmosphere.
							<br>
							Since the mid-20th century, human emissions have also increased levels dramatically. While it is difficult to measure iodine levels in the stratosphere, scientists believe that current levels are already at <a href="">2-5 times the expected upper limit</a>. 
							<br><br>
						</p>
					<!-- </div>
					
					
					<div id="" class="mt10"> -->
						<p>
							Iodine is well-documented in its ability to destroy ozone. Until recently, it was regarded as a useful tool to weaken the ozone closest to the earth's surface (tropospheric ozone), which is a key component of smog. The problem is that "<a href="">what goes on in the troposphere doesn't stay in the troposphere</a>", which means some of this iodine escapes up to the 'good' ozone (stratospheric ozone, which forms the ozone layer). A 2015 experiment showed that iodine processes could account for <a href="">nearly 30% of the ozone loss</a> in the lower stratosphere. Iodine also increases the lifetime of greenhouse gases like methane by gobbling up the free radicals that would have otherwise absorbed them.
							
						</p>
						
						<p class="mt5 otherinfo">
							// insert iodine vs ozone effects chart //					
						</p>
						
						<!-- <h5 class="takeaway mt5">Nearly half of all college-educated broadway stars come from these 5 schools</h5> 
							<h5 class="otherinfo">Schools that actors obtained their highest qualifications from</h5>
							<img src="../assets/img/portfolio/arctic/iodine and ozone placeholder.png"  style="width: 100%; margin-bottom: 50px; object-fit: contain; margin: auto;" alt=""/>
							<p class="otherinfo">Source: </p> -->
						</div>
						
						
						<div id="" class="mt10">
							<p>
								Even as the ozone layer shows signs of recovery in the upper stratosphere, ozone in the lower stratosphere continues to decline. This is despite the success of the 2016 <a href="">Montreal Pact</a> when 118 countries pledged to crack down on ozone-depleting gases. Iodine levels were so low at the time that they were not considered for regulation.
								
								
								<br>
								Researchers identified two key measurements that preceded the highest-ever iodine levels, 130,000 years ago. 
							</p>
							<br><br>
							<ol>
								<li>
									The northern Atlantic Ocean had a surface temperature of 16°C. That is only 2°C greater than its temperature in 2022. The global temperature is projected to rise 3-4°C by 2100.
									
								</li>
								<li>
									The Arctic region had "almost ice-free summers". Ice-free Arctic summers are <a href="">predicted by 2050</a>. 
									
								</li>
							</ol>
							<br><br>
							<p>
								In previous warm periods, inorganic iodine emissions due to external influences were considered negligible. Now that human emissions have tripled that component, inorganic iodine accounts for approximately 75% of the total iodine in the atmosphere. These emissions are expected to increase throughout the 21st century. Left unmitigated, the planet's iodine levels could soon surpass all recorded measurements.
							</p>
						</div>
						
					</div>
					
					<div id="overview" class="mt5">
						<p class="otherinfo" style="margin-bottom: 20px;">Methodology</p>
						<p class="otherinfo">
							// TBD //
						</p>
						<hr/>
						<p style="font-style: italic;">
							Data journalism project for the <a href="https://ledeprogram.com/" target="_blank"> Lede Program at Columbia</a>.
						</p>
						<br><br>
						<p> <span class="bold">Project Type: </span>{{ page.type }}</p>
						<p> <span class="bold">Role: </span>data collection, data analysis, data visualization</p>
						<p> <span class="bold">Tools: </span>Python(Jupyter) for scraping and analysis, Datawrapper and Figma for graphics</p>
						<p> <span class="bold">Date: </span>July 2023</p>
						<p><span class="bold">Sources:</span> // TBD //</p>
						<p> <span class="bold">Code: </span>
							<a href="" target="_blank"> // TBD //</a>
						</p>
						<br><br>
					</div>
				</div>
			</section>
			
			{% include footer.html dark_mode='med-dark-mode' %}
		</body>
		</html>