---
project-id: 1
title: Ideas and more!
type: machine learning, android app development, facial recognition, graphs, scrapers, illustrations
tag: datadesign

date: 1000-01-01
img: srccon-idea-board-zoomed.png
alt: srccon-idea-board-zoomed
description: Ideas, designs, and visualizations.
---

<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
	{% include js.html %}
	{% include stylesheets.html %}
</head>
<body>
	{% include nav.html %}
	
	<!-- Project details section -->
	<section id="projectDetails" class="article" data-nosnippet>
		<!-- <div class="mt10"></div> -->
		<div class="container" style="justify-content: center;">
			<div class="col text-center">
				<h1 class="project-title">{{ page.title }}</h1>
				<!-- <h5 class="otherinfo" style="text-transform: unset;">Tejal Wakchoure | Published Dec 20, 2022</h5> -->
			</div> 
			<div class="mt5"></div>
			<div id="content-row" class="row">
				<p>
					More visualization and design projects.
				</p>
			</div>
			<hr style="margin-top:0;">
			<div class="row" id="content-row">
				<p>
					Attended a fun talk at SRCCON where we brainstormed ideas for topic x presentation! Our group was tasked with presenting a story on television sitcoms as an interactive game. We came up with a 1v1 game called <em>Sitcom Smash</em> where you'd pit protagonists from common TV shows against one another!
				</p>
			</div>
			<img src="../assets/img/portfolio/more-projects/srccon-idea-board-zoomed.png"  style="width: 100%; margin-bottom: 50px;" />
			<img src="../assets/img/portfolio/more-projects/srccon-idea-board.png"  style="width: 100%; margin-bottom: 50px;" />
			
			<div class="row" id="content-row">
				<p>
					I took some courses on machine learning at university and I loved how the exercise graphs turned out. Here are some I found most exciting.
				</p>
			</div>
			<img src="../assets/img/portfolio/more-projects/ml-labs.jpg">
			
			<div class="mt5"></div>
			<div class="row" id="content-row">
				<p>
					I built a facial recognition-based Android attendance system to improve transparency in student-teacher interaction, reduce instances of bias, and raise overall administrative efficiency. The algorithm was trained on 1,000+ images and packaged as an Android app with separate interfaces for students and teachers. Features included components for courses, grading, personal dashboards, and registration.
				</p>
			</div>
			<img src="../assets/img/portfolio/more-projects/presenceid.jpg">
			
			<div class="mt5"></div>
			<div class="row" id="content-row">
				<p>
					Some event posters I've designed over the years :)
				</p>
			</div>
			<img src="../assets/img/portfolio/more-projects/posters.jpg">
			
			<div class="mt5"></div>
			<div class="row" id="content-row">
				<p>
					More fun stuff! These are graphics I created while I was first toying around with Illustrator that I still hold dear.
				</p>
			</div>
			<img src="../assets/img/portfolio/more-projects/illustrations.jpg">
			
		</div>
		
	</div>
</section>
{% include footer.html %}
</body>
</html>

<style>
	/* section {
	padding: 0;
	} */
</style>