---
layout: slider
project-id: 7
title: Other Projects

date: 1000-01-07
img: presenceid.jpg
alt: presence ID app layout

projects:

- slug: superglue
  title: SuperGlue
  video: true
  description: At the MIT Media Lab, we created a digestion tool that cross-analyses verbal and nonverbal cues for presentation, analysis, and summarization of broadcast news. Our main objective was to understand the emotive content of a scene and study how such a presentation affects audiences. I spearheaded the body language analysis for this project, where we cross-examined hand gestures, facial expressions, and body posture of the newscaster as three dimensions of influence on the overall manner of demonstration. More here - <a href='//www.media.mit.edu/projects/sg-kinesics/overview/'>Official project page</a>

- slug: presenceid
  title: presence ID
  description: A facial recognition-based Android attendance system built to improve transparency in student-teacher interaction, reduce instances of bias, and raise overall administrative efficiency. The algorithm was trained on 1000+ images and packaged as an Android app with separate interfaces for students and teachers. Features included components for courses, grading, personal dashboards, and registration.

- slug: mlcat
  title: MLCAT
  description: We developed an IMAP server-based mailing list parser to analyse community structure and derive hypergraphs on communication patterns. Some questions we ask are - what is <a href='//en.wikipedia.org/wiki/Dunbars_number' target='_blank'>Dunbar’s number</a> on this list? Is there a correlation between the number of authors and the length of a thread? What is the churn rate of this network? What makes a thread popular, and can text mining help us detect them? Source code here - <a href='//github.com/tejalwakchoure/MLCAT' target='_blank'>GitHub</a>

- slug: gs-internship
  noshadow: true
  description: This project is under NDA as it is affiliated with Goldman Sachs, but I have recreated its main components here. We created an end-to-end framework that queries data from 3 different sources simultaneously to create a black box for database querying. I designed and implemented the user interface for this project using ReactJS. 

- slug: ml-labs
  description: I took a Machine Learning course at university and I loved how the exercise graphs turned out. Here are some I found most exciting.

- slug: automation
  description: Web scraping scripts to automate some menial tasks. Source code here - <a href='//github.com/tejalwakchoure/' target='_blank'>GitHub</a>

- slug: posters
  description: Some posters I’ve made here and there, mostly at university :)

- slug: illustrations
  description: More fun! This is stuff I created while I was first toying around with Inkscape that I still hold dear.

---

<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        {% include js.html %}
        {% include stylesheets.html %}
    </head>
    <body id="main" class="index" style="min-height: 100vh; display: flex; flex-direction: column; justify-content: space-between;">
          {% include nav.html %}
          {% include slider.html %}
          {% include footer.html %}
        </div>
    </body>
</html>