 <!-- About Section -->
 <section id="about" class="success">
  <div class="container">

    <div class="col-lg-12 text-center">
      <div class="row">
        <h2><!-- Hi, I'm Tejal. --></h2>
        <hr class="light">
      </div>
    </div>
    
    <div class="row" style="display: flex; flex-flow: row wrap;">
      <div class="col-md-6">
        <p style="font-weight: 600; font-size: 70px;">Hi, I'm Tejal.</p>
        <br>
        <p>I'm a visiting student at <a href="//www.mit.edu" 
          style="text-decoration: underline;"
          target="_blank">MIT</a> and an undergraduate student at <a 
          href="//www.bits-pilani.ac.in"
          style="text-decoration: underline;" 
          target="_blank">BITS-Pilani</a>, India, majoring in Computer Science. I am primarily interested in the real-life implications of technology and its use as a tool to enhance human productivity and comfort.</p>
        </div>
        <div class="col-md-6" style="height: 60vh;">
          <img class="img-responsive" src="assets/img/profile.jpg" height="100%" width="35%" style= "margin: auto; object-fit: cover; padding: 2vh 5vh;
                          height: 100%; width: auto;">
          <div id="rectangle"></div>
        </div>
      </div>

      <div class="row" style="display: flex; flex-flow: row wrap;">
        
        <div class="col-md-6" style="color: #8E394D; /*font-size: 5vh;*/ align-items: flex-end; display: flex;">
          <p class="large">I am always open to exploring new areas of research and increasing my current capabilities, so if you’d like to chat please get in touch.</p>
        </div>
        <div class="col-md-6">
          <p>My current research interests include Human-Computer Interaction (HCI), UI/UX Design, Computer Vision, and Social Network Analysis. I enjoy studying the association of these with social elements like literature, art, wellness, and media. You can get in touch with me for a copy of my resumé at <a href="mailto:tejal.wakchoure@gmail.com" 
            style="text-decoration: underline;" target="_blank">tejal.wakchoure@gmail.com</a>.</p>
          </div>
        </div>
      </div>
    </section>




 <!-- <section id="about" class="success"> 
  <div class="container">

    <div class="col-lg-12 text-center">
      <div class="row">
        <h2>Hi, I'm Tejal.</h2>
        <hr class="light">
      </div>
    </div>
    
    <div class="row" style="display: flex; flex-flow: row wrap;">
      <div class="col-md-6">
        <div>
          <p>I'm a visiting student at <a href="//www.mit.edu" 
            style="text-decoration: underline;"
            target="_blank">MIT</a> and an undergraduate student at <a 
            href="//www.bits-pilani.ac.in"
            style="text-decoration: underline;" 
            target="_blank">BITS-Pilani</a>, India, majoring in Computer Science. I am primarily interested in the real-life implications of technology and its use as a tool to enhance human productivity and comfort.</p>
          </div>
          <div style="color: #8E394D; /*font-size: 5vh;*/ align-items: flex-end; display: flex;">
            <p class="large">I am always open to exploring new areas of research and increasing my current capabilities, so if you’d like to chat please get in touch.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div style="height: 60vh;">
            <img class="img-responsive" src="assets/img/profile.jpg" height="100%" width="35%" style= "margin: auto; object-fit: cover; padding: 1vh 5vh;
                              height: 100%; width: 85%;">
          </div>
          <div>
            <p>My current research interests include Human-Computer Interaction (HCI), UI/UX Design, Computer Vision, and Social Network Analysis. I enjoy studying the association of these with social elements like literature, art, wellness, and media. You can get in touch with me for a copy of my resumé at <a href="mailto:tejal.wakchoure@gmail.com" 
              style="text-decoration: underline;" target="_blank">tejal.wakchoure@gmail.com</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  -->




<!--  <section id="about" class="success">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Hi, I'm Tejal.</h2>
        <hr class="light">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>I'm a visiting student at <a href="//www.mit.edu" 
        style="text-decoration: underline;"
        target="_blank">MIT</a> and an undergraduate student at <a 
        href="//www.bits-pilani.ac.in"
        style="text-decoration: underline;" 
        target="_blank">BITS-Pilani</a>, India, majoring in Computer Science. I am primarily interested in the real-life implications of technology and its use as a tool to enhance human productivity and comfort.</p>
      </div>
      <div class="col-md-6">
        <img class="img-responsive" src="assets/img/profile.jpg" height="100%" width="35%" style= "margin: auto; object-fit: cover; padding-bottom: 2%;"> -->
        <!-- <div style="height: 35%; border: 75% solid #8E394D;"></div> -->
      <!-- </div>
    </div>
    <div class="row">
       <div class="col-md-6" style="color: #8E394D; font-size: 1em !important;">
        <p>I am always open to exploring new areas of research and increasing my current capabilities, so if you’d like to chat please get in touch.</p>
      </div>
      <div class="col-md-6">
        <p>My current research interests include Human-Computer Interaction (HCI), UI/UX Design, Computer Vision, and Social Network Analysis. I enjoy studying the association of these with social elements like literature, art, wellness, and media. You can get in touch with me for a copy of my resumé at <a href="mailto:tejal.wakchoure@gmail.com" 
          style="text-decoration: underline;" target="_blank">tejal.wakchoure@gmail.com</a>.</p>
      </div>
    </div>
    </section>
  -->

