<!-- About Section -->
<section id="about" style="display: flex;" class="fade-in">
	<div class="container">
		<div class="row outer-row">
			<div class="col about-col about-img-col">
				<picture>
					<source 
						media="(max-width: 1023px)"
						srcset="/assets/img/small-devices/profile-picture-latest.jpeg">
						<!-- <source srcset="/assets/img/profile-picture-latest.jpeg"> -->
						<img src="/assets/img/profile-picture-latest.jpeg" class="img-responsive about-img" alt="A picture of Tejal">
					</picture>
				</div>
				
				<div class="col about-col about-main-text">
					<h3 class="hello">Hi! I'm Tejal.</h3>
					<p class="small">she/her</p>
					<p>
						I'm a product manager at <a href="https://www.thebaltimorebanner.com/" target="_blank">The Baltimore Banner</a> and a graduate of the <a href="https://ledeprogram.com/" target="_blank">Lede Program</a> at Columbia, focusing on data and graphics journalism. My work at The Banner earned us the <a href="https://www.thebaltimorebanner.com/community/local-news/baltimore-banner-news-organization-of-the-year-mddc-awards-X6CKOSGM6JHSXINE2WXRPGFIWI/" target="_blank">MDDC General Website Excellence Award</a> in 2023. I presented our voter guide for the Maryland Primary at NICAR 2024.
						<br><br>
						Before I got into journalism, I built platforms to streamline trading at Goldman Sachs, where I ranked as a finalist in their 2020 COVID-19 Visualization Datathon. However, I found my interest shifting towards using data to empower impactful storytelling. My work now focuses on the intersection of journalism, design, and technology, which involves reporting data stories, creating interactive graphics and building visual products that shape reader perception.
						<br><br>
						As a student, I researched <a href="https://www.media.mit.edu/projects/sg-kinesics/overview/" target="_blank">news visualization</a> and got involved in <a href="https://www.media.mit.edu/events/reimagine-this-place/" target="_blank">community-centered design</a> at MIT (here's an <a href="https://bitsrnd.wordpress.com/2020/08/04/578/" target="_blank">interview</a> on my experience). I majored in computer science at <a href="https://www.bits-pilani.ac.in/" target="_blank">BITS Pilani</a>, where I served as Editor for our university magazine. 
						<br><br>
						I owe my winding career path to folks in the industry who were kind enough to answer my (naïve) questions when I needed them the most, and I'm always happy to pass it along. Please <a href="mailto:tejal.wakchoure@gmail.com" target="_blank">get in touch</a>! When I'm not <a href="https://github.com/tejalwakchoure?tab=repositories" target="_blank">coding up random stuff</a>, I:
						<br><br>
					</p> 
					<div class="row timepass">
						<div class="col">
							
							<div class="fa-parent" style="flex-direction: column;">
								<div class="topper"></div>
								<i class="fa fa-gamepad" aria-hidden="false"></i>
								<!-- <i class="fa fa-gamepad fa-shadow" aria-hidden="true"></i> -->
							</div>
							<p class="small">attend pub quizzes and play casual games. I finished Disco Elysium in two days.</p>
						</div>
						<div class="col">
							
							<div class="fa-parent" style="flex-direction: column;">
								<div class="topper"></div>
								<i class="fa fa-bookmark" aria-hidden="false"></i>
								<!-- <i class="fa fa-bookmark fa-shadow" aria-hidden="true"></i> -->
							</div>
							<p class="small">read books and nerdy blogs. My all-time favorites are <a href="https://www.goodreads.com/book/show/37570546-maybe-you-should-talk-to-someone" target="_blank">Maybe You Should Talk to Someone</a> and <a href="https://waitbutwhy.com/" target="_blank">Wait But Why</a>.</p>
						</div>
						<div class="col">
							
							<div class="fa-parent" style="flex-direction: column;">
								<div class="topper"></div>
								<i class="fa fa-headphones" aria-hidden="false"></i>
								<!-- <i class="fa fa-headphones fa-shadow" aria-hidden="true"></i> -->
							</div>
							<p class="small">listen to pop bangers. I firmly believe that the '00s was the greatest decade for pop music.</p>
						</div>
						<div class="col">
							
							<div class="fa-parent" style="flex-direction: column;">
								<div class="topper"></div>
								<i class="fa fa-tv" aria-hidden="false"></i>
								<!-- <i class="fa fa-tv fa-shadow" aria-hidden="true"></i> -->
							</div>
							<p class="small">watch TV. I am obsessed with Vox's <a href="https://www.imdb.com/title/tt8005374/" target="_blank">Explained</a> series.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	