<!-- About Section -->
<section id="about" style="display: flex;" class="fade-in">
	<div class="container">
		<div class="row outer-row">
			<div class="col about-col about-img-col">
				<picture>
					<source 
					media="(max-width: 1023px)"
					srcset="/assets/img/small-devices/profile-picture.jpeg">
					<!-- <source srcset="/assets/img/profile-picture.jpeg"> -->
					<img src="/assets/img/profile-picture.jpeg" class="img-responsive about-img" alt="A picture of Tejal">
				</picture>
			</div>
			
			<div class="col about-col about-main-text">
				<h3 class="hello">Hi! I'm Tejal.
					<span class="small" style="font-weight: normal;">(she/her)</span>
					<br><br>
				</h3>
				<h3 class="subtitle">what I do</h3>
				<p>
					<!-- , where I create visual stories with a focus on politics and the economy -->
					I'm a data and graphics reporter at NBC Local. Previously, I was a newsroom product manager at The Baltimore Banner. I studied data journalism at the Lede Program at Columbia University.
					<br><br>
					I served on the judging panel for the <a href="https://www.ire.org/announcing-the-2024-ire-award-winners-and-finalists/" target="_blank">2024 IRE Awards</a> and presented The Banner's voter guide for the 2024 Maryland primary elections at NICAR. My work at The Banner earned us the <a href="https://localmedia.org/2025/04/baltimore-banner-southeast-missourian-and-local-news-matters-win-top-honors-for-best-local-news-websites/" target="_blank">Local Media Association Award</a> for Best Local News Website in 2024 and the <a href="https://www.thebaltimorebanner.com/community/local-news/baltimore-banner-news-organization-of-the-year-mddc-awards-X6CKOSGM6JHSXINE2WXRPGFIWI/" target="_blank">MDDC Award</a> for General Website Excellence in 2024 and 2023. My team also supported the data pipeline for a <a href="https://www.thebaltimorebanner.com/specials/overdose-crisis/" target="_blank">Pulitzer Prize-winning investigative series on Baltimore's overdose crisis</a> with The New York Times.
					<br><br>
					I'm always open to collaborate! Please <a href="mailto:tejal.wakchoure@gmail.com" target="_blank">get in touch</a>.
					
					<!-- I owe my winding career to folks in the industry who answered my incessant questions, and I'm happy to pass it along. -->
					<br><br>
				</p>
				<!-- <h3 class="subtitle">how I do it</h3>
				<p>
					I use a cross-functional approach to journalism by: 
					<br>
					👾 <a href="https://tejalwakchoure.github.io/coup/" target="_blank">reporting data stories</a>
					<br>
					👾 <a href="https://tejalwakchoure.github.io/streets-songs/" target="_blank">creating visuals and interactives</a>
					<br>
					👾 <a href="https://tejalwakchoure.github.io/banner-elections/" target="_blank">building newsroom products</a>
					<br><br>
				</p> -->
				<h3 class="subtitle">how I got here</h3>
				<p>
					I researched <a href="https://www.media.mit.edu/projects/sg-kinesics/overview/" target="_blank">news visualization</a> and got involved in <a href="https://www.media.mit.edu/events/reimagine-this-place/" target="_blank">design for social impact</a> at MIT (<a href="https://bitsrnd.wordpress.com/2020/08/04/578/" target="_blank">here's an interview</a> on my experience). I majored in computer science at <a href="https://www.bits-pilani.ac.in/" target="_blank">BITS Pilani</a> in India, where I served as an editor for the university magazine. 
					<br><br>
					Before I got into journalism, I built trading platforms at Goldman Sachs, where I was a finalist in their 2020 COVID-19 Visualization Datathon. I found my interest shifting towards using data to empower storytelling—placing me at the intersection of journalism, design, and technology.
					<br><br> 
				<!-- </p> -->
				<!-- <h3 class="subtitle">I have a life outside of work, I swear...</h3> -->
				<!-- <p> -->
					When I'm not <a href="https://github.com/tejalwakchoure" target="_blank">building random stuff</a>, I:
				</p>  
				<div class="row timepass">
					<div class="col">
						
						<div class="fa-parent" style="flex-direction: column;">
							<div class="topper"></div>
							<i class="fa fa-gamepad" aria-hidden="false"></i>
							<!-- <i class="fa fa-gamepad fa-shadow" aria-hidden="true"></i> -->
						</div>
						<!-- <p class="small">attend pub quizzes and play casual games. I finished Disco Elysium in two days.</p> -->
						<p class="small">go to pub quizzes and play casual games. There's a good chance I'm playing Stardew Valley right now.</p>
					</div>
					<div class="col">
						
						<div class="fa-parent" style="flex-direction: column;">
							<div class="topper"></div>
							<i class="fa fa-bookmark" aria-hidden="false"></i>
							<!-- <i class="fa fa-bookmark fa-shadow" aria-hidden="true"></i> -->
						</div>
						<p class="small">read. One of my all-time favorites is  <a href="https://www.goodreads.com/book/show/37570546-maybe-you-should-talk-to-someone" target="_blank">Maybe You Should Talk to Someone</a>.</p>
					</div>
					<div class="col">
						
						<div class="fa-parent" style="flex-direction: column;">
							<div class="topper"></div>
							<i class="fa fa-headphones" aria-hidden="false"></i>
							<!-- <i class="fa fa-headphones fa-shadow" aria-hidden="true"></i> -->
						</div>
						<p class="small">listen to pop bangers. I firmly believe that the '00s was the greatest decade for pop music.</p>
					</div>
					<div class="col">
						
						<div class="fa-parent" style="flex-direction: column;">
							<div class="topper"></div>
							<i class="fa fa-tv" aria-hidden="false"></i>
							<!-- <i class="fa fa-tv fa-shadow" aria-hidden="true"></i> -->
						</div>
						<p class="small">watch TV. I am obsessed with Vox's <a href="https://www.imdb.com/title/tt8005374/" target="_blank">Explained</a> series.</p>
					</div>
				</div>
				<br><br>
			</div>
		</div>
	</div>
</section>