 <!-- Contact Section -->
 <section id="contact" class="success">
 	<div class="container">
 		<div class="row">
 			<div class="col-lg-12">
 				<hr class="light">
 				<h2>Get in touch</h2>
 			</div>
 		</div>
 		<div class="row">
 			<div class="col-lg-12">
 				<p><a style="padding-right:15px;" href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a></p>
 			</div>
 		</div>
 		<div class="row">
 			<div class="col-lg-12">			
				<p><a style="padding-left:15px; padding-right:15px;" href="//linkedin.com/in/tejalw" target="_blank">
					<i class="fab fa-linkedin-in fa-3x" aria-hidden="true"></i></a>
				<a style="padding-left:15px;" href="//github.com/tejalwakchoure" target="_blank">
					<i class="fa fa-github fa-3x" style="background:transparent;" aria-hidden="true"></i></a></p>
			</div>
		</div>
	</div>
</section>
