 <!-- Contact Section -->
 <section id="contact" class="success">
 	<div class="container">
 		<div class="row">
 			<div class="col-lg-12 text-center">
 				<h2>Contact</h2>
 				<hr class="light">  <!-- <hr class="primary"> -->
 			</div>
 		</div>
 		<div class="row">
 			<div class="col-lg-12 text-center">
 				<p><a style="padding-right:15px; color: #e6e6e6;" href="mailto:tejal.wakchoure@gmail.com" target="_blank">
 					<i class="fas fa-envelope-open-text fa-3x" aria-hidden="true"></i></a>
 					<a style="padding-left:15px; padding-right:15px; color: #e6e6e6;" href="//linkedin.com/in/tejalw" target="_blank">
 						<i class="fab fa-linkedin-in fa-3x" aria-hidden="true"></i></a>
 						<a style="padding-left:15px;" href="//github.com/tejalwakchoure" target="_blank">
 							<i class="fa fa-github fa-3x" style="color: #e6e6e6; background:transparent;" aria-hidden="true"></i></a></p>
 						</div>
 					</div>
 				</div>
 			</section>
