<!-- Contact Section -->
<section id="contact">
 	<div class="container" style="vertical-align: top;">
 		<div class="row" style="padding-left: 1em;">
 			<div class="col-lg-12">			
				<p><a style="padding-right:15px;" href="mailto:tejal.wakchoure@gmail.com">
					<i class="fa fa-envelope" style="font-size: 1.5em;" aria-hidden="true"></i></a>
				<a style="padding-right:15px; padding-left:15px;" href="//linkedin.com/in/tejalw" target="_blank">
					<i class="fa fa-linkedin" style="font-size: 1.5em;" aria-hidden="true"></i></a>
				<a style="padding-left:15px;" href="//github.com/tejalwakchoure" target="_blank">
					<i class="fa fa-github" style="font-size: 1.5em;" aria-hidden="true"></i></a></p>
			</div>
		</div>
	</div>
</section>
