<section id="portfolioDetails">
	<div class="container">
		<div class="row">
            <div class="col-lg-12 text-center">
				<div class="slider">
				  	<div class="slides">
					  	{% for post in site.posts %}
							<div id="slide-{{ post.modal-id }}">{{ post.modal-id }}</div>
						{% endfor %}
					</div>
					{% for post in site.posts %}
						<div class="hidden">
							<a href="#slide-{{ post.modal-id }}"></a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>


<!-- 		{% for post in site.posts %}
		<div id="portfolioDetails-{{ post.modal-id }}">
			<h2>Details for project #{{ post.modal-id }}</h2>
		</div>
		{% endfor %}

		<div class="dotstyle dotstyle-fillup">
			<ul>
				<li class="current"><a href="#">Home</a></li>
				{% for post in site.posts %}
					<li><a href="portfolio-item-{{ post.modal-id }}">{{ post.modal-id }}</a></li>
				{% endfor %}
			</ul>
		</div> -->
