	<!-- Portfolio Details Section -->
	<section id="portfolioDetails" class="animate__animated animate__slideInRight" style="animation-duration: 800ms;"> 
		<div class="container">
		<!-- <div class="row"> -->


			<div class="swiper-container-in">
				<div class="swiper-wrapper">
					{% for post in site.posts %}
					<div class="swiper-slide">
						<div class="container text-center">
						<div class="row" id="content-row">
							<img src="assets/img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}" id="main-img">
							<img src="assets/img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}" id="img-on-top">
						</div>
					</div>
				</div>
				{% endfor %}
				</div>
			</div>




			<div class="swiper-container">
				<div class="swiper-wrapper">
					{% for post in site.posts %}
					<div class="swiper-slide" id="slide-{{ post.modal-id }}">
						<div class="container text-center">
						<div class="row">
								<!-- <div class="page-scroll" style="height:fit-content; width:fit-content; float:left;"> -->
								<a role="button" href="javascript:void(0);" id="#slide-link-{{ post.modal-id }}" style="float: left; /*padding: 10px;*/
								padding: 10px 30px; background: #e82e2e; color: white;" 
								onclick="toggleOnPortfolioLink(6-{{ post.modal-id }});">
									<i class="fa fa-2x fa-angle-double-left"></i>
								</a>
							<!-- </div> -->
						</div>
						<!-- <div class="row" id="content-row"> -->
<div class="row">

</div>
<!-- 							<img src="assets/img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}" id="main-img">
							
							<img src="assets/img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}" id="img-on-top"> -->
			
			<div class="row" id="content-row">				
							<div id="content">
								<h2>{{ post.title }}</h2>
								{% if post.description %}
								<p>{{ post.description }}</p>
								{% endif %}
								<ul class="list-inline item-details">
									{% if post.project-date %}
									<li>Date:
										<strong>{{ post.project-date }}
										</strong>
									</li>
									{% endif %}
									{% if post.category %}
									<li>Area:
										<strong>{{ post.category }}
										</strong>
									</li>
									{% endif %}
									{% if post.github-link %}
									<li>Code:
										<strong><a href={{ post.github-link }} target="_blank">GitHub Repo</a>
										</strong>
									</li>
									{% endif %}
								</ul>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				</div>
	    		<div class="swiper-pagination"></div>
	    		<div class="swiper-navigation">
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
	</section>
</div>
</section>
