<section id="portfolioDetails">
	<div class="container">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ul class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ul>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				{% for post in site.posts %}
				{%if {{ post.modal-id }} == '6' %}
				<div class="item active">
					<div id="slide-{{ post.modal-id }}"><img src="assets/img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}" style=" height: 100%; width: 100%; object-fit: cover;"></div>
				</div>
				{% else %}
				<div class="item">
					<div id="slide-{{ post.modal-id }}"><img src="assets/img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}" style=" height: 100%; width: 100%; object-fit: cover;"></div>
				</div>
				{% endif %}
				{% endfor %}
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</section>




		<!-- <div class="row">
            <div class="col-lg-12 text-center">
				<div class="slider">
				  	<div class="slides">
					  	{% for post in site.posts %}
							<div id="slide-{{ post.modal-id }}">{{ post.modal-id }}</div>
						{% endfor %}
					</div>
					{% for post in site.posts %}
						<a href="#slide-{{ post.modal-id }}"></a>
					{% endfor %}
				</div>
			</div>
		</div> -->





<!-- 
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true" style="text-align: center !important; margin-top: 2% !important;
    margin-bottom: 2% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;">
        <div class="modal-content" style="border-radius: 20px !important;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="primary">
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.client %}
                                    <li>Client:
                                        <strong><a href="http://startbootstrap.com">{{ post.client }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.project-date %}
                                    <li>Date:
                                        <strong>{{ post.project-date }}
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.category %}
                                    <li>Area:
                                        <strong>{{ post.category }}
                                        </strong>
                                    </li>
                                {% endif %}
                              {% if post.github-link %}
                               <li>Code:
                               <strong><a 
                                href={{ post.github-link }}
                                style="text-decoration: underline; color: #000" 
                                target="_blank">GitHub Repo</a>
                                          </strong>
                                </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
-->




<!-- 		{% for post in site.posts %}
		<div id="portfolioDetails-{{ post.modal-id }}">
			<h2>Details for project #{{ post.modal-id }}</h2>
		</div>
		{% endfor %}

		<div class="dotstyle dotstyle-fillup">
			<ul>
				<li class="current"><a href="#">Home</a></li>
				{% for post in site.posts %}
					<li><a href="portfolio-item-{{ post.modal-id }}">{{ post.modal-id }}</a></li>
				{% endfor %}
			</ul>
		</div> -->
