<!-- Footer -->
<footer>
    <!-- total width minus navbar -->
    <div class="container" style="max-width: 100%; display: block; padding: 0;">
        <div class="row" style="margin: 0.25rem 0;">
          <div class="col-md float-left">     
            <p><a style="padding-right:8px;" href="mailto:tejal.wakchoure@gmail.com">
              <i class="fa fa-envelope" style="font-size: 1.1em !important;" aria-hidden="true"></i></a>
            <a style="padding-right:8px; padding-left:8px;" href="//linkedin.com/in/tejalw" target="_blank">
              <i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a style="padding-left:8px;" href="//github.com/tejalwakchoure" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i></a></p>
          </div>
            <div class="col-md text-right">
                <!-- <div class="container" style="width: fit-content; margin: 0; padding: 0;"> -->
                    <!-- <div class="row">
                        <div class="col-lg-12 text-center">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <i class="fa fa-coffee" aria-hidden="true" style="padding-left: 5px; padding-right: 5px;"></i>
                            <i class="fa fa-music" aria-hidden="true"></i>
                        </div>
                    </div> -->
                    <!-- <div class="row"> -->
                        <!-- <div class="col-lg-12 text-center"> -->
                            <p style="margin-bottom: 0; font-size: 0.8rem;">
                                made with <a class="text-link" href="//github.com/tejalwakchoure/tejalwakchoure.github.io" target="_blank" 
                                style="text-decoration: underline;">github</a>.</p>
                            <p style="margin-bottom: 0; font-size: 0.8rem;">
                                © tejal wakchoure</p>
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</footer>
