<!-- Footer -->
<footer>
    <div class="container">
        <div class="row" style="margin-top: 0.25rem; margin-bottom: 0.25rem;">
          <div class="col-lg-12 text-center">     
            <p><a style="padding-right:15px;" href="mailto:tejal.wakchoure@gmail.com">
              <i class="fa fa-envelope" style="font-size: 1.5em;" aria-hidden="true"></i></a>
            <a style="padding-right:15px; padding-left:15px;" href="//linkedin.com/in/tejalw" target="_blank">
              <i class="fa fa-linkedin" style="font-size: 1.5em;" aria-hidden="true"></i></a>
            <a style="padding-left:15px;" href="//github.com/tejalwakchoure" target="_blank">
              <i class="fa fa-github" style="font-size: 1.5em;" aria-hidden="true"></i></a></p>
          </div>
            <div class="col-lg-12 text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            <i class="fa fa-coffee" aria-hidden="true" style="padding-left: 5px; padding-right: 5px;"></i>
                            <i class="fa fa-music" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <p class="small" style="margin-bottom: 0;">Built with GitHub ©Tejal Wakchoure</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
