<header>
    <div class='title hor_parallax_left'>
        <div class="intro-text">
            <div class="name">
                <mark>Tejal</mark>
                <br>
                <mark>Wakchoure</mark>
            </div>
            <div class="skills"><br>
                <mark>Data Science </mark>
                <br>
                <mark>/ UI & UX Design </mark>
                <br>
                <mark>/ Network Analysis </mark>
           </div>
        </div>
    </div>
     <div class='img_div hor_parallax_right'>
        <!-- <img src="https://media.giphy.com/media/RgJJAaOb9uw4Kvcztb/giphy.gif" class="img-responsive" -->
        <img src="assets/img/desk-edit-image.png" class="img-responsive">
    </div>
</header>
