<header>
    <div class='title'>
        <div class="intro-text" 
        style="margin-left: 50%; margin-right: -150px;">
            <div class="name"><mark>
                Tejal
                <br>
                Wakchoure
            </mark></div>
            <div class="skills"><br><mark>
                Data Science
                <br>
                / UIX Design
                <br>
                / Network Analysis
            </mark></div>
        </div>
    </div>
     <div class='img_div'
     style="margin-left: -100px;">
        <img src="assets/img/header_img.jpg"
        class="img-responsive" width="75%" height="35%">
    </div>
    <!-- </div> -->
</header>
