<header>
    <!-- <div class="col-lg-7 col-lg-push-5"> -->
        <!-- <img src="assets/img/header-bg.jpg"
        class="img-responsive" 
        width="85%" height="35%"> -->
    <!-- </div> -->

    <!-- <div class="col-lg-5 col-lg-pull-7"> -->
    <div class='col' style="transform: translateY(10vh) translateX(5vw);">
       <img src="assets/img/header_img.jpg"
        class="img-responsive" 
        width="85%" height="35%">
    </div>
    <div class='col'>
        <div class="intro-text">
            <div class="name">Tejal<br>Wakchoure</div>
            <div class="skills">
                <br>
                Data Science
                <br>
                / UIX Design
                <br>
                / Social Network Analysis
            </div>
        </div>
    </div>
</header>
