 <!-- jQuery Version 1.11.0 -->
 <script src="{{ "/js/jquery-1.11.0.js" }}"></script>

 <!-- Bootstrap Core JavaScript -->
 <script src="{{ "/js/bootstrap.min.js" }}"></script>

 <!-- Swiper JavaScript -->
 <script src="{{ "/js/swiper-bundle.min.js" }}"></script>

 <!-- SimpleParallax JavaScript -->
 <script src="{{ "/js/simpleParallax.min.js" }}"></script>

 <!-- MouseScroll JavaScript -->
 <!-- <script src="{{ "/js/jquery.SmoothScrollWheel.min.js" }}"></script> -->
 <!-- <script src="{{ "/js/MagicScroll.cjs.js" }}"></script> -->
 <!-- <script src="{{ "/js/lucid.js" }}"></script> -->
 <script src="{{ "/js/EaseScroll.js" }}"></script>

 <!-- MagicGrid JavaScript -->
<!--  <script src="https://unpkg.com/magic-grid/dist/magic-grid.min.js"></script>
 -->

<!-- Colcade Grid JavaScript -->
<!-- <script src="https://unpkg.com/colcade@0/colcade.js"></script>
<script type="text/javascript">
    $('.grid').colcade({
      columns: '.grid-col',
      items: '.grid-item'
    })
</script>
 -->
 <!-- Plugin JavaScript -->
 <script src="{{ "/js/jquery.easing.min.js" }}"></script>
 <script src="{{ "/js/classie.js" }}"></script>
 <script src="{{ "/js/cbpAnimatedHeader.js" }}"></script>

 <!-- Email Obfuscation JavaScript -->
 <script src="{{ "/js/spamspan.js" }}"></script>

 <!-- Custom Theme JavaScript -->
 <script src="{{ "/js/main.js" }}"></script>

  <!-- Custom Theme NoScript -->
 <noscript>
 	<style>
 		html, body {
        	scroll-behavior: smooth;
    	}
	    #preloader {
	        display: none;
	    }
	    header .intro-text {
	    	visibility: unset;
	    }
	    #under_construction .btn:focus ~ .show-on-submit,
		#under_construction .btn:active ~ .show-on-submit,
		#under_construction .btn.active ~ .show-on-submit {
			display: block;
		}
    </style>
 </noscript>
 