 <!-- jQuery Version 1.11.0 -->
 <script src="{{ "/js/jquery-1.11.0.js" }}"></script>

 <!-- Bootstrap Core JavaScript -->
 <script src="{{ "/js/bootstrap.min.js" }}"></script>

 <!-- Plugin JavaScript -->
 <script src="{{ "/js/jquery.easing.min.js" }}"></script>
 <script src="{{ "/js/classie.js" }}"></script>
 <script src="{{ "/js/cbpAnimatedHeader.js" }}"></script>

 <!-- Custom Theme JavaScript -->
 <script src="{{ "/js/freelancer.js" }}"></script>
 <script src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-wp-preserve="%3Cscript%3E%0A%0AjQuery(document).ready(function()%20%7B%0A%0Avar%20offset%20%3D%20250%3B%0A%0Avar%20duration%20%3D%20300%3B%0A%0AjQuery(window).scroll(function()%20%7B%0A%0Aif%20(jQuery(this).scrollTop()%20%3E%20offset)%20%7B%0A%0AjQuery(%E2%80%98.back-to-top%E2%80%99).fadeIn(duration)%3B%0A%0A%7D%20else%20%7B%0A%0AjQuery(%E2%80%98.back-to-top%E2%80%99).fadeOut(duration)%3B%0A%0A%7D%0A%0A%7D)%3B%0A%0A%0A%0AjQuery(%E2%80%98.back-to-top%E2%80%99).click(function(event)%20%7B%0A%0Aevent.preventDefault()%3B%0A%0AjQuery(%E2%80%98html%2C%20body%E2%80%99).animate(%7BscrollTop%3A%200%7D%2C%20duration)%3B%0A%0Areturn%20false%3B%0A%0A%7D)%0A%0A%7D)%3B%0A%0A%3C%2Fscript%3E" data-mce-resize="false" data-mce-placeholder="1" class="mce-object" width="20" height="20" alt="&lt;script&gt;" title="&lt;script&gt;"></script>
