
<nav class="sidenav navbar navbar-expand-md">
    <div class="page-scroll">
        <a class="navbar-brand text" href="#page-top" style="height: auto;">tw</a>
    </div>
    <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        style="padding: .5rem;">
        <div class="navbar-toggler-icon" style="text-align: center;">
            <!-- <i class="fa fa-align-right" 
                style="color: #{{ site.color.accent }};
                        vertical-align: middle;
                        vertical-align: -webkit-baseline-middle;"></i> -->
            <i class="gg-menu-right-alt" 
                style="color: #{{ site.color.accent }};
                        display: inline-block;
                        vertical-align: middle;
                        vertical-align: -webkit-baseline-middle;"></i>
        </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav" style="height: 100%;">
            <li class="page-scroll">
                <a class="text" href="#about" data-toggle="collapse" data-target=".navbar-collapse.show">About</a>
            </li>
            <li class="page-scroll">
                <a class="text" href="#work" data-toggle="collapse" data-target=".navbar-collapse.show">Work</a>
            </li>
            <li class="page-scroll">
                <a class="text" href="#contact" data-toggle="collapse" data-target=".navbar-collapse.show">Contact</a>
            </li>
        </ul>
    </div>
    <div class="page-scroll time-wrapper">
        <span class="text navbar-text" style="transform: rotate(0deg);"></span>
    </div>
</nav>



<!-- <nav class="sidenav navbar navbar-expand-md">
    <div class="page-scroll">
        <a class="navbar-brand text nav-link" href="#page-top">tw</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="navbar-toggler-icon">
            <i class="fa fa-align-right" 
                style="color: #{{ site.color.accent }};"></i>
        </div>
    </button>
    <span class="text navbar-text"></span>

    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item page-scroll">
                <a class="text nav-link" href="#about">About</a>
            </li>
            <li class="nav-item page-scroll">
                <a class="text nav-link" href="#work">Work</a>
            </li>
            <li class="nav-item page-scroll">
                <a class="text nav-link" href="#contact">Contact</a>
            </li>
        </ul>
  </div>
  </nav> -->





<!-- <nav class="navbar sidenav" 
    style="flex-direction: column;">

        <div class="navbar-header container-fluid" 
            style="display: block;
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 10px;">
            <div class="page-scroll" 
                style="display: inline-block;
                        width: auto;
                        padding-left: 0;
                        padding-top: 0;">
                <a class="navbar-brand text" href="#page-top" 
                    style="padding-left: 0;">tw</a>
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-items" style="padding-right: 0;
                                margin-right: 0;
                                padding-top: 0;
                                margin-top: 0;">
                <i class="fa fa-align-right" 
                    style="color: #{{ site.color.accent }};"></i>
            </button>
        </div>



        <div class="collapse navbar-collapse" id="nav-items" 
            style="background: #{{ site.color.backgroundcol_dark }};">
            <ul class="nav navbar-nav">
                <li class="page-scroll">
                    <a class="text" href="#about" 
                        style="color:white;">About</a>
                </li>
                <li class="page-scroll">
                    <a class="text" href="#work"
                        style="color:white;">Work</a>
                </li>
                <li class="page-scroll">
                    <a class="text" href="#contact"
                        style="color:white;">Contact</a>
                </li>
            </ul>
        </div>
</nav>
 -->



<!-- <div class="sidenav">
    <div class="page-scroll">
        <a class="navbar-brand text" href="#page-top">tw</a>
    </div>
    <div class="page-scroll">
        <a class="text" href="#about">About</a>
    </div>
    <div class="page-scroll">
        <a class="text" href="#work">Work</a>
    </div>
    <div class="page-scroll">
        <a class="text" href="#contact">Contact</a>
    </div>
    <span class="text navbar-text"></span>
</div>
 -->





<!-- <div class="sidenav">
    <span class="text navbar-text"></span>
    <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="page-scroll">
        <a class="text navbar-brand" href="#page-top">tw</a></div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a class="text" href="#page-top"></a>
            </li>
            <li class="page-scroll">
                <a class="text" href="#about">About</a>
            </li>                   
            <li class="page-scroll">
                <a class="text" href="#work">Work</a>
            </li>
            <li class="page-scroll">
                <a class="text" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</div> -->




<!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <span class="navbar-text"></span>
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="page-scroll">
            <a class="navbar-brand" href="#page-top">tw</a></div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#about">About</a>
                </li>                   
                <li class="page-scroll">
                    <a href="#work">Work</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        
    </div>
</nav> -->
