
<nav class="sidenav navbar navbar-expand-md">
    <div class="page-scroll">
        <a class="navbar-brand text" href="#page-top" style="height: auto;">tw</a>
    </div>
    <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        style="padding: .5rem;">
        <div class="navbar-toggler-icon" style="text-align: center;">
            <i class="gg-menu-right-alt" 
                style="color: #{{ site.color.accent }};
                        display: inline-block;
                        vertical-align: middle;
                        vertical-align: -webkit-baseline-middle;"></i>
        </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav" style="height: 100%;">
            <li class="page-scroll">
                <a class="text" href="#about" data-toggle="collapse" data-target=".navbar-collapse.show">About</a>
            </li>
            <li class="page-scroll">
                <a class="text" href="#work" data-toggle="collapse" data-target=".navbar-collapse.show">Work</a>
            </li>
            <li class="page-scroll">
                <a class="text" href="#contact" data-toggle="collapse" data-target=".navbar-collapse.show">Contact</a>
            </li>
        </ul>
    </div>
    <div class="page-scroll time-wrapper">
        <span class="text navbar-text" style="transform: rotate(0deg);"></span>
    </div>
</nav>
