<nav class="sidenav navbar navbar-expand-custom">
    <div class="page-scroll navbar-brand-scroll">
        <a class="navbar-brand text" href="#main">tw</a>
    </div>
    <a class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="navbar-toggler-icon" style="text-align: center;">
            <i class="gg-menu-right-alt navbar-menu-icon" 
                style="color: #{{ site.color.text }};
                        display: inline-block;
                        vertical-align: middle;
                        vertical-align: -webkit-baseline-middle;"></i>
        </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav">
            <li class="page-scroll">
                <a class="text nav-link" href="#about" data-toggle="collapse" data-target=".navbar-collapse.show">About</a>
            </li>
            <li class="page-scroll">
                <a class="text nav-link" href="#work" data-toggle="collapse" data-target=".navbar-collapse.show">Work</a>
            </li>
            <!-- <li class="page-scroll">
                <a class="text nav-link" href="https://tejalwakchoure.github.io/blog/">Blog</a>
            </li> -->
            <li class="page-scroll">
                <a class="text nav-link" href="#contact" data-toggle="collapse" data-target=".navbar-collapse.show">Contact</a>
            </li>
        </ul>
    </div>
    <div class="page-scroll kill-on-small-devices">
        <span class="text navbar-text"></span>
    </div>
</nav>
