<!-- Portfolio Section -->
<section id="work">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="heading">Selected Work</h2>
        </div>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="animate__animated animate__slideInLeft" style="animation-duration: 800ms;">
        <div class="container">
            <div class="row">
                <!-- <div class="grid">
                    <div class="grid-col"></div>
                    <div class="grid-col"></div>
                    {% for post in site.posts %}
                        <div id="portfolio-item-{{ post.project-id }}" class="grid-item grid-item-{{ post.project-id }}">
                            <div class="portfolio-link-wrapper">
                                <a id="portfolio-link-{{ post.project-id }}" href="javascript:void(0);" class="overlay-link" onclick="toggleOnPortfolioLink(6-{{ post.project-id }});"></a>
                                <div class="overlay"> 
                                    <span style="margin: auto;"> {{ post.title }} </span>
                                </div>
                                To reduce the lossless effect, if the scale is set at 1.2 (default) and your image is 500px width, do the simple math 500 * 1.2 = 600. So you can choose a 600px image to replace your 500px one, and don't see any quality leak.
                                <img src="assets/img/portfolio/{{ post.img }}" alt="image" class="px_img img-responsive" height="500" width="500"/>
                            </div>
                        </div>
                    {% endfor %}
                </div> -->
                <div class="masonry-grid">
                    {% for post in site.posts %}
                        <div id="portfolio-item-{{ post.project-id }}" class="masonry-item grid-item-{{ post.project-id }}">
                            <div class="portfolio-link-wrapper">
                                <a id="portfolio-link-{{ post.project-id }}" href="javascript:void(0);" class="overlay-link" onclick="toggleOnPortfolioLink(6-{{ post.project-id }});"></a>
                                <div class="overlay"> 
                                    <span style="margin: auto;"> {{ post.title }} </span>
                                </div>
                                <!-- To reduce the lossless effect, if the scale is set at 1.2 (default) and your image is 500px width, do the simple math 500 * 1.2 = 600. So you can choose a 600px image to replace your 500px one, and don't see any quality leak.  -->
                                <img src="assets/img/portfolio/{{ post.img }}" alt="image" class="px_img img-responsive" height="575" width="575"/>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
