<!-- Portfolio Section -->
<section id="work">
<div class="container" style="padding: 0;">
    <div class="col-lg-12 text-center heading-col">
        <h2 class="heading" style="margin-left: -15px; margin-right: -15px;">Featured Work</h2>
    </div>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="animate__animated animate__slideInLeft">
        <div class="container">
            <div class="row">
                <div class="masonry-grid">
                    {% for post in site.posts.page %}
                        <div class="masonry-item">
                            <div class="portfolio-link-wrapper">
                                <a id="portfolio-link-{{ post.project-id }}" href="javascript:void(0);" class="overlay-link" onclick="toggleOnPortfolioLink(6-{{ post.project-id }});"></a>
                                <div class="overlay"> 
                                    <span style="margin: auto;"> {{ post.title }} </span>
                                </div>
                                <!-- To reduce the lossless effect, if the scale is set at 1.2 (default) and your image is 500px width, do the simple math 500 * 1.2 = 600. So you can choose a 600px image to replace your 500px one, and don't see any quality leak. -->
                                <picture>
                                   <source 
                                      media="(max-width: 768px)"
                                      srcset="assets/img/small-devices/portfolio/{{ post.img }}">
                                   <source 
                                      srcset="assets/img/portfolio/{{ post.img }}">
                                   <img src="assets/img/portfolio/{{ post.img }}" 
                                   class="px_img img-responsive" 
                                   alt="{{ post.alt }}">
                                </picture>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
