<!-- Post details Section -->
{% for post in site.work_sections %}
    {% if post.path contains page.title and post.path contains 'posts' %}
	<section id="postDetails" data-nosnippet>
		<div class="container">
			<div class="row">
				<div style="height: fit-content;">
					<a role="button" href="//tejalwakchoure.github.io/" class="slide-link">
						<!-- <i class="fa fa-chevron-left" aria-hidden="true"></i> -->
						BACK
					</a>
				</div>
			</div>
			<div class="row text-center">
                <picture>
                   <source 
                      media="(max-width: 768px)"
                      srcset="assets/img/small-devices/portfolio/{{ post.img }}">
                   <source 
                      srcset="assets/img/portfolio/{{ post.img }}">
                   <img src="assets/img/portfolio/{{ post.img }}" 
                   class="img-responsive" 
                   alt="{{ post.alt }}"
                   id="main-img">
                </picture>
			</div>
			<div class="row" id="content-row">
				<h3 class="title">{{ post.title }}</h3>		
				{% if post.project-date %}
					<span>{{ post.project-date }}</span>
				</li>
				{% endif %}
				<div id="content">
					{% if post.summary %}
						<p>
							<h4 class="heading">Summary</h4>
							{{ post.summary }}
						</p>
					{% endif %}
					{% if post.description %}
						<p markdown="1">
							<h4 class="heading">Summary</h4>
							{{ post.description }}
						</p>
					{% endif %}
					{% if post.link %}
						<span style="text-align: center; padding: 2rem 0 0 0;">
							Further details: <a href={{ post.link }} target="_blank">{{ post.link-type }}</a>
						</span>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
	{% endif %}
{% endfor %}
