<!-- Post details Section -->
{% for project in site.project %}
    {% if page.path == project.path %}
	<section id="postDetails" data-nosnippet>
		<div class="container">
			<div class="row" style="height: fit-content; margin: 15px;">
				<a role="button" class="slide-link back-link" onclick="backlink();">
					<!-- <i class="fa fa-chevron-left" aria-hidden="true"></i> -->
					BACK
				</a>
			</div>
			<div class="row" style="flex-direction: column;">
				<h3 class="post-title">{{ project.title }}</h3>		
				{% if project.project-date %}
					<span style="margin: auto; margin-top: 10px; font-weight: 200;">{{ project.project-date }}</span>
				</li>
				{% endif %}
			</div>
			<div class="row" style="justify-content: center;">
                <picture>
                   <source 
                      media="(max-width: 768px)"
                      srcset="/assets/img/small-devices/portfolio/{{ project.img }}">
                   <source 
                      srcset="/assets/img/portfolio/{{ project.img }}">
                   <img src="/assets/img/portfolio/{{ project.img }}" 
                   class="img-responsive" 
                   alt="{{ project.alt }}"
                   id="main-img">
                </picture>
			</div>
			<div class="row" id="content-row">
				{% if project.summary %}]
					<h4 class="post-heading">Summary</h4>
					<p>{{ project.summary }}</p>
				{% endif %}
				{% if project.description %}
						<h4 class="post-heading">Details</h4>
						<p markdown="1">{{ project.description }}</p>
				{% endif %}
				{% if project.link %}
					<p style="text-align: center; padding: 2rem 0 0 0;">
						Further details: <a href={{ project.link }} target="_blank">{{ project.link-type }}</a></p>
				{% endif %}
			</div>
		</div>
	</section>
	{% endif %}
{% endfor %}
