<!-- Post details Section -->
{% for post in site.posts %}
    <!-- {% if page.path == post.path %} -->
	<section id="postDetails" data-nosnippet>
		<div class="container">
			<div class="row" style="height: fit-content; margin: 15px;">
				<a role="button" class="slide-link back-link" onclick="backlink();">
					<!-- <i class="fa fa-chevron-left" aria-hidden="true"></i> -->
					BACK
				</a>
			</div>
			<div class="row" style="flex-direction: column;">
				<h3 class="post-title">{{ post.title }}</h3>		
				{% if post.project-date %}
					<span style="margin: auto; margin-top: 10px; font-weight: 200;">{{ post.project-date }}</span>
				</li>
				{% endif %}
			</div>
			<div class="row" style="justify-content: center;">
                <picture>
                   <source 
                      media="(max-width: 768px)"
                      srcset="/assets/img/small-devices/portfolio/{{ post.img }}">
                   <source 
                      srcset="/assets/img/portfolio/{{ post.img }}">
                   <img src="/assets/img/portfolio/{{ post.img }}" 
                   class="img-responsive" 
                   alt="{{ post.alt }}"
                   id="main-img">
                </picture>
			</div>
			<div class="row" id="content-row">
				{% if post.summary %}]
					<h4 class="post-heading">Summary</h4>
					<p>{{ post.summary }}</p>
				{% endif %}
				{% if post.description %}
						<h4 class="post-heading">Details</h4>
						<p markdown="1">{{ post.description }}</p>
				{% endif %}
				{% if post.link %}
					<p style="text-align: center; padding: 2rem 0 0 0;">
						Further details: <a href={{ post.link }} target="_blank">{{ post.link-type }}</a></p>
				{% endif %}
			</div>
		</div>
	</section>
	<!-- {% endif %} -->
{% endfor %}
