<style>
	#preloader {
		height: 100vh;
		width: 100%;
		position: relative;
		z-index: 4;
		background-color: #{{ site.color.lightbkg }};
		color: #{{ site.color.lighttext }};
	}
	#preloader .container {
		height: 100vh; 
		width: 100%;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    font-family:Raleway,Montserrat,sans-serif;
		font-weight: 100; 
		text-transform: lowercase; 
	}
	#preloader .container #wrapper {
    	font-family:lato,Montserrat,sans-serif;
	}

</style>


<div id="preloader">
	<div class="container">
			<p id="brand" style="font-size: 7em; letter-spacing: -0.08em; 
								margin: auto auto 0 auto;">tw</p>
			
			<div id="wrapper" style="margin:auto; display:flex; 
								flex-direction:row; align-items:flex-end;">
				<p style="font-size: 2em; padding-right: 10px;">%</p>
			    <p id="count" style="font-size: 4em; margin-bottom: 0;">100</p>
			</div>
	</div>
</div>