
<div id="preloader">
	<div class="container">
		<p id="brand" style="font-size: 7.35em; letter-spacing: -0.08em; 
								margin: auto auto 0 auto;">tw</p>
			
			<div id="wrapper" style="margin:auto; display:flex; 
								flex-direction:row; align-items:center;
								border: 0.5px solid #{{ site.color.lighttext }};
    							border-radius: 50%; width: 6em; height: 6em; 
    							min-width: fit-content; padding: 1em; ">
				
				<p style="font-size: 1em; padding-right: 0.1em; margin: auto;">%</p>
			    <p id="count" style="font-size: 1.75em; margin: auto;">1</p>
			</div>



			<!-- Without circle (optimum!) -->

			<!-- <p id="brand" style="font-size: 7em; letter-spacing: -0.08em; 
								margin: auto auto 0 auto;">tw</p>
			
			<div id="wrapper" style="margin:auto; display:flex; 
								flex-direction:row; align-items:flex-end;">
				<p style="font-size: 2em; padding-right: 0.1em;">%</p>
			    <p id="count" style="font-size: 4em; margin-bottom: 0;">1</p>
			</div> -->
	</div>
</div>
