<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=block">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap" media="print" onload="this.media='all'">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap" media="print" onload="this.media='all'">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ "/style.css" }}">

<!-- Custom CSS (non-critical) -->
<link rel="stylesheet" href="{{ "/style-non-critical.css" }}" media="print" onload="this.media='all'">