<!-- Under construction page -->
<section id="under_construction" class="under_construction">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-12 text-center">
            <h1>Hi!</h1>
            <h3>I am currently updating my website with new projects. For any queries, do get in touch with me at <a style="padding-right:15px; color: #575757 !important;" href="mailto:tejal.wakchoure@gmail.com" target="_blank">tejal.wakchoure@gmail.com</a>.</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 text-center">
            <p><a style="padding-left:15px; padding-right:15px; color: #575757 !important;" href="//linkedin.com/in/tejalw" target="_blank">
                <i class="fab fa-linkedin-in fa-3x" aria-hidden="true"></i></a>
	             <a style="padding-left:15px;" href="//github.com/tejalwakchoure" target="_blank">
	 							<i class="fa fa-github fa-3x" style="color: #575757 !important; background:transparent;" aria-hidden="true"></i></a></p>
          </div>
      </div>
    </div>
</section>