<header>
    <div class="col-lg-7 col-lg-push-5">
        <!-- <img src="assets/img/header-bg.jpg"
        class="img-responsive" 
        width="85%" height="35%"> -->
    </div>

    <div class="col-lg-5 col-lg-pull-7">
        <div class="intro-text">
            <div class="name">Tejal Wakchoure</div>
            <div class="skills">
                <br>
                Data Science
                <br>
                / UIX Design
                <br>
                / Social Network Analysis
            </div>
        </div>
    </div>
</header>
