<!-- Under construction page -->
<section id="under_construction" class="grainy-page">
	<div class="container">
		<div class="row header-title" style="visibility: visible; width: 100%; padding: 0;">
			<h1 class="header-intro-text" style="margin: 0; text-align: right;">
	            <span class="name" style="font-size: 10vw;">
	                Tejal Wakchoure
	            </span>
	            <br/>
	            <span class="skills">
	                writer, 
	                designer, 
	                developer
	           </span>
	        </h1>
	    </div>
	    <div class="row" style="margin: auto;">
			<div class="col-lg-12 text-center">
				<h1 style="text-transform: none; letter-spacing: normal;">
				Hi, thanks for stopping by!</h1>
				<!-- <hr/> -->
				<br>
				<br>
				<p style="margin-bottom: 0.25rem;">I am updating this space with new projects.</p>
				<p>In the meantime, feel free to reach out on any of the platforms below.</p>
				<br>
			</div>
			<div class="col-lg-12 text-center">
				<a style="padding-right:15px;" href="mailto:tejal.wakchoure@gmail.com">
					<i class="fa fa-envelope"></i>
				<a style="padding-left:15px; padding-right:15px;" href="//linkedin.com/in/tejalw" target="_blank">
					<i class="fa fa-linkedin" aria-hidden="true"></i></a>
				<a style="padding-left:15px;" href="//github.com/tejalwakchoure" target="_blank">
					<i class="fa fa-github" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>

		<!-- <div class="ocean">
		  <div class="wave"></div>
		  <div class="wave"></div>
		</div> -->


		<!-- <div class="row">
			<div class="col-lg-12 text-center">
				<form action="//formspree.io/{{ site.email }}" method="POST" target="output_frame"
					name="sentMessage" id="contactForm" novalidate 
					style="width: 50%; max-width: 500px; margin: auto;">
					<div class="form-group col-xs-12 floating-label-form-group controls" 
						style="border-top-right-radius: 5px;border-top-left-radius: 5px; border-bottom: 0;">
						<input type="text" name="name" class="form-control form-control-sm" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
					</div>
					<div class="form-group col-xs-12 floating-label-form-group controls middle-form">
						<input type="email" name="_replyto" class="form-control form-control-sm" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
					</div>
					<div>
						<input type="hidden"  name="_subject" value="New submission!">
						<input type="text" name="_gotcha" style="display:none"/>
					</div>
					<div class="form-group col-xs-12 floating-label-form-group controls"
						style="border-bottom-right-radius: 5px;border-bottom-left-radius: 5px; border-top: 0;">
						<textarea rows="3" name="message" class="form-control form-control-sm" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
					</div>

					<br>
					<button type="submit" class="btn" 
						onclick="document.getElementById('thanks').style.display = 'block';">Send Note</button>
					<div id="thanks" class="show-on-submit"><p>Thank you, I will be in touch soon!</p></div>
				</form>				
			</div>
		</div> -->	
	<!-- <iframe name="output_frame" src="" id="output_frame" width="0px" height="0px" style="display: none;"></iframe> -->
</section>
