html,body   
{
	width: 100%;    
	/*height: 100%;   */
	height: fit-content;
	margin: 0px;    
	padding: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum";
	font-weight: 300;
	font-family:Raleway,Montserrat,sans-serif;
	/*background-color: #{{ site.color.lightbkg }};*/
}   

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

/*.animate__animated.animate__fadeOutRight {
	--animate-duration: 1000;
}*/

.body-container {
  transition: background-color 1s ease;
}

.color-common {
  background-color: #{{ site.color.lightbkg }};
}
.color-1 {
  background-color: #{{ site.color.bkg1 }};
}
.color-2 {
  background-color: #{{ site.color.bkg2 }};
}
.color-3 {
  background-color: #{{ site.color.bkg3 }};
}
.color-4 {
  background-color: #{{ site.color.bkg4 }};
}

/*
#rectangle {
	height: 85%;
	width: 100%;
	background-color: #{{ site.color.lightelement }};
}

#circle {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: #{{ site.color.lighttext }};
    margin: auto;
}

#line {
	background: #{{ site.color.lighttext }};
    width: 30%;
    height: 5px;
    margin: auto 0;
}*/

#preloader {
	height: 100vh;
	width: 100%;
	position: relative;
	z-index: 4;
	background-color: #{{ site.color.lightbkg_secondary }};
	color: #{{ site.color.lighttext }};
}
#preloader .container {
	height: 100vh; 
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family:Raleway,Montserrat,sans-serif;
	font-weight: 100; 
	text-transform: lowercase; 
}
#preloader .container #wrapper {
	font-family:lato,Montserrat,sans-serif;
	font-weight:200;
}

.show-on-submit {
	display: none;
}

p { 
	font-size: 25px;/*20px;*/    
}   

p.small {   
	font-size: 16px;    
}

p.large {   
	font-size: 40px;    
}   

a,  
a:hover,    
a:focus,    
a:active,   
a.active {  
	outline: 0; 
	color: #{{ site.color.lighttext }};
}   

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {    
	text-transform: uppercase;  
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;    
	letter-spacing: 3px;   
}   

hr{ 
	margin: 25px auto 30px; 
	padding: 0; 
	max-width: 200px;   
	border: 0;  
	border-top: solid 3px;  
	/*overflow: visible;  */
}   

hr.light{   
	border-color: #{{ site.color.lightelement }};
	padding-bottom: 20px; 
}   

hr.primary{ 
	border-color: #{{ site.color.lightelement }};
}   
.img-centered { 
	margin: 0 auto; 
}

#under_construction {
	width: 100%;
	height: 100vh;
	padding: 2% !important;
	color: #{{ site.color.lighttext }};
	display: table;
	background: #{{ site.color.lightbkg_secondary }};
}

#under_construction a {
	color: #{{ site.color.lighttext }} !important;
	font-weight: bold;
}

#under_construction a:hover,
#under_construction a:focus, 
#under_construction a:active,
#under_construction a.active {
	color: #{{ site.color.lighttext_heading }}; !important;
}

#under_construction .btn {
	width: 30%;
	min-width: fit-content;
	background-color: #{{ site.color.lighttext }};
	border-color: #{{ site.color.lighttext }};
}
#under_construction .btn:hover,
#under_construction .btn:focus,
#under_construction .btn:active,
#under_construction .btn.active {
	background-color: #{{ site.color.lighttext_heading }};
	border-color: #{{ site.color.lighttext_heading }};
}


.navbar {   
	z-index: 3;
	text-transform: uppercase;
	font-weight: 400;
	font-family:Raleway,Montserrat,sans-serif;
	color: #{{ site.color.lightelement }};
	background: transparent;
	/*background-color: #{{ site.color.lightbkg }};*/
	min-height: 30px !important;
	position: relative;
}   

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background: transparent;
}

.navbar a:focus {   
	outline: 0; 
}   

.navbar .navbar-nav {   
	letter-spacing: 1px;    
}

.navbar-default,    
.navbar-inverse {   
	border: 0;  
}   
.navbar-nav > li > a, .navbar-brand {   
	padding-top:5px !important; 
	padding-bottom:0 !important;    
	height: 30px;   
	color: #{{ site.color.lightelement }} !important;
	font-size: 1.5em;
}

.navbar-brand {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	text-transform: lowercase;
    letter-spacing: -0.08em;
    font-weight: 100;
    font-size: 2em;
}  
.navbar-toggle {
    margin-top: 0;
    border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #{{ site.color.lightelement }} !important;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
	background-color: transparent;
}

.navbar-text {
	font-weight: 600;
	text-align: end;
	text-transform: none;
    float: right !important;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
	color: #{{ site.color.lightelement }} !important;
}

.navbar-container {
	width: 100vw; 
	padding-left: 5vw; 
	padding-right: 5vw;
	padding-top: 13px;
}

@media(min-width:768px) {   
	.navbar-fixed-top { 
		padding: 15px 0;
		-webkit-transition: padding .3s;    
		-moz-transition: padding .3s;   
		transition: padding .3s;    
	}   

	.navbar-fixed-top .navbar-brand {   
		font-size: 3em !important;
		letter-spacing: -0.08em;
		font-weight: 100 !important;
		text-transform: lowercase; 
		-webkit-transition: all .3s;    
		-moz-transition: all .3s;   
		transition: all .3s;
		margin: 0!important;    

	}

	.navbar-fixed-top.navbar-shrink {   
		padding: 10px 0;    
	}   

	.navbar-fixed-top.navbar-shrink .navbar-brand { 
		font-size: 2em !important;
		letter-spacing: -0.08em;   
		font-weight: 100 !important;
		text-transform: lowercase;
		margin: 0!important;
	}  

	.navbar-container {
		padding-top: 0;
	}

	.navbar-text {
		padding: 2.5px 0 0 25px;
	}
}



*{      
	box-sizing: border-box; 
}   
section {   
	padding: 5vw;
	width: 100%;    
	display: table; 
	margin: 0;  
	min-height: 90% !important; 
	height: 100vh;
	color: #{{ site.color.lighttext }};    
}   


section .container {    
	display: table-cell;  
	vertical-align: middle;   
}   

section h2 {    
	margin: 0;  
	font-size: 2.5em; 
	color: #{{ site.color.lighttext_heading }}; 
}   

/*section.success {   
	background: #{{ site.color.lightbkg }};
}   */

@media(max-width:768px) {   
	section {   
		padding: 75px 5vw; /*75px 0;*/    
	}   

	section.first { 
		padding-top: 75px;  
	}   
}   


header {    
	width: 100%;    
	/*padding: 5% 0;*/
	padding-right: 5vw;
	padding-left: 5vw;
	color: #{{ site.color.lighttext_heading }};
	min-height: 100vh !important;
	/*overflow: auto;*/
	display: flex;
	width: 100vw;
	/*margin-top: -21px;*/
	margin: 0;
	display: flex;
	flex-direction: column;
	/*background: #{{ site.color.lightbkg }};*/
}

header img {
	/*display: block;
    margin-right: 0;
    margin-left: auto;*/
    width: 100%;
    object-fit: cover;
}

header .img_div {
	width: auto;
	padding-right: 0;
	display: flex; 
    align-items: center;
    padding-bottom: 2vw;
}

header .title {
	width: auto;
	padding-left: 0;
	align-items: center;
	display: block;
	padding-top: 3vw;
	padding-bottom: 5vw;
}

header .intro-text {
	/*transform: translateY(40%);*/
	display: block; 
	visibility: hidden;
	text-align: right;
	/*padding-right: 5vw; */
	/*font-family: "lato", sans-serif;*/
}

header .intro-text .name {
	/*font-size: 3em; */
	
	font-size: 8.5vw;
	font-weight: 700;     
	/*letter-spacing: 10px;*/
	text-transform: uppercase;
}   


header .intro-text .skills {    
	/*font-size: 1.5em;  */
	font-weight: 400;
	color: #{{ site.color.lighttext }};
	font-size: 3.25vw;
	/*letter-spacing: 4px;*/
	/*font-variant-caps: all-small-caps;*/
}  

@media(min-width:768px) {
	header {
		flex-direction: row !important;
	}

	header .img_div {
		width: 50vw;
		padding-right: 2vw;
	}

	header .title {
		width: 50vw;
		padding-left: 2vw;
		display: flex;
		padding-top: 0;
		padding-bottom: 2vw;
	}
	header .intro-text .name {  
		font-size: 6.5vw;
		/*font-size: 7vw !important;*/
	}   

	header .intro-text .skills {    
		font-size: 2.5vw;
		/*font-size: 3vw !important;*/
	}  
} 

/*@media (max-width: 1200px) {
	header img {
	}

	header .intro-text .name{
		
	}

	header {
	}
}*/

#about p {
	padding: 2vh 0;
	font-weight: 500;
	font-size: 70px;
	color: #{{ site.color.lighttext_heading }}; 
}
#about p .main {
	color: #{{ site.color.lightbkg }};
}
#about a {
	text-decoration: underline;
}
#about img {
	margin: auto; 
	object-fit: cover;
    height: 400px; 
    width: 300px; 
    box-shadow: 25px 25px #{{ site.color.lightbkg }};
}
#about .row {
	display: flex; 
	flex-flow: row wrap;
}


.timeline {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
}


.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}


.li.complete {
  flex-basis: 33%;
}

.status {
  position: relative;
  padding: 20px 40px 0 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 100;
  border-top: 2px solid #{{ site.color.lighttext }};
}
.status h4 {
  font-weight: 600;
  padding-top: 10px;
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #{{ site.color.lighttext }};
  border: 5px solid #{{ site.color.lightbkg }};
  position: absolute;
  top: -14px;
  left: 42%;
}


@media ( max-width: 768px ) {
  .timeline {
    flex-direction: column;
  }

  .li.complete {
    display: flex;
    width: 100%;
  }

  .timestamp {
  	padding: 20px;
    flex-basis: 30%;
    min-width: 100px;
  }

  .status:before {
    top: 32%;
    left: -14px;
  }
  .status {
  	flex-basis: 70%;
  	padding: 20px;
    border-top: 0;
    border-left: 2px solid #{{ site.color.lighttext }};
  }
}


#work {
	scroll-behavior: smooth;
	padding: 0; 
}

#portfolio .portfolio-link-wrapper img {    
	height: 100%; 
	width: 100%; 
	object-fit: cover;
}

#portfolio .portfolio-link-wrapper {
	position: relative; 
	overflow: hidden; 
	height: 100%; 
	width: 100%;
}   

#portfolio .portfolio-item .portfolio-link {    
	display: block; 
	position: relative; 
	margin: 0 auto; 
	width: 300px;
}   

#portfolio * {  
	z-index: 2; 
}   

@media(min-width:768px) {   
	#portfolio .portfolio-item {    
		margin: 0 0 30px;   
	}   
}


.grid {
	display: flex;
  	display: -webkit-box;
  	padding: .5rem .5rem 0 .5rem;
}

.grid-col {
  	-webkit-box-flex: 1;
    flex-grow: 1;
}

.grid-item {
  	color: #{{ site.color.lightbkg }};
  	text-align: center;
  	padding: 0.65em;

  	font-weight: 900;
  	font-size: 2rem;

  	height: 400px;
    line-height: 400px;
}

/* 1 column by default, hide columns 2 & 3 */
.grid-col:nth-child(2), .grid-col:nth-child(3) { 
	display: none;
}

/* 2 columns at medium size */
@media ( min-width: 768px ) {
	/* show column 2 */
	.grid-col:nth-child(2) { 
  		display: block; 
	}
  
   	.grid-col:nth-child(1) > .grid-item:nth-child(odd),
	.grid-col:nth-child(2) > .grid-item:nth-child(even) {
	    height: 400px;
	    line-height: 400px;
	}

	.grid-col:nth-child(1) > .grid-item:nth-child(even),
	.grid-col:nth-child(2) > .grid-item:nth-child(odd) {
	    height: 500px;
	    line-height: 500px;
	}
}

/* 3 columns at large size */
@media ( min-width: 1080px ) {
	/* show column 3 */
  	.grid-col:nth-child(3) { 
  		display: block; 
  	}
  
  	.grid-col:nth-child(1) > .grid-item:nth-child(even),
	.grid-col:nth-child(2) > .grid-item:nth-child(odd),
	.grid-col:nth-child(3) > .grid-item:nth-child(even) {
	    height: 400px;
	    line-height: 400px;
	}

	.grid-col:nth-child(1) > .grid-item:nth-child(odd),
	.grid-col:nth-child(2) > .grid-item:nth-child(even),
	.grid-col:nth-child(3) > .grid-item:nth-child(odd) {
	    height: 500px;
	    line-height: 500px;
	}
}

#portfolioDetails {
	height: fit-content;
    width: 100%;
	display: none;
}

.swiper-container {
	/*background-color: #{{ site.color.lightbkg_overlay }};;*/
	box-shadow: 0px 0px 13px #{{ site.color.gray_dark }};;
	display: grid;
	padding: 10px 10px 10px 0;
	height: 100%;
	width: 85%;
}
.swiper-slide .slide-back-link {
	float: left; 
	padding: 20px 20px 0 20px; 
	outline: 0;
	color: #{{ site.color.lighttext }};
	background: transparent;
}
.swiper-slide #content {
	padding-left: 3%; 
	padding-right: 2%; 
	margin: auto auto auto 200px;
}
.swiper-slide #content-row {
	display: flex; 
	flex-direction: row; 
	position: relative; 
	padding: 10px 0;
}
.swiper-slide #content p {
	font-size: 20px; 
	text-align: left; 
	margin-top: 10%; 
	margin-bottom: 5%;
}
.swiper-slide #content a {
	text-decoration: underline; 
	/*color: #{{ site.color.lighttext_heading }};*/
}
.swiper-slide #main-img {
	height: 400px; 
	width: 200px; 
	object-fit: cover; 
	margin: auto 0;
}
.swiper-slide #img-on-top {
	position: absolute; 
	z-index: 2; 
	margin: auto 0 auto 100px;
	height: 250px; 
	width: 300px; 
	object-fit: cover;
	top: 50%; 
	bottom: 50%;
}
.swiper-pagination, .swiper-button-prev, .swiper-button-next {
	position: relative !important;
	color: #{{ site.color.lighttext }};
}
.swiper-pagination {
	display: inline-table; 
	left: 2.5%;
}
.swiper-navigation {
	display: inline-table; 
	width: 100%; 
	color: #{{ site.color.lighttext }}; !important;
}
.swiper-button-prev {
	float: left;
}
.swiper-button-next {
	float: right;
}
.swiper-pagination-bullet-active {
	background: #{{ site.color.lighttext_heading }};
}


@media ( max-width: 1200px ) {
	.swiper-slide #content {
		margin: auto auto auto 150px;
	}
	.swiper-slide #main-img {
		height: 350px;
		width: 150px;
	}
	.swiper-slide #img-on-top {
		height: 200px;
    	width: 250px;
    	margin: auto 0 auto 50px;
	}
}

@media ( max-width: 768px ) {
	.swiper-slide #content-row {
		flex-direction: column;
	}
	.swiper-slide #content{
		margin: auto;
		padding: 5%;
	}
	.swiper-slide #main-img {
		height: 250px;
		width: 400px;
		margin: auto;
	}
	.swiper-slide #img-on-top {
		display: none;
	}
}


#portfolio .overlay-link {
	height: 100%;
	width: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}

.overlay {
	font-size: 1.25em; 
	font-weight: 300; 
	text-transform: uppercase;
	position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    transition: transform 300ms;
    color: #{{ site.color.darktext }};
    background-color: #{{ site.color.lightbkg_overlay }};
    transform: translate3d(-101%, 0, 0);
    transition-duration: 500ms;
}


.overlay-link:hover ~ .overlay {
	transform: translate3d(0, 0, 0);
}


#contact p .title{
	font-size: 6.5em;
    font-weight: 500;
    text-transform: uppercase;
    color: #{{ site.color.lighttext_heading }}; 
}

footer {    
	/*color: #{{ site.color.lightbkg }}; */
}

footer a {
	color: #{{ site.color.lighttext }};
	text-decoration: underline;
}

footer .footer-above {  
	padding-top: 50px;  
	/*background-color: #{{ site.color.lightbkg }};  */
}   

footer .footer-col {    
	margin-bottom: 50px;    
}   

footer .footer-below {  
	padding: 12px 0;    
	color: #{{ site.color.lighttext }};
	background-color: transparent;
    border-top: 1px solid #{{ site.color.lighttext }};
	/*background-color: #{{ site.color.lightbkg }}; */
}   


.fa-linkedin {  
	background: #{{ site.color.lightbkg }};
	/*color: #{{ site.color.lighttext }}; */
}   

.fa-github {    
	background: #{{ site.color.lightbkg }}; 
	/*color: #{{ site.color.lighttext }}; */
} 


.btn-outline {  
	margin-top: 15px;   
	border: solid 2px #{{ site.color.lightbkg }};
	font-size: 20px;    
	color: #{{ site.color.lightbkg }};
	background: 0 0;    
	transition: all .3s ease-in-out;    
}   

.btn-outline:hover, 
.btn-outline:focus, 
.btn-outline:active,    
.btn-outline.active {   
	border: solid 2px #{{ site.color.lightbkg }};
	color: #{{ site.color.lighttext }};   
	background: #{{ site.color.lightbkg }};
}   

.floating-label-form-group {    
	position: relative; 
	margin-bottom: 0;   
	padding: .5em;   
	border: 1px solid #{{ site.color.gray_light }};
}   

.floating-label-form-group input,   
.floating-label-form-group textarea {   
	z-index: 1; 
	position: relative; 
	padding-right: 0;   
	padding-left: 0;    
	border: 0;  
	border-radius: 0;   
	font-size: 1.25em;   
	background: 0 0;    
	box-shadow: none!important; 
	resize: none;   
}   

.floating-label-form-group label {  
	display: block; 
	z-index: 0; 
	position: relative; 
	top: 2em;   
	margin: 0;  
	font-size: .85em;   
	line-height: 1.764705882em; 
	vertical-align: middle; 
	vertical-align: baseline;   
	opacity: 0; 
	-webkit-transition: top .3s ease,opacity .3s ease;  
	-moz-transition: top .3s ease,opacity .3s ease; 
	-ms-transition: top .3s ease,opacity .3s ease;  
	transition: top .3s ease,opacity .3s ease;  
}   

.floating-label-form-group::not(:first-child) { 
	padding-left: 14px; 
	border-left: 1px solid #{{ site.color.lightbkg }};
}   

.floating-label-form-group-with-value label {   
	top: 0; 
	opacity: 1; 
}   

.floating-label-form-group-with-focus label {   
	color: #{{ site.color.lighttext }};   
}

form .row:first-child .floating-label-form-group {  
	border-top: 1px solid #{{ site.color.lightbkg }};
}     

.btn:focus, 
.btn:active,    
.btn.active {   
	outline: 0; 
}   

.scroll-top {   
	z-index: 3;  
	position: fixed;    
	right: 2%;  
	bottom: 2%; 
	width: 50px;    
	height: 50px;   
}   

.scroll-top .btn {  
	width: 50px;    
	height: 50px;   
	border-radius: 100%;    
	font-size: 20px;    
	line-height: 28px;  
}   

.scroll-top .btn:focus {    
	outline: 0; 
}   

@-ms-viewport{  
	width: device-width;  
}
