html,body   
{
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    width: 100%;
    margin: 0px;    
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    font-weight: 400;
    line-height: 1.5;
    /*font-family: Lato, 'Source Sans Pro', Helvetica, sans-serif;*/
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    color: #{{ site.color.text }};
}

.heading,
.name,
.skills {
    /*font-family: Poppins, Lato, 'Source Sans Pro', Helvetica, sans-serif;*/
    font-family: Poppins, 'Source Sans Pro', Helvetica, sans-serif;
}

.heading {
    font-size: 6.5rem;
    /*font-weight: 400;*/
    word-spacing: 2px;
    text-transform: lowercase;
    color: #{{ site.color.heading }}; 

    font-style: italic;
    font-weight: 600;
}

.btn {  
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: none;
}

.fa {
    font-size: 1.5em;
}

footer .fa {
    font-size: 1.2em;
}

.kill-on-large-devices {
    display: none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    scrollbar-width: none;
}
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#body-container {
    -o-transition: background-color 1s ease;  /* Opera 10.50–12.00 */
    -moz-transition: background-color 1s ease;  /* Firefox 4-15 */
    -webkit-transition: background-color 1s ease;  /* Chrome 1-25, Safari 3.2+ */
    transition: background-color 1s ease;
    position: relative;

    overflow: hidden;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    background: #{{ site.color.white }};
}

#preloader {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 4;
    background-color: #{{ site.color.backgroundcol_light }};
    color: #{{ site.color.text }};
}

#preloader .container {
    height: 100vh; 
    width: 100%;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100; 
    text-transform: lowercase; 
}
#preloader #wrapper {
    font-weight: 300;
    margin: auto; 
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: row; 
    align-items: center;
    height: 4.5em; 
    width: 4.5em; 
    min-width: -moz-fit-content;
    min-width: -webkit-fit-content;
    min-width: fit-content;
    padding: 0.5em; 
}

#preloader #brand {
    font-size: 4.5em; 
    font-weight: 100;
    letter-spacing: -0.08em; 
    margin: auto auto 0 auto;
    padding-top: 5%;
    /*font-family: 'Raleway', Lato, sans-serif;*/
    font-family: 'Raleway', 'Source Sans Pro', sans-serif;
}

#preloader #percent {
    font-size: 0.8em; 
    padding-right: 0.1em; 
    margin: auto;
}

#preloader #count {
    font-size: 1.5em; 
    margin: auto;
}

.show-on-submit {
    display: none;
    color: #{{ site.color.white }};;
}

p, .about-list { 
    font-size: 1.15rem;
}   

.small {   
    font-size: 1rem;
    font-weight: unset;  
}

.large {   
    font-size: 2rem;    
}

a {
    color: #{{ site.color.link }};
}

a:hover,    
a:focus,    
a:active,   
a.active {  
    outline: 0; 
    text-transform: none;
    text-decoration: none;
    color: #{{ site.color.link_dark }};
}   

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {    
    text-transform: uppercase;  
    letter-spacing: 2px; 
    word-spacing: 2px; 
}

hr { 
    margin: 20px auto;
    padding: 0;
    max-width: 1.8rem;
    border: 0;
    border-top: 1px solid #{{ site.color.text }};
}
hr.light {   
    border-color: #{{ site.color.heading }};
}   

hr.primary { 
    border-color: #{{ site.color.heading }};
} 

.img-centered { 
    margin: 0 auto; 
}

.navbar-brand {   
    padding: 0;    
    height: auto;   
    /*font-family: 'Raleway',Lato,sans-serif;*/
    font-family: 'Raleway', 'Source Sans Pro', sans-serif;
    font-variant: none !important;
    text-transform: lowercase !important;
    letter-spacing: -0.08em;
    font-weight: 100;
    font-size: 2.5em;
    /*-ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);*/
    margin: 0;
    writing-mode: horizontal-tb;
    width: fit-content;
    color: #{{ site.color.backgroundcol }};

    position: absolute;
    /*left: 0;
    top: 0;*/
    font-weight: bold;
    text-shadow: -1px -1px 0 black, 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}  

.brand-shadow {
    color: #{{ site.color.text }};
    z-index: -1;
    transform: rotate(180deg) translate(0.08em, 0.08em);
}

.sidenav .page-scroll .navbar-brand:hover {
    font-size: 2.55em;
}

.navbar-brand-scroll {
    padding-top: 15px;

    height: 10%;
    width: 4vw;
    position: relative;
}
.navbar-toggler-icon {
    width: auto;
}
.navbar-toggle {
    margin-top: 0;
    border: 0;
}

.navbar-toggler {
    padding: 0.5rem 0.75em;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
}

.navbar-text {
    font-weight: 300;
    font-size: 0.75em;
    -ms-transform: rotate(90deg) !important;
    -o-transform: rotate(90deg) !important;
    -webkit-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
    line-height: 100%;
    padding: 15px !important;
}

.navbar {
    align-items: end;
}

.navbar-nav {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    height: 100%;
    justify-content: space-around;
    padding: 200% 0 300%;
}

.navbar-nav a:hover,
.navbar-nav a:focus,
.navbar-nav a:active {
    text-decoration: underline;
}

/*.navbar-nav a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    right: 0;
    -o-transition: all 200ms ease-out; 
    -moz-transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out; 
    transition: all 200ms ease-out;
    visibility: hidden;
    background-color: #{{ site.color.text }}; 
}

.navbar-nav a:hover:before,
.navbar-nav a:focus:before,
.navbar-nav a:active:before {
    visibility: visible;
    width: 100%;
}*/

#navbarContent {
    flex-basis: 100% !important;
    width: 100%;
    height: 90%;
}

@media (min-width: 769px){
    #navbarContent {
        flex-wrap: nowrap;
    }
    /*#navbarContent .navbar-nav .nav-link {
        padding: 15px !important;
    }*/
    #navbarContent {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        /*height: -moz-fit-content;
        height: -webkit-fit-content;
        height: fit-content;*/
    }
    #navbarContent .navbar-toggler {
        display: none;
    }
}

.sidenav {
    height: 100%;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    overflow: visible;
    line-height: 1;
    /*padding: 40px 20px;*/
    padding: 40px 0 40px 20px;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: row;
    font-weight: 300;
    /*font-size: 1.3em;*/
    font-size: 1.1em;
    letter-spacing: 1.5px;
    background: transparent;

    align-items: flex-start;
    justify-content: space-between;

}

.sidenav .page-scroll {
    writing-mode: vertical-rl;
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    /*width: auto;
    height: auto;*/
    /*margin: auto;*/
    display: -webkit-inline-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-inline-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-inline-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: inline-flex;
}
.sidenav .text {
    writing-mode: vertical-rl;
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    height: 100%;
    width: 100%;
    margin: auto;
    /*padding: 15px;*/
    text-align: center;
    /*font-variant: all-small-caps;*/
    text-transform: lowercase;
    color: #{{ site.color.text }};
    font-weight: 400;
    letter-spacing: 1px;

    -o-transition: font-size 100ms ease-in-out, margin 100ms ease-in-out; /* Opera 10.50–12.00 */
    -moz-transition: font-size 100ms ease-in-out, margin 100ms ease-in-out; /* Firefox 4-15 */
    -webkit-transition: font-size 100ms ease-in-out, margin 100ms ease-in-out; /* Chrome 1-25, Safari 3.2+ */
    transition: font-size 100ms ease-in-out, margin 100ms ease-in-out;
}

/*.sidenav a {
    text-transform: uppercase;
}*/

.sidenav a:hover{
    text-decoration: underline;
    background: transparent;
    /*font-size: 1.11em;*/
}


@media(max-width:768px) {
    .sidenav {
        flex-direction: row;
        height: -moz-fit-content;
        height: -webkit-fit-content;
        height: fit-content;
        width: 100%;
        padding: 2.5px 0;
        letter-spacing: 1px;
        background: #{{ site.color.backgroundcol }};
    }
    .sidenav .page-scroll {
        writing-mode: horizontal-tb;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
        width: auto; 
        margin: 0;
    }
    .navbar-brand-scroll {
        padding-top: 0;
    }
    .sidenav .navbar-brand {
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
        font-size: 1.5em;
        padding: 0 0.5em;
        font-weight: 300;
    }
    .sidenav .navbar-brand:hover {
        font-weight: 300;
    }
    .sidenav .text {
        writing-mode: horizontal-tb;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
        padding: 10px;
        font-weight: 400;
    }
    /*.navbar-collapse {
        background: #{{ site.color.backgroundcol }};
    }*/
    .navbar-nav {
        height: -moz-fit-content;
        height: -webkit-fit-content;
        height: fit-content;
    }
    /*a.navbar-toggler.btn.collapsed:hover .navbar-menu-icon {
        color: #{{ site.color.heading }} !important;
    }*/
}

*{      
    -moz-box-sizing: border-box; /* Firefox 1+ */
    -webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
    box-sizing: border-box; 
}   
section {   
    /*padding: 5vh 6vw 15vh 6vw;*/
    /*padding: 0 0 8vh 6vw;*/ /* footer and nav accounted for */
    padding: 0 0 8vh 6vw; /* footer and nav accounted for */
    width: 100%;    
    display: grid;
    /*table-layout: auto; */
    margin: 0;  
    /*min-height: 90% !important; */
    height: 100vh;
    color: #{{ site.color.text }};    
    align-content: space-between;

    grid-auto-rows: 1fr;
}   

section .container {    
    display: grid;  
    vertical-align: middle;   
}   

section h2, #portfolioDetails h3 {    
    margin: 0;  
    font-size: 2.5rem; 
    color: #{{ site.color.heading }}; 
}

@media(max-width:768px) {  
    .kill-on-small-devices {
        display: none !important;
    }
    .kill-on-large-devices {
        display: block !important;
    }
    .heading {
        font-size: 5rem;
        font-weight: 500;
    }
    .heading-col {
        padding: 0;
    }
    p, .about-list { 
        font-size: 1.1rem;
    }   
    .small {   
        font-size: 0.9rem;  
    }
    .large {   
        font-size: 1.5rem;
    }
    #preloader {
        background-color: #{{ site.color.backgroundcol_lightest }};
    }
    #preloader #wrapper {
        height: 3.5em;
        width: 3.5em;
    }
    #preloader #brand {
        font-size: 4em;
    }
    #preloader {
        color: #{{ site.color.heading }} !important;
    }
    section {   
        padding: 6%;
        padding-top: 60px; /* Accounting for the navbar height = 53px */
        table-layout: fixed;
    }
    section.first { 
        padding-top: 75px;  
    }   
    section h2, #portfolioDetails h3 {    
        font-size: 2rem; 
    }
}

header {    
    height: 100vh;
    width: 100vw;
    padding-right: 0;
    padding-left: 6vw;
    margin: 0;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: row;
    /*background: linear-gradient(to bottom, #{{ site.color.backgroundcol }} 0%, #{{ site.color.backgroundcol }} 75%, #{{ site.color.white }} 100%);*/
    background: #{{ site.color.backgroundcol }};
}

header picture {
    width: 100%;
}

header .img_div img {
    z-index: 0;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
    margin-top: 0;
    max-width: none;
    /*max-height: 60vw;*/
    /*height: 80vh;*/
    width: 100%;
    max-height: 100%;
}

header .img_div .col {
    max-height: 100%;
}

header .img_div .row {
    max-height: calc(100vh / 3);
}

header .img_div .container {
    vertical-align: top;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

header .img_div {
    padding: 0;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; 
    align-items: center;
    max-width: 40%;
    /*width: 50%;
    position: relative;
    overflow: hidden;*/
}

.header-title {
    /*width: 50%;*/
    align-items: center;
    /*display: block;
    z-index: 1;*/
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /*padding-top: 10%;*/
    /*position: relative;*/
    font-style: italic;
    color: #{{ site.color.heading }};
    /*width: fit-content;*/
    /*padding-left: 3%;*/
}

.header-intro-text {
    display: block; 
    /*visibility: hidden;*/
    text-align: left;
    width: 100%;
    /*margin-left: 10%;*/
    text-transform: lowercase;

    letter-spacing: 0;
    word-spacing: 0;
    font-size: 0;
    font-weight: normal;
    line-height: 1.5;

    padding-left: 10%;
}

.header-intro-text .name {
    /*font-size: min(4.5vw, 60px);*/
    font-size: 7vw;
    font-weight: 700;     
    letter-spacing: 1px;
}   

.header-intro-text .skills {    
    /*font-size: min(2.25vw, 25px);*/
    font-size: 2.25vw;
    font-weight: 200; 
    letter-spacing: 0.5px;
}  

header mark {
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width:768px) {
    section,
    .header-intro-text .skills {
        color: #{{ site.color.heading }} !important;
    }
    header {
        flex-direction: column-reverse !important;
        padding: 53px 5vw;
        justify-content: space-evenly;
        background: linear-gradient(to bottom, #{{ site.color.backgroundcol }} 0%, #{{ site.color.backgroundcol }} 53px, #{{ site.color.backgroundcol }} 75%, #{{ site.color.white }} 100%);
    }

    header picture {
        margin: auto;
        width: auto;
        height: 100%;
    }

    header img {
        max-height: 450px;
        max-width: 450px;
        width: 75vw;
        height: 100%;
    }

    header .img_div {
        width: 100%;
        padding-right: 18px;
    } 

    .header-title {
        width: 100%;
        padding-left: 10px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-intro-text {
            max-width: 600px;
        width: -moz-fit-content;
        width: -webkit-fit-content;
        width: fit-content;
    }

    .header-intro-text .name { 
        font-size: 4rem;
        padding-bottom: 0.5rem;
    }   

    .header-intro-text .skills {    
        font-size: 1.75rem;
    }
} 

@media (max-width: 480px) { 
    .heading {
        font-size: 3.125rem;
    }
    header img {
        max-height: 300px;
    }
    .header-intro-text {
        width: -moz-min-content;
        width: -webkit-min-content;
        width: min-content;
        margin: auto;
    }
    .header-intro-text .name { 
        font-size: 3rem;
    }
    .header-intro-text .skills {    
        font-size: 1.3rem;
    }
    #about .hello {
        font-size: 2rem;
    }
    p, .about-list { 
        line-height: 1.65;
    }
}

#about .hello {
    text-align: left;
    text-transform: none;
    letter-spacing: initial;
    word-spacing: initial;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #{{ site.color.heading }};
}

#about .about-main-row {
    width: 60%;
    max-width: 1000px;
    min-width: 600px;
    margin: auto;
}
#about .row {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; 
    flex-flow: row wrap;
}

.timeline-row {
    padding: 15vh 5vh; 
    justify-content: center;
}

.timeline {
    list-style-type: none;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.timestamp {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    position: relative;
    -o-transition: all 300ms ease-in-out;  /* Opera 10.50–12.00 */
    -moz-transition: all 300ms ease-in-out;  /* Firefox 4-15 */
    -webkit-transition: all 300ms ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
    transition: all 300ms ease-in-out;
}

.li.complete {
  flex-basis: 33%;
}

.li.complete:hover .status:before {
    background-color: #{{ site.color.heading }};
}

.li.complete:hover .timestamp {
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -o-transition: all 300ms ease-in-out;  /* Opera 10.50–12.00 */
    -moz-transition: all 300ms ease-in-out;  /* Firefox 4-15 */
    -webkit-transition: all 300ms ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
    transition: all 300ms ease-in-out;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.status {
    position: relative;
    padding: 20px 30px 0 30px;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 100;
    border-top: 1px solid #{{ site.color.text }};
}
.status h3 {
    padding-top: 10px;
    line-height: 1.4;
    font-size: 1rem;
}
.status:before {
    content: "";
    width: 15px;
    height: 15px;
    -webkit-border-radius: 50%; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
    border-radius: 50%;
    position: absolute;
    top: -7.5px;
    background-color: #{{ site.color.text }};
}

@media ( max-width: 768px ) {
    #about .about-col {
        padding: 0;
    }
    #about .about-main-row {
        width: 100% !important;
        min-width: 0 !important;
        max-width: 600px;
    }
    #about .img_div {
        text-align: center;
        padding: 3vh 25px;
    }
    #about .hello {
        font-size: 2.5rem;
        padding-bottom: 0;
    }
    .timeline {
        flex-direction: column;
        padding-bottom: 0;
    }

    .li.complete {
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        width: 100%;
    }
    .li.complete:hover .timestamp {
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .timeline-row {
        padding: 10vh 5vh;
    }
    .timestamp {
        padding: 20px;
        flex-basis: 30%;
        min-width: 100px;
        font-size: 0.9rem;
    }
    .status h3 {
        padding-top: 20px;
        font-size: 0.85rem;
    }
    .status:before {
        top: 43px;
        left: -8.4px;
    }
    .status {
        flex-basis: 70%;
        border-top: 0;
        border-left: 2px solid #{{ site.color.text }};
    }
}

#work {
    scroll-behavior: smooth;
    background: #{{ site.color.backgroundcol }};
    /*background: linear-gradient(to bottom, #{{ site.color.white }} 0%, #{{ site.color.backgroundcol }} 25%, #{{ site.color.backgroundcol }} 75%, #{{ site.color.white }} 100%);*/
}

#portfolio {
    padding: 0;
    height: fit-content;
}

/*#portfolio {
    padding: 5vw 20px;
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
}*/

#portfolio .portfolio-link-wrapper
{
    position: relative; 
    overflow: hidden; 
    height: 100%; 
    width: 100%;
}

#portfolio .portfolio-link-wrapper picture {
    width: 100%;
    height: 100%;
}

#portfolio .portfolio-link-wrapper img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    aspect-ratio: 1;
}

#portfolio .portfolio-item .portfolio-link {    
    display: block; 
    position: relative; 
    margin: 0 auto; 
    width: 300px;
}

.masonry-grid {
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    width: 100%;
    margin: auto;
    padding: 0;

    display: flex;
    flex-flow: column wrap;
    min-height: 1500px;
    height: 180vh;
}

.masonry-item {
    width: 100%;
    min-height: 500px;
    height: 60vh;
    margin: 0;
    padding: 15px;

    display: flex;
    flex: 0 0 auto;
    width: 50%;
}

.masonry-item:nth-child(1) {
    order: 1;
}
.masonry-item:nth-child(3) {
    order: 2;
}
.masonry-item:nth-child(5) {
    order: 3;
}
.masonry-item:nth-child(2) {
    order: 4;
}
.masonry-item:nth-child(4) {
    order: 5;
}
.masonry-item:nth-child(6) {
    order: 6;
}

.masonry-item:nth-child(3),
.masonry-item:nth-child(6) {
    min-height: 400px;
    height: 50vh;
}
.masonry-item:nth-child(1),
.masonry-item:nth-child(4)
 {
    min-height: 600px;
    height: 70vh;
}

#portfolio .overlay-link {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}

.overlay {
    font-size: 1.5rem;
    font-weight: 300; 
    text-transform: uppercase;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    -o-transition: transform 500ms, visibility 500ms;  /* Opera 10.50–12.00 */
    -moz-transition: transform 500ms, visibility 500ms;  /* Firefox 4-15 */
    -webkit-transition: -webkit-transform 500ms, visibility 500ms;  /* Chrome 1-25, Safari 3.2+ */
    transition: transform 500ms, visibility 500ms;
    -ms-transform: translate3d(-101%, 0, 0);
    -o-transform: translate3d(-101%, 0, 0);
    -webkit-transform: translate3d(-101%, 0, 0);
    transform: translate3d(-101%, 0, 0);
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    letter-spacing: 3px;
    word-spacing: 5px;
    visibility: hidden;
    z-index: 2;
    color: #{{ site.color.white }};
    background-color: #{{ site.color.text }};
}

.overlay-link:hover ~ .overlay {
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
}

@media ( max-width: 768px ) {
    #portfolio {
        padding: 5vw 0;
    }
    #portfolio .container {
        padding: 0;
    }
    .masonry-grid {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        max-width: 450px;
        height: initial;
    }
    .masonry-item {
        width: 100%;
        padding: 20px !important;
        height: 400px !important;
        min-height: 0 !important;
        order: initial !important;
    }
}

@media (max-width: 480px) {
    .masonry-item {
        height: 300px !important;
        min-height: 0 !important;
    }
}

#under_construction {
    width: 100%;
    height: 100vh;
    padding: 0 !important;
    /*color: #{{ site.color.text }};*/
    /*color: #{{ site.color.wave_text }} !important;*/
    display: flex;
    /*background: #{{ site.color.backgroundcol_lightest }};*/
    color: #{{ site.color.text }};
}

#under_construction .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: none;
    z-index: 1;
}

#under_construction i {
    /*color: #{{ site.color.text }};*/
    /*color: #{{ site.color.wave_text }};*/
    color: #{{ site.color.text }};
    background: transparent;
}

/*#under_construction a {
    color: #{{ site.color.text }} !important;
    font-weight: 600;
}*/

#under_construction hr {
    max-width: 100px;
    border-color: #{{ site.color.text }} !important;
}

#under_construction .fa:hover,
#under_construction .fa:focus, 
#under_construction .fa:active,
#under_construction .fa.active {
    color: #{{ site.color.heading }} !important;
}

#under_construction .btn {
    width: 20%;
    margin: 20px;
    min-width: -moz-fit-content;
    min-width: -webkit-fit-content;
    min-width: fit-content;
    /*background-color: #{{ site.color.text }};
    border-color: #{{ site.color.text }};*/
    color: #{{ site.color.wave_text }} !important;
    background-color: #{{ site.color.white }};
    border: none;
}
#under_construction .btn:hover,
#under_construction .btn:focus,
#under_construction .btn:active,
#under_construction .btn.active {
    background-color: #{{ site.color.lightest_gray }};
    /*border-color: #{{ site.color.lightest_gray }};*/
    -moz-box-shadow: none;
    -webkit-box-shadow: none; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
    box-shadow: none;
}  

/*@media(max-width:768px) {
    #under_construction,
    #under_construction i {
        color: #{{ site.color.heading }} !important;
    }
    #under_construction .btn {
        background-color: #{{ site.color.heading }} !important;
        border-color: #{{ site.color.heading }} !important;
    }
}*/

/*.page-header {
  height: 100vh;
  background-image: url("/path/to/image.jpg");
}*/

.grainy-page {
  background: #{{ site.color.backgroundcol }};
}

.grainy-page:after {
  animation: grain 8s steps(10) infinite;
  background-image: url("assets/img/grainy_page.jpeg");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.1;
  position: fixed;
  top: -100%;
  width: 300%;
  z-index: 0;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}



@-ms-viewport{  
    width: device-width;  
}