#oddsEnds .row {
	min-width: 0;
}

#projectDetails {
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: fit-content;
  width: 100%;
}

#projectDetails .container {
	display: flex;
  flex-direction: column;
  min-width: 0;
}
#projectDetails .project-title {
	margin: 5vh auto;
  font-size: 3rem;
  letter-spacing: none;
  text-transform: none;
  font-family: Poppins, 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #{{ site.color.heading }};
}

#projectDetails .project-heading {
  text-transform: unset;
  letter-spacing: unset;
  color: black;
  font-weight: bold;
  margin-top: 5vh;
}
#projectDetails .li {
	padding-bottom: 0.1rem;
}   

.slide-link {
  padding: 25px;
  outline: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  background: transparent;
  color: #{{ site.color.button }};
}

.slide-link:hover,
.slide-link:focus,
.slide-link:active,
.slide-link.active {
	color: #{{ site.color.heading }};
}

#projectDetails #main-img {
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 5vh;
}
#projectDetails #content-row {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
 display: -ms-flexbox;  /* TWEENER - IE 10 */
 display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
 display: flex;
 flex-direction: column; 
 position: relative; 
 padding: 3%;
 padding-top: 10px;
 margin: auto;
 width: 100%;
 max-width: 1000px;
}
#projectDetails #content p {
  width: 80%;
  max-width: 1000px;
  min-width: 600px;
  margin: auto;
}
.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0 5% 5% 5%;
  min-width: 0;
}
.swiper-wrapper {
 height: 600px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 20px 0px #eeeeee;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /*object-fit: cover;*/
  object-fit: contain;
  max-width: 1000px;
}
#odds-ends-slider-container {
 height: calc( 600px+400px );
 width: 80vw;
 margin: auto;
 padding: 0;
 position: relative;

 height: 100%;

 /* disable blue highlights on images */
 -khtml-user-select: none;
 -o-user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 user-select: none;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
	content: '';
}
.swiper-notification {
	display: none;
}
.caption {
	padding: 20px;
}
#oddsEnds {
	padding-top: 5vh;
}
.swiper-button-prev, .swiper-button-next {
	top: calc( 700px/2 );
}

.swiper-pagination, .swiper-button-prev, .swiper-button-next {
	width: auto;
	height: auto;
	outline: 0;
	color: #{{ site.color.button }};
}
.swiper-pagination {
  width: 100%;
  font-size: 0.8em;
}

.irc .top-row {
  margin: 5rem 0;
}
.irc .card {
  font-family: Poppins, 'Source Sans Pro', Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: #{{ site.color.white }};
  height: 200px;
  width: 300px;
  border: 0px;
  border-radius: 0.75em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  flex: 0 0 auto;
  text-align: center;
  justify-content: center;
  /*margin: 10px;*/
}

.irc .card h1 {
  font-size: 4.15rem;
  font-weight: 600;
  margin: 0;
  color: #{{ site.color.link }};
}
.irc .card p {
  margin: 0;
  color: #{{ site.color.text }};
}
.irc #collapseLink {
  color: #{{ site.color.text }};
}
.irc #collapseLink[aria-expanded=true] .fa {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  transform: rotate(90deg);
}
.irc .explanation-card {
  border-radius: 2em;
  padding: 3em;
  background-color: #{{ site.color.backgroundcol_lightest }};
}
.irc .explanation-card-small {
  border-radius: 0.5em;
  padding: 1em;
  background-color: #{{ site.color.backgroundcol_lightest }};
}
.irc figure {
  text-align: center;
}
.irc figure img {
    height: 600px;
    width: auto;
    /*border-radius: 2.5%;*/
    /*border: 1px solid #{{ site.color.link }};*/
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);*/
}
.irc figcaption {
  margin-top: 20px;
}








@media ( max-width: 768px ) {
	#projectDetails h2 {
   letter-spacing: 2px;
   font-size: 1.8rem;
 }
 #projectDetails .container {
  padding: 0;
}
#projectDetails #content-row {
  flex-direction: column;
  width: auto;
}
#projectDetails #content{
  overflow: hidden;
  margin: auto;
  padding: 3%;
}
#projectDetails #main-img {
  height: 300px;
  /*width: 350px;*/
}
#projectDetails #content p {
  text-align: left;
  margin: 5% 2%;,
}
}

@media (max-width: 480px) {
	#main-img {
    height: 250px;
  }
}

#portfolio .overlay-link {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}

.overlay {
  font-size: 1.5rem;
  font-weight: 300; 
  text-transform: uppercase;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  -o-transition: transform 500ms, visibility 500ms;  /* Opera 10.50–12.00 */
  -moz-transition: transform 500ms, visibility 500ms;  /* Firefox 4-15 */
  -webkit-transition: -webkit-transform 500ms, visibility 500ms;  /* Chrome 1-25, Safari 3.2+ */
  transition: transform 500ms, visibility 500ms;
  -ms-transform: translate3d(-101%, 0, 0);
  -o-transform: translate3d(-101%, 0, 0);
  -webkit-transform: translate3d(-101%, 0, 0);
  transform: translate3d(-101%, 0, 0);
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  letter-spacing: 2px;
  word-spacing: 5px;
  visibility: hidden;
  z-index: 2;
  color: #{{ site.color.white }};
  background-color: #{{ site.color.heading }};
}

.overlay-link:hover ~ .overlay {
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: visible;
}

#contact .heading {
  margin-bottom: 1rem;
  line-height: 1.5;
}

#contact a {
	color: #{{ site.color.button }}; 
}

#contact a:hover,    
#contact a:focus,    
#contact a:active,   
#contact a.active {
	color: #{{ site.color.heading }};
}   

#contact a.mail-link {
 display: inline;
 position: relative;
 overflow: hidden;
}

#contact a.mail-link:before {
 content: "";
 position: absolute;
 width: 0;
 height: 2px;
 bottom: -3px;
 right: 0;
 -o-transition: all 500ms ease-out;  /* Opera 10.50–12.00 */
 -moz-transition: all 500ms ease-out;  /* Firefox 4-15 */
 -webkit-transition: all 500ms ease-out;  /* Chrome 1-25, Safari 3.2+ */
 transition: all 500ms ease-out;
 visibility: hidden;
 background-color: #{{ site.color.heading }}; 
}

#contact a.mail-link:hover:before,
#contact a.mail-link:focus:before,
#contact a.mail-link:active:before {
 visibility: visible;
 width: 100%;
}

footer {
	position: relative;
	display: flex;
  padding: 20px 2vw 0 3vw;
  z-index: 3;
}

footer a {
  color: #{{ site.color.button }}; 
}

footer .text-link {
	color: #{{ site.color.text }}; 
}

footer a.text-link:hover,    
footer a.text-link:focus,    
footer a.text-link:active,   
footer a.text-link.active {
  color: #{{ site.color.text }};
}

footer a:hover,    
footer a:focus,    
footer a:active,   
footer a.active {
  color: #{{ site.color.heading }};
}

footer .footer-above {  
	padding-top: 50px;  
}   

footer .footer-col {    
	margin-bottom: 50px;    
}   

footer .footer-below {  
	padding: 40px 0 10px 0;
	background-color: transparent;
}   

.fa-linkedin {  
	background: transparent;
}
.fa-github {    
	background: transparent; 
} 

.floating-label-form-group {    
	position: relative; 
	margin-bottom: 0;   
	padding: .5em;   
	background: #{{ site.color.white }};
}   

.middle-form {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

.floating-label-form-group input,   
.floating-label-form-group textarea {   
	z-index: 1; 
	position: relative; 
	padding-right: 0;   
	padding-left: 0;    
	border: 0;  
	-webkit-border-radius: 0; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
	border-radius: 0;   
	font-size: 1.15rem;   
	background: 0 0;    
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
	box-shadow: none !important; 
	resize: none;   
}   

.floating-label-form-group label {  
	display: block; 
	z-index: 0; 
	position: relative; 
	top: 2em;   
	margin: 0;  
	font-size: .85em;   
	line-height: 1.764705882em; 
	vertical-align: middle; 
	vertical-align: baseline;   
	opacity: 0;
	-o-transition: top .3s ease,opacity .3s ease;  /* Opera 10.50–12.00 */
 -moz-transition: top .3s ease,opacity .3s ease;  /* Firefox 4-15 */
 -webkit-transition: top .3s ease,opacity .3s ease;  /* Chrome 1-25, Safari 3.2+ */
 transition: top .3s ease,opacity .3s ease;  
}   

.floating-label-form-group::not(:first-child) { 
	padding-left: 14px; 
	border-left: 1px solid #{{ site.color.white }};
}   

.floating-label-form-group-with-value label {   
	top: 0; 
	opacity: 1; 
}   

.floating-label-form-group-with-focus label {   
	color: #{{ site.color.text }};   
}

form .row:first-child .floating-label-form-group {  
	border-top: 1px solid #{{ site.color.white }};
}     

.form-control:-ms-input-placeholder {
 color: #{{ site.color.gray }};
}
.form-control::-webkit-input-placeholder {
 color: #{{ site.color.gray }};
}

.btn:focus, 
.btn:active,    
.btn.active {   
	outline: 0; 
}

#under_construction .header-intro-text .name {
  font-size: 10vw;
}

#under_construction {
  width: 100%;
  height: 100vh;
  padding: 0 !important;
  display: flex;
  color: #{{ site.color.text }};
}

#under_construction .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: none;
  z-index: 1;
}

#under_construction i {
  color: #{{ site.color.text }};
  background: transparent;
}

#under_construction hr {
  max-width: 100px;
  border-color: #{{ site.color.text }} !important;
}

#under_construction .fa:hover,
#under_construction .fa:focus, 
#under_construction .fa:active,
#under_construction .fa.active {
  color: #{{ site.color.heading }} !important;
}

/*#under_construction .btn {
    width: 20%;
    margin: 20px;
    min-width: -moz-fit-content;
    min-width: -webkit-fit-content;
    min-width: fit-content;
    color: #{{ site.color.wave_text }} !important;
    background-color: #{{ site.color.white }};
    border: none;
}
#under_construction .btn:hover,
#under_construction .btn:focus,
#under_construction .btn:active,
#under_construction .btn.active {
    background-color: #{{ site.color.lightest_gray }};
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    }*/

    .grainy-page {
      background: #{{ site.color.backgroundcol }};
    }

    .grainy-page:after {
      animation: grain 8s steps(10) infinite;
      background-image: url('/assets/img/grainy_page.jpeg');
      content: "";
      height: 300%;
      left: -50%;
      opacity: 0.1;
      position: fixed;
      top: -100%;
      width: 300%;
      z-index: 0;
    }

    @keyframes grain {
      0%, 100% { transform:translate(0, 0) }
      10% { transform:translate(-5%, -10%) }
      20% { transform:translate(-15%, 5%) }
      30% { transform:translate(7%, -25%) }
      40% { transform:translate(-5%, 25%) }
      50% { transform:translate(-15%, 10%) }
      60% { transform:translate(15%, 0%) }
      70% { transform:translate(0%, 15%) }
      80% { transform:translate(3%, 35%) }
      90% { transform:translate(-10%, 10%) }
    }

    @media (max-width: 768px) {
     #under_construction .container {
      justify-content: flex-start;
    }
    #under_construction .header-title {
      height: 40%;
      align-items: flex-start;
    }
    #under_construction .bottom-row {
      height: 60%;
    }
    #under_construction .header-intro-text {
      padding: 0;
    }
    #under_construction h1 {
      font-size: 24px;
    }
    #under_construction p {
      font-size: 16px;
    }
    .grainy-page:after {
      opacity: 0.05 !important;
    }
    #contact .row {
      padding-left: 0 !important;
      padding-right: 0 !important;
      text-align: center;
    }
    #contact a.mail-link:before {
      visibility: visible;
      width: 100%;
    }
    #contact a,
    #contact a.mail-link:before,
    footer a,
    footer .footer-below,
    .floating-label-form-group-with-focus label { 
      color: #{{ site.color.heading }} !important; 
    }
  }