
#oddsEnds .row {
  min-width: 0;
}

#projectDetails {
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  width: 100%;
}

#projectDetails .container {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
#projectDetails .project-title {
  margin: 10vh auto 5vh auto;
  font-size: 3rem;
  letter-spacing: none;
  /*text-transform: none;*/
  text-transform: capitalize;
  font-family: Poppins, 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #{{ site.color.heading }};
}

#projectDetails .project-heading {
  text-transform: unset;
  letter-spacing: unset;
  color: black;
  font-weight: bold;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.acquisitions .project-heading {
  text-transform: uppercase !important;
  margin-bottom: 3vh !important;
}
#projectDetails .li {
  padding-bottom: 0.1rem;
}   

#projectDetails .takeaway {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0;
  margin-bottom: 0;
}

section.broadway {
  grid-auto-rows: 1fr min-content;
  
}

.broadway .takeaway {
  text-transform: capitalize;
}

.broadway .plotly-map-container .main-svg,
.broadway .plotly-map-container .svg-container {
  width: 100% !important;
}

.broadway .nepo-row {
  display: flex;
  align-items: center;
}

.broadway .nepo-row > * {
  max-width: 640px;
}
.broadway .nepo-img {
  width: 100%; 
  padding: 10%; 
  object-fit: contain;
}
.arctic .js-plotly-plot .plotly .main-svg {
  width: 100%;
}

#projectDetails .otherinfo {
  font-size: 1.05rem !important; /* 0.9rem; */
  color: gray;
  letter-spacing: 0;
  margin-bottom: 0;
}

.slide-link {
  padding: 25px;
  outline: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  background: transparent;
  color: #{{ site.color.button }};
}

.slide-link:hover,
.slide-link:focus,
.slide-link:active,
.slide-link.active {
  color: #{{ site.color.heading }};
}

#projectDetails #main-img {
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  /*margin: 5vh;*/
}


#projectDetails #content-row {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  flex-direction: column; 
  position: relative; 
  padding: 3%;
  padding-top: 10px;
  margin: auto;
  width: 100%;
  max-width: 1000px;
}
#projectDetails #content p {
  width: 80%;
  max-width: 1000px;
  min-width: 600px;
  margin: auto;
}
.article #content-row {
  max-width: 640px !important;
}
.article #content-row p,
.article #content-row li {
  /* font-size: 1.25rem; */
  line-height: 1.6;
  /* margin-left: auto;
  margin-right: auto; */
}


.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 3rem;
  padding-bottom: 1rem;
  /*padding: 0 5% 5% 5%;*/
  min-width: 0;
}
.swiper-wrapper {
  height: 600px;
  box-shadow: 0px 0px 20px 5px #eeeeee;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  /*box-shadow: 0px 0px 20px 0px #eeeeee;*/
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /*object-fit: cover;*/
  object-fit: contain;
  max-width: 1000px;
}
#projectDetails img {
  object-fit: contain;
}
#odds-ends-slider-container {
  /*height: calc( 600px+400px );*/
  /*width: 80vw;*/
  width: 100%;
  margin: auto;
  padding: 0;
  position: relative;
  
  height: 100%;
  
  /* disable blue highlights on images */
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: '';
}
.swiper-notification {
  display: none;
}
#oddsEnds .caption {
  padding-top: 20px;
}
.swiper-button-prev, .swiper-button-next {
  top: calc( 700px/2 );
}

.swiper-pagination, .swiper-button-prev, .swiper-button-next {
  width: auto;
  height: auto;
  outline: 0;
  color: #{{ site.color.button }};
}
.swiper-pagination {
  width: 100%;
  font-size: 0.8em;
}

.irc .top-row {
  margin: 5rem 0;
}
.irc .top-row .card {
  font-family: Poppins, 'Source Sans Pro', Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: #{{ site.color.white }};
  height: 200px;
  width: 300px !important;
  border: 0px;
  border-radius: 0.75em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  flex: 0 0 auto;
  text-align: center;
  justify-content: center;
  /*margin: 10px;*/
}

.irc .top-row .card h1 {
  font-size: 4.15rem;
  font-weight: 600;
  margin: 0;
  color: #E64A1A; /*#ff7043; */
}
.irc .top-row .card p {
  margin: 0;
  color: #{{ site.color.text }};
}
.irc #collapseLink {
  color: #{{ site.color.text }};
}
.irc #collapseLink[aria-expanded=true] .fa {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  transform: rotate(90deg);
}
.explanation-card {
  border-radius: 2em;
  padding: 3em;
  margin: 3em auto;
  background-color: #{{ site.color.backgroundcol_lightest }};
}
.explanation-card-inline {
  border-radius: 0.5em;
  padding: 1em;
  margin-top: auto;
  background-color: #{{ site.color.backgroundcol_lightest }};
}
#projectDetails .explanation-card .project-heading {
  margin-top: auto;
}
.irc figure {
  text-align: center;
}
.irc figure img {
  height: 600px;
  width: auto;
  /*border-radius: 2.5%;*/
  /*border: 1px solid #{{ site.color.link }};*/
  /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);*/
}
.irc figcaption {
  margin-top: 20px;
}
.loveletter .placeholder,
.nobelles .placeholder {
  height: 300px;
  width: 200px;
  /*padding: 10px;*/
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
#projectDetails h6 {
  letter-spacing: 1px;
  font-variant: small-caps;
}
.loveletter img,
.nobelles img {
  max-width: 100%;
}
.loveletter img {
  width: fit-content;
  margin: auto;
  border-radius: 0.5em;
  border: 0px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.loveletter img.normal {
  border-radius: 0;
  border: 0px;
  box-shadow: none;
}
.project-main-img {
  height: 75vh; 
  width: 100%;
  object-fit: contain;
  background: #fff;
  /*margin: auto;*/
  /*border-radius: 2em;*/
  /*margin: 2em auto;*/
  border: 0px;
  /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);*/
}
.loveletter #highlights h6 {
  letter-spacing: 0.5px; 
  font-size: 0.85em;
  /*text-transform: uppercase;*/
}
.nobelles,
.coup,
.acquisitions,
.fires {
  padding: 0 !important;
  display: flex !important;
  flex-direction: column;
}
.nobelles .container,
.coup .container,
.acquisitions .container,
.fires .container {
  padding-left: 6vw !important;
  justify-content: flex-start !important;
}
.nobelles #content-row,
.coup #content-row,
.acquisitions #content-row,
.fires #content-row {
  margin: 0 auto !important;
}
.nobelles img.normal {
  padding: 50px 20px;
  margin: 2vh 0;
  /*background: lightgray;*/
}
#projectDetails > div {
  width: 100%;
}

.mt20 {
  margin-top: min(40vh, 500px);
}
.mt10 {
  margin-top: min(20vh, 300px);
}
.mt5 {
  margin-top: min(10vh, 100px);
}

.coup #vis {
  position: fixed;
}
#projectDetails hr {
  margin: 5rem 0 2rem 0;
  max-width: 100%;
  border-top: 0.5px solid #848484;
}
.arctic p,
.arctic li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.01rem;
  color: #f2f2f2;
}
.arctic h5 {
  text-transform: none;
  margin-bottom: 0.5rem !important;
}
.arctic a {
  text-decoration: underline;
  text-decoration-style: dotted;
  color:  #f2f2f2;
}
.arctic a:hover,
.arctic a:focus,
.arctic a:active {
  color:  #f2f2f2 !important;
}

.arctic .large-heatmaps {
  flex-direction: column;
  align-items: center;
}
.arctic .small-heatmaps {
  flex-direction: column;
  align-items: center;
  display: none !important;
}

.dark-mode .project-title,
.med-dark-mode .project-title {
  color: white !important;
}
.dark-mode,
.med-dark-mode,
.coup,
.arctic {
  color: white !important;
}
.dark-mode {
  background: black !important;
}
.med-dark-mode {
  background: #212121 !important;
}
.arctic .otherinfo {
  color: #C8C8C8 !important;
}
.coup a {
  color: #ffc822 !important;
}
.coup a:hover,
.coup a:focus,
.coup a:active {
  color: #d69b00 !important;
}

.coup .plotly-graph-div {
  margin: auto;
}

.graphic {
  width: 100%;
  position: relative;
}

.graphic__prose {
  width: 50%;
  margin-left: 6vw;
  height: fit-content;
}

.graphic__prose .trigger {
  height: fit-content;
  padding: 40px;
  margin: 100px 50px 100vh 50px;
  background: black;
  color: white !important;
  vertical-align: middle;
  box-shadow: 0 0 13px 3px #7e7e7e;
}
.graphic__prose .trigger p {
  margin-top: 2em;
  /* font-size: 1em; */
}

.graphic__vis {
  /*position: fixed;  note: originally absolute */
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  transition: all 700ms ease;
  /*right: -10%;*/
}

.graphic__vis .img_wrapper {
  height: 300px;
  width: 400px;
  margin: calc( 50vh - 150px ) auto;
  background: none;
  background-size: cover !important;
  transition: all 700ms ease;
}

.graphic__vis.is-fixed {
  position: fixed;
}

.graphic__vis.is-bottom {
  top: auto;
  bottom: 0;
  margin-bottom: 10px;
}

#coup-m,
#coup-s {
  display: none;
}
#coup-l {
  display: block;
}
#fire-s {
  display: none;
}
#fire-l {
  display: block;
}

#scorecards {
  padding: 20px 0;
}
#scorecards > div {
  padding: 20px;
  /*border:1px solid #cda1ff;*/
  margin: 10px;
  border-radius: 0.5em;
  /*border: 2px solid #cecece;*/
  /*box-shadow: 2px 2px 0 0 black;*/
  box-shadow: 4px 4px 0px 0px #f4e5ff;
  background: #9e68db; /*#6160d3;*/
  color: white !important;
}
#scorecards > div > p {
  margin: 10px auto;
  font-size: 1.5rem;
}
#scorecards > div > p.small {
  margin-bottom: 0;
  font-size: 1rem;
}

.acquisitions .logo {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
  filter: grayscale(1) brightness(3);
}

.acquisitions .mamma-wrapper {
  height: -webkit-fit-content;
  height: fit-content;
  min-height: min(50vh, 700px);
  
  /*width: 30vw;*/
  width: 100%;
  margin: 0 2vw 2vh 2vw;
  
}

.acquisitions .num {
  height: 40vh;
  /*width: 33%;*/
}

.acquisitions #content-row,
.acquisitions #content-row-2,
.acquisitions #content-row > div.row,
.acquisitions #content-row-2 > div.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.hor-scroll {
  color: magenta;
  /*height: 90vh;*/
  /*  flex-wrap: nowrap;
  overflow-x: scroll;*/
}
.hor-scroll .item {
  /*width: 75vw;*/
  padding: 20px;
  align-items: center !important;
  /*width: 33vw;*/
  /*word-wrap: wrap;*/
}
.hor-scroll .number {
  /*font-size: 75vh;*/
  font-size: 10em;
  font-weight: bold;
}
.hor-scroll .caption {
  /*font-size: 4vh;*/
  font-size: 20px;
  font-weight: 100;
  padding: 0;
}
#acq-timeline {
  pointer-events: none;
  /*transition: all 2s ease;*/
}

/*#acq-timeline path.domain,
#acq-timeline g.tick line {
  stroke: gray;
  stroke-width: 0.5;
  stroke-dasharray: none;
}
#acq-timeline rect {
  fill: #cda0ff !important;
}*/





.s-hidden {
  visibility:hidden;
  padding-right:10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: white;
  width: 230px;
  height: fit-content;
  height: -webkit-fit-content;
  border-radius: 5px;
  border: 1px solid #cda1ff;
  text-align: center;
  margin: 2vh auto;
  padding: 5px;
}
.styledSelect {
  position:absolute;
  top:11%;
  right:0;
  bottom:0;
  left:0;
  font-weight:bold;
  font-size: 1em;
  color: #{{ site.color.text }};
}
.styledSelect:after {
  content:"";
  width:0;
  height:0;
  border: 8px solid transparent;
  border-color: #cda1ff transparent transparent transparent;
  position: absolute;
  top: calc( 40% - 10% );
  right: 5%;
}
.styledSelect:active, .styledSelect.active {
  /*background-color:#eee;*/
}
.options {
  display:none;
  position:absolute;
  top:100%;
  right:0;
  left:0;
  z-index:999;
  margin:0 0;
  padding:0 0;
  list-style:none;
  /*border:1px solid #ccc;*/
  background-color:#fdfaff;
  -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.options li {
  padding:0 6px;
  margin:0 0;
  padding:0 10px;
  font-size: 0.9em;
}
.options li:hover {
  background-color:lavender;
}
.plotly-map-container {
  /*align-items: center;*/
  width: 100%; 
  /*height: 90vh;*/
  padding: 0;
  /*border: 1px gray solid;*/
}
.js-plotly-plot .plotly .user-select-none {
  margin: auto;
}
.infolayer .cbtitle,
.modebar-container {
  display: none;
}
.irc #content-row > div,
.fires #content-row {
  width: 100% !important;
}

@media ( min-width: 1200px ) {
  #projectDetails .container {
    padding-left: 0 !important;
  }
}

@media ( max-width: 1023px ) {
  #projectDetails .project-title {
    font-size: 2rem;
  }
  #projectDetails .project-title img {
    height: 48px !important;
    width: 48px !important;
  }
  .irc .top-row .card {
    height: 200px;
    width: 200px !important;
  }
  .irc .top-row .card h1 {
    font-size: 2.35rem;
  }
  .irc figure,
  .irc figure img {
    width: 100%;
    height: auto;
  }
  .mt5 {
    margin-top: min(8vh, 100px);
  }
  .mt10 {
    margin-top: min(16vh, 300px);
  }
  .mt20 {
    margin-top: min(25vh, 500px);
  }
  .nobelles-main-img,
  .loveletter-main-img {
    height: 75vh;
  }
  .nobelles #web img {
    margin: auto;
    padding-bottom: 100px;
  }
  .loveletter .workflow {
    flex-direction: column;
  }
  .loveletter .workflow-opp {
    flex-direction: column-reverse;
  }
  .loveletter .workflow .col,
  .loveletter .workflow-opp .col {
    padding-bottom: 25px;
  }
  /*.acquisitions .mamma-wrapper {
    width: 300px;
  }*/
  .acquisitions .num {
    height: 20vh;
  }
  #acq-timeline {
    margin: 0 !important;
    width: 100% !important;
  }
  #coup-l,
  #coup-s {
    display: none;
  }
  #coup-m {
    display: block;
  }
}





@media ( max-width: 768px ) {
  #projectDetails h2 {
    letter-spacing: 2px;
    font-size: 1.8rem;
  }
  .project-main-img {
    height: 60vh;
  }
  #projectDetails .container {
    padding: 0 !important;
    margin: auto !important;
  }
  #projectDetails #content-row {
    flex-direction: column;
    width: auto;
  }
  .article #content-row p,
  .article #content-row li {
    font-size: 1.125rem;
  }
  
  #projectDetails #content-row .nepo-row{
    flex-direction: column;
    width: auto;
  }
  
  #projectDetails #content{
    overflow: hidden;
    margin: auto;
    padding: 3%;
  }
  #projectDetails #main-img {
    height: 300px;
    /*width: 350px;*/
  }
  #projectDetails #content p {
    text-align: left;
    margin: 5% 2%;,
  }
  .plotly-map-container {
    padding: 5%;
  }
  .coup .graphic__prose {
    margin-left: 0;
  }
  .coup #conclusion #content-row {
    flex-direction: column !important;
  }
  .coup #conclusion #content-row > div.col {
    width: 100% !important;
    margin: 10px auto;
  }
  .graphic__vis .img_wrapper {
    height: 200px;
    width: 250px;
  }
  .graphic__vis .img_wrapper #img_text {
    top: calc( 50% + 75px ) !important;
  }
  #oddsEnds .swiper {
    padding: 0;
  }
  #under_construction .container {
    justify-content: flex-start;
  }
  #under_construction .header-title {
    height: 40%;
    align-items: flex-start;
  }
  #under_construction .bottom-row {
    height: 60%;
  }
  #under_construction .header-intro-text {
    padding: 0;
  }
  #under_construction h1 {
    font-size: 24px;
  }
  #under_construction p {
    font-size: 16px;
  }
  .grainy-page:after {
    opacity: 0.05 !important;
  }
  #contact .row {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
  }
  #contact a.mail-link:before {
    visibility: visible;
    width: 100%;
  }
  #contact a,
  #contact a.mail-link:before,
  footer a,
  footer .footer-below,
  .floating-label-form-group-with-focus label { 
    color: #{{ site.color.heading }} !important; 
  }
  #fire-s {
    display: block;
  }
  #fire-l {
    display: none;
  }
}



@media (max-width: 480px) {
  #main-img {
    height: 250px;
  }
  .swiper-slide img {
    height: auto;
  }
  .swiper-slide,
  .swiper-wrapper {
    height: fit-content;
  }
  #oddsEnds .swiper {
    padding-top: 20px;
  }
  #oddsEnds .caption {
    padding: 30px;
  }
  #oddsEnds #current-title {
    font-weight: bold;
  }
  #oddsEnds, 
  #oddsEnds .container {
    padding-left: 0;
    padding-right: 0;
  }
  #odds-ends-slider-container {
    width: 100vw;
  }
  footer .col {
    text-align: center !important;
  }
  .graphic__prose .trigger {
    width: 85vw;
    padding: 20px;
    z-index: 2;
    margin: 40vh 8vw;
  }
  .graphic__vis {
    display: none;
  }
  #gdp-barchart {
    width: 100% !important;
    margin: 5vh auto !important;
  }
  .coup img {
    width: 300px !important;
    height: 200px !important;
    padding-bottom: 10px;
  }
  #projectDetails .project-title {
    font-size: 1.7rem;
  }
  #projectDetails .container
  {
    padding: 10px !important;
  }
  .acquisitions .mamma-wrapper {
    margin: 2vh auto;
  }
  .acquisitions #companies .row {
    flex-direction: column;
  }
  .acquisitions .num {
    height: 300px;
    margin: 20px auto;
  }
  .fires #content-row {
    width: 100% !important;
  }
  .fires .plotly-map-container .main-svg,
  .fires .plotly-map-container .svg-container {
    width: 100% !important;
  }
  #coup-l,
  #coup-m {
    display: none;
  }
  #coup-s {
    display: block;
  }
  .arctic .large-heatmaps {
    display: none !important;
  }
  .arctic .small-heatmaps {
    display: flex !important;
  }
  
}

#portfolio .overlay-link {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}

.overlay {
  font-size: 1.5rem;
  font-weight: 300; 
  text-transform: uppercase;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  -o-transition: transform 500ms, visibility 500ms;  /* Opera 10.50–12.00 */
  -moz-transition: transform 500ms, visibility 500ms;  /* Firefox 4-15 */
  -webkit-transition: -webkit-transform 500ms, visibility 500ms;  /* Chrome 1-25, Safari 3.2+ */
  transition: transform 500ms, visibility 500ms;
  -ms-transform: translate3d(-101%, 0, 0);
  -o-transform: translate3d(-101%, 0, 0);
  -webkit-transform: translate3d(-101%, 0, 0);
  transform: translate3d(-101%, 0, 0);
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  letter-spacing: 2px;
  word-spacing: 5px;
  visibility: hidden;
  z-index: 2;
  color: #{{ site.color.white }};
  background-color: #{{ site.color.heading }};
}

.overlay-link:hover ~ .overlay {
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: visible;
}

#contact .heading {
  margin-bottom: 1rem;
  line-height: 1.5;
}

#contact a {
  color: #{{ site.color.button }}; 
}

#contact a:hover,    
#contact a:focus,    
#contact a:active,   
#contact a.active {
  color: #{{ site.color.heading }};
}   

#contact a.mail-link {
  display: inline;
  position: relative;
  overflow: hidden;
}

#contact a.mail-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  right: 0;
  -o-transition: all 500ms ease-out;  /* Opera 10.50–12.00 */
  -moz-transition: all 500ms ease-out;  /* Firefox 4-15 */
  -webkit-transition: all 500ms ease-out;  /* Chrome 1-25, Safari 3.2+ */
  transition: all 500ms ease-out;
  visibility: hidden;
  background-color: #{{ site.color.heading }}; 
}

#contact a.mail-link:hover:before,
#contact a.mail-link:focus:before,
#contact a.mail-link:active:before {
  visibility: visible;
  width: 100%;
}

footer {
  position: relative;
  display: flex;
  padding: 20px 2vw 0 3vw;
  z-index: 3;
}

footer a {
  color: #{{ site.color.button }}; 
}

footer .text-link {
  color: #{{ site.color.text }}; 
}

footer a.text-link:hover,    
footer a.text-link:focus,    
footer a.text-link:active,   
footer a.text-link.active {
  color: #{{ site.color.text }};
}

footer a:hover,    
footer a:focus,    
footer a:active,   
footer a.active {
  color: #{{ site.color.heading }};
}

footer .footer-above {  
  padding-top: 50px;  
}   

footer .footer-col {    
  margin-bottom: 50px;    
}   

footer .footer-below {  
  padding: 40px 0 10px 0;
  background-color: transparent;
}   

.fa-linkedin {  
  background: transparent;
}
.fa-github {    
  background: transparent; 
} 

.floating-label-form-group {    
  position: relative; 
  margin-bottom: 0;   
  padding: .5em;   
  background: #{{ site.color.white }};
}   

.middle-form {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

.floating-label-form-group input,   
.floating-label-form-group textarea {   
  z-index: 1; 
  position: relative; 
  padding-right: 0;   
  padding-left: 0;    
  border: 0;  
  -webkit-border-radius: 0; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
  border-radius: 0;   
  font-size: 1.15rem;   
  background: 0 0;    
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
  box-shadow: none !important; 
  resize: none;   
}   

.floating-label-form-group label {  
  display: block; 
  z-index: 0; 
  position: relative; 
  top: 2em;   
  margin: 0;  
  font-size: .85em;   
  line-height: 1.764705882em; 
  vertical-align: middle; 
  vertical-align: baseline;   
  opacity: 0;
  -o-transition: top .3s ease,opacity .3s ease;  /* Opera 10.50–12.00 */
  -moz-transition: top .3s ease,opacity .3s ease;  /* Firefox 4-15 */
  -webkit-transition: top .3s ease,opacity .3s ease;  /* Chrome 1-25, Safari 3.2+ */
  transition: top .3s ease,opacity .3s ease;  
}   

.floating-label-form-group::not(:first-child) { 
  padding-left: 14px; 
  border-left: 1px solid #{{ site.color.white }};
}   

.floating-label-form-group-with-value label {   
  top: 0; 
  opacity: 1; 
}   

.floating-label-form-group-with-focus label {   
  color: #{{ site.color.text }};   
}

form .row:first-child .floating-label-form-group {  
  border-top: 1px solid #{{ site.color.white }};
}     

.form-control:-ms-input-placeholder {
  color: #{{ site.color.gray }};
}
.form-control::-webkit-input-placeholder {
  color: #{{ site.color.gray }};
}

.btn:focus, 
.btn:active,    
.btn.active {   
  outline: 0; 
}

#under_construction .header-intro-text .name {
  font-size: 10vw;
}

#under_construction {
  width: 100%;
  height: 100vh;
  padding: 0 !important;
  display: flex;
  color: #{{ site.color.text }};
}

#under_construction .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: none;
  z-index: 1;
}

#under_construction i {
  color: #{{ site.color.text }};
  background: transparent;
}

#under_construction hr {
  max-width: 100px;
  border-color: #{{ site.color.text }} !important;
}

#under_construction .fa:hover,
#under_construction .fa:focus, 
#under_construction .fa:active,
#under_construction .fa.active {
  color: #{{ site.color.heading }} !important;
}

/*#under_construction .btn {
  width: 20%;
  margin: 20px;
  min-width: -moz-fit-content;
  min-width: -webkit-fit-content;
  min-width: fit-content;
  color: #{{ site.color.wave_text }} !important;
  background-color: #{{ site.color.white }};
  border: none;
}
#under_construction .btn:hover,
#under_construction .btn:focus,
#under_construction .btn:active,
#under_construction .btn.active {
  background-color: #{{ site.color.lightest_gray }};
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}*/

.grainy-page {
  background: #{{ site.color.backgroundcol }};
}

.grainy-page:after {
  animation: grain 8s steps(10) infinite;
  background-image: url('/assets/img/grainy_page.jpeg');
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.1;
  position: fixed;
  top: -100%;
  width: 300%;
  z-index: 0;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}