html,body   
{
	height: -moz-fit-content;
  	height: -webkit-fit-content;
	height: fit-content;
	width: 100%;
	margin: 0px;    
	padding: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum";
	-webkit-font-feature-settings: "lnum";
	font-feature-settings: "lnum";
	font-weight: 400;
	line-height: 1.5;
	font-family: Lato, 'Source Sans Pro', Helvetica, sans-serif;
	color: #{{ site.color.text }};
}

.heading,
.name,
.skills {
	font-family: Poppins, Lato, 'Source Sans Pro', Helvetica, sans-serif;
}

.heading {
	font-size: 6.5rem;
	font-weight: 400;
	word-spacing: 2px;
	text-transform: lowercase;
    color: #{{ site.color.heading }}; 
}

.btn {	
	-moz-appearance: none;
	-webkit-appearance: none;
    appearance: none;
	-webkit-border-radius: none;
}

.kill-on-large-devices {
	display: none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
	scrollbar-width: none;
}
body {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

#body-container {
    -o-transition: background-color 1s ease;  /* Opera 10.50–12.00 */
  	-moz-transition: background-color 1s ease;  /* Firefox 4-15 */
	-webkit-transition: background-color 1s ease;  /* Chrome 1-25, Safari 3.2+ */
  	transition: background-color 1s ease;
  	position: relative;

  	overflow: hidden;
  	height: -moz-fit-content;
  	height: -webkit-fit-content;
  	height: fit-content;
  	background: #{{ site.color.white }};
}

#page-background {
	/*width: 75%;
    height: 92.25%;
    background: #{{ site.color.backgroundcol }};
    position: absolute;
    margin: 10% 12.5%;
    z-index: 0;*/
}

#preloader {
	height: 100vh;
	width: 100%;
	position: relative;
	z-index: 4;
	background-color: #{{ site.color.backgroundcol_light }};
	color: #{{ site.color.text }};
}

#preloader .container {
	height: 100vh; 
	width: 100%;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 100; 
	text-transform: lowercase; 
}
#preloader #wrapper {
	font-weight: 200;
	margin: auto; 
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  	display: flex;
	flex-direction: row; 
	align-items: center;
	height: 4.5em; 
	width: 4.5em; 
	min-width: -moz-fit-content;
  	min-width: -webkit-fit-content;
	min-width: fit-content;
	padding: 0.5em; 
}

#preloader #brand {
	font-size: 4.5em; 
	font-weight: 100;
	letter-spacing: -0.08em; 
	margin: auto auto 0 auto;
	padding-top: 5%;
	font-family: 'Raleway', Lato, sans-serif;
}

#preloader #percent {
	font-size: 0.8em; 
	padding-right: 0.1em; 
	margin: auto;
}

#preloader #count {
	font-size: 1.5em; 
	margin: auto;
}

.show-on-submit {
	display: none;
}

p { 
	/*font-size: 1.125rem;*/
	font-size: 1.25rem;
}   

.small {   
	/*font-size: 0.9rem;*/
	font-size: 1rem;
	font-weight: unset;  
}

.large {   
	/*font-size: 1.875rem;    */
	font-size: 2rem;    
}

a {
	/*color: #{{ site.color.text }};*/
	color: #{{ site.color.link }};
}

a:hover,    
a:focus,    
a:active,   
a.active {  
	outline: 0; 
	text-transform: none;
	text-decoration: none;
	color: #{{ site.color.link_dark }};
	/*color: #{{ site.color.heading }};*/
}   

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {    
	text-transform: uppercase;  
	letter-spacing: 2px; 
	word-spacing: 2px; 
}

hr { 
	margin: 20px auto;
    padding: 0;
    max-width: 1.8rem;
    border: 0;
    border-top: 1px solid #{{ site.color.text }};
}
hr.light {   
	border-color: #{{ site.color.heading }};
}   

hr.primary { 
	border-color: #{{ site.color.heading }};
} 

.img-centered { 
	margin: 0 auto; 
}

#under_construction {
	width: 100%;
	height: 100vh;
	padding: 2% !important;
	color: #{{ site.color.text }};
	display: table;
	background: #{{ site.color.backgroundcol_lightest }};
}

#under_construction i {
	color: #{{ site.color.text }};
	background: transparent;
}

#under_construction a {
	color: #{{ site.color.text }} !important;
	font-weight: 600;
}

#under_construction a:hover,
#under_construction a:focus, 
#under_construction a:active,
#under_construction a.active {
	color: #{{ site.color.heading }}; !important;
}

#under_construction .btn {
	width: 30%;
	margin: 20px;
	min-width: -moz-fit-content;
  	min-width: -webkit-fit-content;
	min-width: fit-content;
	background-color: #{{ site.color.text }};
	border-color: #{{ site.color.text }};
}
#under_construction .btn:hover,
#under_construction .btn:focus,
#under_construction .btn:active,
#under_construction .btn.active {
	background-color: #{{ site.color.heading }};
	border-color: #{{ site.color.heading }};
	-moz-box-shadow: none;
	-webkit-box-shadow: none; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
	box-shadow: none;
}

.sidenav .page-scroll .navbar-brand {   
	padding: 0;    
	height: auto;   
	/*color: #{{ site.color.accent }} !important;*/
	font-family: 'Raleway',Lato,sans-serif;
	font-variant: none !important;
	text-transform: lowercase !important;
    letter-spacing: -0.08em;
    font-weight: 100;
    font-size: 2.5em;
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin: 0;

    -o-transition: font-size 300ms ease-in-out, margin 300ms ease-in-out; /* Opera 10.50–12.00 */
    -moz-transition: font-size 300ms ease-in-out, margin 300ms ease-in-out; /* Firefox 4-15 */
    -webkit-transition: font-size 300ms ease-in-out, margin 300ms ease-in-out; /* Chrome 1-25, Safari 3.2+ */
    transition: font-size 300ms ease-in-out, margin 300ms ease-in-out;
}  

.sidenav .page-scroll .navbar-brand:hover {
	font-weight: 200;
}

.sidenav .navbar-brand-scroll {
	padding-top: 15px;
}

.navbar-toggle {
    margin-top: 0;
    border: 0;
}

.navbar-toggler {
	padding: 0.5rem;
}

.navbar-default .navbar-toggle .icon-bar {
	/*background-color: #{{ site.color.accent }} !important;*/
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
	background-color: transparent;
}

.navbar-text {
    font-weight: 300;
    font-size: 0.75em;
    -ms-transform: rotate(90deg) !important;
    -o-transform: rotate(90deg) !important;
    -webkit-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
    line-height: 100%;
    padding: 15px !important;
}

.navbar {
	align-items: end;
}

.navbar-nav {
	-ms-flex-direction: column !important;
	flex-direction: column !important;
	height: 100%;
}

.navbar-collapse {
	flex-basis: 100% !important;
	width: 100%;
}

@media (min-width: 769px) {
	.navbar-collapse {
		height: -moz-fit-content;
  		height: -webkit-fit-content;
		height: fit-content;
	}
	.navbar-expand-md .navbar-nav .nav-link {
    	padding: 15px !important;
    }
}

.sidenav {
	height: 100%;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    overflow: visible;
    padding: 40px 0;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  	display: flex;
    flex-direction: column;
    font-weight: 300;
	font-size: 1.3em;
	letter-spacing: 2px;  
	background: transparent;
}

.sidenav .page-scroll {
    writing-mode: vertical-rl;
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    width: auto;
    height: auto;
    margin: auto;
    display: -webkit-inline-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-inline-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-inline-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: inline-flex;
}
.sidenav .text {
    writing-mode: vertical-rl;
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-variant: all-small-caps;
    color: #{{ site.color.text }};
}

.sidenav .time-wrapper {
    /*width: auto;*/
    /*margin: 0;*/
}

.sidenav a {
	text-transform: uppercase;
}

.sidenav a:hover{
	text-decoration: none;
	background: transparent;
	font-weight: 400;
}


@media(max-width:768px) {
	.sidenav {
		font-style: 1em;
		flex-direction: row;
		height: -moz-fit-content;
		height: -webkit-fit-content;
		height: fit-content;
		width: 100%;
		padding: 5px 0 0 0;
		background: #{{ site.color.backgroundcol }};
	}
	.sidenav .page-scroll {
	    writing-mode: horizontal-tb;
	    -ms-transform: none;
	    -o-transform: none;
	    -webkit-transform: none;
	    transform: none;
	    width: auto; 
    	margin: 0;
	}
    .sidenav .navbar-brand-scroll {
		padding-top: 0;
	}
	.sidenav .page-scroll .navbar-brand {
		-ms-transform: none;
		-o-transform: none;
	    -webkit-transform: none;
		transform: none;
		font-size: 1.5em;
		padding: 0 .5rem;
	}
	.sidenav .text {
		writing-mode: horizontal-tb;
		-ms-transform: none;
		-o-transform: none;
	    -webkit-transform: none;
    	transform: none;
    	padding: 10px;
	}
	.navbar-collapse {
		background: #{{ site.color.backgroundcol }};
	}
	.navbar-nav {
		height: -moz-fit-content;
		height: -webkit-fit-content;
		height: fit-content;
	}
	a.navbar-toggler.btn.collapsed:hover .navbar-menu-icon {
    	color: #{{ site.color.heading }} !important;
	}
}

*{      
	-moz-box-sizing: border-box; /* Firefox 1+ */
	-webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
	box-sizing: border-box; 
}   
section {   
	padding: 5vh 6vw 15vh 6vw;
	width: 100%;    
	display: table;
	table-layout: auto; 
	margin: 0;  
	min-height: 90% !important; 
	height: 100vh;
	color: #{{ site.color.text }};    
}   

section .container {    
	display: table-cell;  
	vertical-align: middle;   
}   

section h2, #portfolioDetails h3 {    
	margin: 0;  
	font-size: 2.5rem; 
	color: #{{ site.color.heading }}; 
}   

@media(max-width:768px) {  
	.kill-on-small-devices {
	    display: none !important;
	}
	.kill-on-large-devices {
		display: block !important;
	}
	.heading {
		font-size: 3.125rem;
		font-weight: 500;
	}
	.heading-col {
		padding: 0;
	}
	.fa-angle-down {
		/*font-size: 1.5em !important;*/
	}
	#page-background {
		/*width: 90%;
		height: 95.3%;
		margin: 5%;*/
	}
	p { 
		font-size: 1.2rem;
	}   
	.small {   
		font-size: 0.9rem;  
	}
	.large {   
		font-size: 1.5rem;
	}
	#preloader {
		background-color: #{{ site.color.backgroundcol_lightest }};
	}
	#preloader #wrapper {
		height: 3.5em;
	    width: 3.5em;
	    font-weight: 300;
	}
	#preloader #brand {
		font-size: 4em;
	}
	#preloader,
	#under_construction,
	#under_construction i {
		color: #{{ site.color.heading }} !important;
	}
	#under_construction .btn {
		background-color: #{{ site.color.heading }} !important;
		border-color: #{{ site.color.heading }} !important;
	} 
	section {   
		padding: 6%;
		padding-top: 60px; /* Accounting for the navbar height = 53px */
    	table-layout: fixed;
	}
	section.first { 
		padding-top: 75px;  
	}   
	section h2, #portfolioDetails h3 {    
		font-size: 2rem; 
	}
}   

header {    
	height: 100vh;
	width: 100vw;
	padding-right: 0;
	padding-left: 5vw;
	margin: 0;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;
	flex-direction: row;
	/*color: #{{ site.color.heading }};*/
    background: linear-gradient(to bottom, #{{ site.color.backgroundcol }} 0%, #{{ site.color.backgroundcol }} 75%, #{{ site.color.white }} 100%);
}

header img {
    z-index: 0;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
    margin-top: 0;
    /*margin-left: -40px;*/
    max-width: none !important;
    /*width: 45vw;*/
    width: 100%;
    /*min-height: 600px;*/
    max-height: 60vw;
    height: 80vh;
}

header .img_div {
	padding: 0;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex; 
    align-items: center;
    width: 40%;
    position: relative;
    overflow: hidden;
}

header .title {
	width: 50%;
	align-items: center;
	display: block;
	z-index: 1;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;
    padding-top: 10%;
    position: relative;
}

header .intro-text {
	display: block; 
	visibility: hidden;
	text-align: left;
	width: 100%;
	margin-left: 10%;
	text-transform: lowercase;

	letter-spacing: 0;
    word-spacing: 0;
    font-size: 0;
    font-weight: normal;
    line-height: 1.5;
}

header .intro-text .name {
	font-size: min(4.5vw, 60px);
	font-weight: 700;     
	letter-spacing: 1px;
	/*color: #{{ site.color.accent }};*/

	/*font-size: min(8.5vw, 140px);*/
	/*line-height: 10vw;*/
	/*letter-spacing: 4px;*/
	/*text-transform: lowercase;*/
}   

header .intro-text .skills {    
	font-size: min(2.25vw, 25px);
	font-weight: 200; 
	letter-spacing: 0.5px;
	/*color: #{{ site.color.text }};*/

	/*padding-top: 2%;*/
}  

header mark {
	background-color: transparent;
	padding-left: 10px;
	padding-right: 10px;
}

@media(max-width:768px) {
	section,
	header .intro-text .skills,
	.crossout {
		color: #{{ site.color.heading }} !important;
	}
	header {
		flex-direction: column-reverse !important;
		padding: 0 5vw;
		padding-top: 53px;
    	/*justify-content: flex-end;*/
    	justify-content: space-evenly;
    	background: linear-gradient(to bottom, #{{ site.color.backgroundcol }} 0%, #{{ site.color.backgroundcol }} 53px, #{{ site.color.backgroundcol }} 75%, #{{ site.color.white }} 100%);
	}

	header img {
    	margin: auto;
    	max-height: 450px;
    	/*min-height: 0;*/
    	width: 75vw;
    	/*height: 100%;*/
	}

	header .img_div {
		width: 100%;
		padding-right: 18px;
	} 

	header .title {
		width: 100%;
		/*padding: 3vw 0;*/
		padding-left: 10px;
	    padding-top: 0;
	    padding-bottom: 0;
	    margin: auto;
	}

	header .intro-text {
	    margin: auto;
	    /*width: -moz-min-content;
		width: -webkit-min-content;
	    width: min-content;*/
	    width: -moz-fit-content;
		width: -webkit-fit-content;
	    width: fit-content;
	}

	header .intro-text .name { 
		font-size: 3rem;
		/*line-height: 5rem;*/
		padding-bottom: 0.5rem;
		/*width: fit-content;*/
	}   

	header .intro-text .skills {    
		font-size: 1.3rem;
		/*width: fit-content;*/
	}
} 

@media (max-width: 480px) {
	header img {
		height: 300px;
	}
	header .intro-text {
		width: -moz-min-content;
		width: -webkit-min-content;
     	width: min-content;
 	}	
}

#about {
	/*text-align: justify !important;*/
}

#about .hello {
	/*padding: 2vh 0;
	/*font-weight: 100;*/
	text-align: left;
	text-transform: none;
	letter-spacing: initial;
    word-spacing: initial;
    font-size: 3rem;
    margin-bottom: 1rem;
	color: #{{ site.color.heading }};
}
#about .main {
	/*text-align: left;*/
	/*color: #{{ site.color.accent }};*/
}
/*#about a {
	/*text-decoration: underline;
	color: #{{ site.color.accent }};
}*/

#about .about-col {
	padding: 0 20%;
}

#about .img_div {
	margin: auto;
	text-align: center;
}
#about img {
	margin: auto; 
	-o-object-fit: cover;
	object-fit: cover;
    height: 400px; 
    width: 400px; 
    max-width: 35vw;
    max-height: 35vw;
    -webkit-border-radius: 50%; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
    border-radius: 50%;
    margin-top: 7.5vh;
}
#about .row {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex; 
	flex-flow: row wrap;
}
#about .col-md-6 {
	/*padding: 0 50px;*/
}

.crossout {
	text-decoration: line-through; 
	font-weight: lighter;
	color: #{{ site.color.text }};
}

.timeline-row {
	padding: 15vh 5vh; 
	justify-content: center;
}

.timeline {
  	list-style-type: none;
  	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 0;
}

.timestamp {
	margin-top: 20px;
  	margin-bottom: 20px;
  	/*padding: 0px 30px;*/
  	padding-bottom: 10px;
  	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	font-weight: 300;
  	position: relative;
  	-o-transition: all 300ms ease-in-out;  /* Opera 10.50–12.00 */
  	-moz-transition: all 300ms ease-in-out;  /* Firefox 4-15 */
	-webkit-transition: all 300ms ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
  	transition: all 300ms ease-in-out;
}

.li.complete {
  flex-basis: 33%;
}

.li.complete:hover {
    /*color: #{{ site.color.heading }};*/
}

.li.complete:hover .status:before {
    background-color: #{{ site.color.heading }};
}

.li.complete:hover .timestamp {
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-o-transition: all 300ms ease-in-out;  /* Opera 10.50–12.00 */
  	-moz-transition: all 300ms ease-in-out;  /* Firefox 4-15 */
	-webkit-transition: all 300ms ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
    transition: all 300ms ease-in-out;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.status {
  	position: relative;
  	padding: 20px 30px 0 30px;
  	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  	display: flex;
  	text-align: center;
  	justify-content: center;
  	font-weight: 100;
  	border-top: 1px solid #{{ site.color.text }};
}
.status h3 {
  	padding-top: 10px;
  	line-height: 1.4;
    font-size: 1rem;
  	/*letter-spacing: 2px;*/
}
.status:before {
  	content: "";
  	width: 15px;
  	height: 15px;
  	-webkit-border-radius: 50%; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
  	border-radius: 50%;
  	/*border: 5px solid #{{ site.color.backgroundcol }};*/
  	position: absolute;
  	top: -7.5px;
  	background-color: #{{ site.color.text }};
}

@media ( max-width: 768px ) {
	#about .about-col {
		padding: 0 6%;
	}
	#about .img_div {
		text-align: center;
		padding: 3vh 25px;
	}
	#about img {
	    height: 250px;
    	width: 250px;
    	max-height: none;
    	max-width: none;
    	margin-top: 0;
	}
	#about .hello {
        font-size: 2rem;
        padding-bottom: 0;

	}
	#about .main {
		text-align: justify;
	}
	.timeline {
		flex-direction: column;
		padding-bottom: 0;
	}

	.li.complete {
		display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  		display: -ms-flexbox;  /* TWEENER - IE 10 */
  		display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
		display: flex;
		width: 100%;
	}
	.li.complete:hover .timestamp {
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	.timeline-row {
		padding: 10vh 5vh;
	}
	.timestamp {
		padding: 20px;
		flex-basis: 30%;
		min-width: 100px;
		font-size: 0.9rem;
	}
	.status h3 {
	  	padding-top: 20px;
	  	font-size: 0.85rem;
	}
	.status:before {
		/*top: 40px;
		left: -14px;*/
		top: 43px;
    	left: -8.4px;
	}
	.status {
		flex-basis: 70%;
		border-top: 0;
		border-left: 2px solid #{{ site.color.text }};
	}
}

#work {
	scroll-behavior: smooth;
	background: linear-gradient(to bottom, #{{ site.color.white }} 0%, #{{ site.color.backgroundcol }} 25%, #{{ site.color.backgroundcol }} 75%, #{{ site.color.white }} 100%);
}

#portfolio {
	padding: 5vw 20px;
	-webkit-animation-duration: 800ms;
	animation-duration: 800ms;
}

#portfolio .portfolio-link-wrapper
{
	position: relative; 
	overflow: hidden; 
	height: 100%; 
	width: 100%;
}

#portfolio .portfolio-link-wrapper img {
	width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
	object-fit: cover;
}

#portfolio .portfolio-item .portfolio-link {    
	display: block; 
	position: relative; 
	margin: 0 auto; 
	width: 300px;
}

/*.grid {
	display: -webkit-box; 
  	display: -ms-flexbox; 
  	display: -webkit-flex;
	display: flex;
}

.grid-col {
	-ms-flex: 1;
  	-webkit-box-flex: 1;
  	-webkit-flex: 1;
    flex-grow: 1;
}*/

/*.grid-item {
  	color: #{{ site.color.backgroundcol }};
  	text-align: center;
  	padding: 0.65em;
  	font-weight: 900;
  	font-size: 2rem;
}*/

/*.grid-col:nth-child(2) {
	text-align: -webkit-right;
	text-align: right;
}

.grid-col:nth-child(2) { 
	display: block;
}*/

.masonry-grid {
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  	width: 100%;
  	margin: auto;
  	padding: 0;

  	display: flex;
    flex-flow: column wrap;
    min-height: 1500px;
    height: 180vh;
}

.masonry-item {
    width: 100%;
    min-height: 500px;
    height: 60vh;
    margin: 0;
  	padding: 15px;

  	display: flex;
    flex: 0 0 auto;
    width: 50%;
}

.masonry-item:nth-child(1) {
	order: 1;
}
.masonry-item:nth-child(3) {
	order: 2;
}
.masonry-item:nth-child(5) {
	order: 3;
}
.masonry-item:nth-child(2) {
	order: 4;
}
.masonry-item:nth-child(4) {
	order: 5;
}
.masonry-item:nth-child(6) {
	order: 6;
}

/*.masonry-item:nth-child(4),
.masonry-item:nth-child(5),
.masonry-item:nth-child(6) {
  	min-height: 500px;
  	height: 60vh;
}*/
.masonry-item:nth-child(3),
.masonry-item:nth-child(6) {
  	min-height: 400px;
  	height: 50vh;
}
.masonry-item:nth-child(1),
.masonry-item:nth-child(4)
 {
  	min-height: 600px;
  	height: 70vh;
}

/*.grid-col:nth-child(1) > .grid-item:nth-child(odd),
.grid-col:nth-child(2) > .grid-item:nth-child(even) {
    height: 500px;
    line-height: 500px;
}

.grid-col:nth-child(1) > .grid-item:nth-child(even),
.grid-col:nth-child(2) > .grid-item:nth-child(odd) {
    height: 600px;
    line-height: 600px;
}
.grid-col:nth-child(2) { 
		display: block; 
}

.grid-col:nth-child(2) > .grid-item:nth-child(1) {
    margin-top: 625px; 
}*/

#portfolioDetails {
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: fit-content;
    width: 100%;
	display: none;
	padding: 5vw 0;
	-webkit-animation-duration: 800ms;
	animation-duration: 800ms;
}

#portfolioDetails h2 {
	/*letter-spacing: 3px;*/
}   

#portfolioDetails .li {
	padding-bottom: 0.1rem;
}   

.slide-link {
	float: left;
	margin-left: 5px;
	padding: 5px; 
	outline: 0;
	background: transparent;
	color: #{{ site.color.button }};
}

.slide-link:hover,
.slide-link:focus,
.slide-link:active,
.slide-link.active {
	color: #{{ site.color.heading }};
}

.fa-backward {
	font-size: 1.5em;
}

.fa-caret-left, .fa-caret-right {
	font-size: 2.5em;
}

.swiper-container-innermost {
	padding: 10px 0;
	position: absolute;
	top: 10.5%;
    height: 300px;
	width: 400px;
	margin: 75px auto 0 auto;
	overflow: hidden;
	z-index: 1;
	left: 50%;
	-ms-transform: translate3d(-50%, 0, 0);
	-o-transform: translate3d(-50%, 0, 0);
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.swiper-container-in {
	padding: 10px 0;
	position: absolute;
	top: 10.5%;
    height: 300px;
	width: 600px;
	overflow: hidden;
	z-index: 0;
	left: 50%;
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

.swiper-container {
	height: -moz-max-content;
	height: -webkit-max-content;
	height: max-content;
	width: 85%;
    z-index: 2;
}

.swiper-slide {
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	overflow: hidden;
}

.swiper-slide #main-img {
    width: 500px;
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    left: 50%;
	-ms-transform: translate3d(-50%, 0, 0);
	-o-transform: translate3d(-50%, 0, 0);
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}
.swiper-slide #img-on-top {
    width: 300px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    left: 50%;
	-ms-transform: translate3d(-50%, 0, 0);
	-o-transform: translate3d(-50%, 0, 0);
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.swiper-slide #img-positioning-row {
	height: 300px; 
	width: 100%;
}
.swiper-slide #content-row {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;
	flex-direction: column; 
	position: relative; 
	padding-top: 12px;
	width: 100%;
}
.swiper-slide #content {
	padding-left: 3%;
    padding-right: 2%;
    margin: auto;
    width: 100%;
}
.swiper-slide #content p {
	text-align: justify; 
	margin: 3.5% 5%;
	margin: 3.5% 9%;
}
/*.swiper-slide #content a {
	text-decoration: underline; 
}*/
.swiper-pagination, .swiper-button-prev, .swiper-button-next {
	position: relative !important;
	width: auto;
	height: auto;
	outline: 0;
}

.swiper-pagination {
    width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	margin: auto;
	margin-top: 10px;
	padding: 5px;
}
.swiper-pagination-bullet {
	outline: 0;
}
.swiper-pagination-bullet-active {
	background: #{{ site.color.heading }};
}

.swiper-navigation {
	width: 100%;
}
.swiper-button-prev {
	float: left;
	margin-left: 10px;
	color: #{{ site.color.button }};
}
.swiper-button-next {
	float: right;
	margin-right: 10px;
	color: #{{ site.color.button }};
}
.swiper-button-prev:hover, .swiper-button-next:hover {
	color: #{{ site.color.heading }};
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
	content: '';
}
.swiper-notification {
	display: none;
}

@media ( max-width: 768px ) {
	#portfolio {
	    padding: 5vw 0;
	}
	#portfolio .container {
		padding: 0;
	}
	
	/* 2 columns at medium/large size */
	/*.grid-col:nth-child(2) { 
  		display: none; 
	}*/

    .masonry-grid {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        max-width: 400px;
        height: initial;
    }
	.masonry-item {
		width: 100%;
		padding: 20px !important;
		height: 400px !important;
		min-height: 0 !important;
		order: initial !important;
	}

	#portfolioDetails h2 {
	    letter-spacing: 2px;
	    font-size: 1.8rem;
	}
	#portfolioDetails .container {
		padding: 0;
	}
	.swiper-container-in {
		top: 7.5%;
	}
	.swiper-container {
		width: 100%;
	}
	.swiper-container-in .slide-inner {
		display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  		display: -ms-flexbox;  /* TWEENER - IE 10 */
  		display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
		display: flex;
	}
	.swiper-slide #img-positioning-row {
		height: 300px;
	}
	.swiper-slide #content-row {
		flex-direction: column;
		width: auto;
	}
	.swiper-slide #content{
		overflow: hidden;
		margin: auto;
		padding: 3% 7%;
	}
	.swiper-slide #main-img {
		height: 300px;
		width: 350px;
		margin: auto;
	}
	.swiper-slide #content p {
		text-align: left;
		margin: 5% 1%;
		/*line-height: 1.25rem;*/
	}
	.swiper-pagination {
		margin-top: 0;
		padding: 0;
	}
	.swiper-button-prev:hover, .swiper-button-next:hover {
		color: #{{ site.color.heading }} !important;
	}
}

@media (max-width: 480px) {
	.masonry-item {
		height: 300px !important;
		min-height: 0 !important;
	}
	.swiper-slide #main-img {
	    height: 300px;
	    width: 300px;
	}
}

#portfolio .overlay-link {
	height: 100%;
	width: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}

.overlay {
	font-size: 1.75rem;
	font-weight: 300; 
	text-transform: uppercase;
	position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
	-o-transition: transform 400ms, visibility 400ms;  /* Opera 10.50–12.00 */
  	-moz-transition: transform 400ms, visibility 400ms;  /* Firefox 4-15 */
	-webkit-transition: -webkit-transform 400ms, visibility 400ms;  /* Chrome 1-25, Safari 3.2+ */
    transition: transform 400ms, visibility 400ms;
    -ms-transform: translate3d(-101%, 0, 0);
    -o-transform: translate3d(-101%, 0, 0);
    -webkit-transform: translate3d(-101%, 0, 0);
    transform: translate3d(-101%, 0, 0);
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    letter-spacing: 3px;
    word-spacing: 5px;
    visibility: hidden;
    z-index: 2;
    color: #{{ site.color.white }};
    background-color: #{{ site.color.text }};
}

.overlay-link:hover ~ .overlay {
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	visibility: visible;
}

#contact .heading {
    /*font-weight: 500;*/
    /*text-transform: uppercase;*/
    /*color: #{{ site.color.heading }}; */
    margin-bottom: 1rem;
    line-height: 1.5;
}

#contact a {
	color: #{{ site.color.button }}; 
}

#contact a:hover,    
#contact a:focus,    
#contact a:active,   
#contact a.active {
	color: #{{ site.color.heading }};
}   

#contact a.mail-link {
  	display: inline;
  	position: relative;
  	overflow: hidden;
}

#contact a.mail-link:before {
  	content: "";
  	position: absolute;
  	width: 0;
  	height: 2px;
  	bottom: -3px;
  	right: 0;
  	-o-transition: all 500ms ease-out;  /* Opera 10.50–12.00 */
  	-moz-transition: all 500ms ease-out;  /* Firefox 4-15 */
	-webkit-transition: all 500ms ease-out;  /* Chrome 1-25, Safari 3.2+ */
  	transition: all 500ms ease-out;
  	visibility: hidden;
  	background-color: #{{ site.color.heading }}; 
}

#contact a.mail-link:hover:before,
#contact a.mail-link:focus:before,
#contact a.mail-link:active:before {
  	visibility: visible;
  	width: 100%;
}

/*footer a {
	color: #{{ site.color.text }};
	text-decoration: underline;
}*/

footer .footer-above {  
	padding-top: 50px;  
}   

footer .footer-col {    
	margin-bottom: 50px;    
}   

footer .footer-below {  
	padding: 40px 0 10px 0;
	background-color: transparent;
}   

.fa-linkedin {  
	background: transparent;
}
.fa-github {    
	background: transparent; 
} 

.floating-label-form-group {    
	position: relative; 
	margin-bottom: 0;   
	padding: .5em;   
	background: #{{ site.color.white }};
	border: 1px solid #{{ site.color.gray }};
}   

.floating-label-form-group input,   
.floating-label-form-group textarea {   
	z-index: 1; 
	position: relative; 
	padding-right: 0;   
	padding-left: 0;    
	border: 0;  
	-webkit-border-radius: 0; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
	border-radius: 0;   
	font-size: 1.25em;   
	background: 0 0;    
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
	box-shadow: none !important; 
	resize: none;   
}   

.floating-label-form-group label {  
	display: block; 
	z-index: 0; 
	position: relative; 
	top: 2em;   
	margin: 0;  
	font-size: .85em;   
	line-height: 1.764705882em; 
	vertical-align: middle; 
	vertical-align: baseline;   
	opacity: 0;
	-o-transition: top .3s ease,opacity .3s ease;  /* Opera 10.50–12.00 */
  	-moz-transition: top .3s ease,opacity .3s ease;  /* Firefox 4-15 */
	-webkit-transition: top .3s ease,opacity .3s ease;  /* Chrome 1-25, Safari 3.2+ */
	transition: top .3s ease,opacity .3s ease;  
}   

.floating-label-form-group::not(:first-child) { 
	padding-left: 14px; 
	border-left: 1px solid #{{ site.color.white }};
}   

.floating-label-form-group-with-value label {   
	top: 0; 
	opacity: 1; 
}   

.floating-label-form-group-with-focus label {   
	color: #{{ site.color.text }};   
}

form .row:first-child .floating-label-form-group {  
	border-top: 1px solid #{{ site.color.white }};
}     

.form-control:-ms-input-placeholder {
  	color: #{{ site.color.gray }};
}
.form-control::-webkit-input-placeholder {
  	color: #{{ site.color.gray }};
}

.btn:focus, 
.btn:active,    
.btn.active {   
	outline: 0; 
}

@media (max-width: 768px) {
	#contact .row {
		padding-left: 0 !important;
	    padding-right: 0 !important;
	    text-align: center;
	}
	#contact a.mail-link:before {
	  	visibility: visible;
	  	width: 100%;
	}
	#contact a,
	#contact a.mail-link:before,
	footer a,
	footer .footer-below,
	.floating-label-form-group-with-focus label { 
	  	color: #{{ site.color.heading }} !important; 
	}
}

@-ms-viewport{  
	width: device-width;  
}
