@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400;500;700&display=swap');




@font-face {
    font-family: 'cervanttisReg';
    src: url('../fonts/cervanttis-webfont.woff2') format('woff2'),
         url('../fonts/cervanttis-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgUl_It';
    src: url('../fonts/noah_grotesque_ultralight_italic-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_ultralight_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgUl';
    src: url('../fonts/noah_grotesque_ultralight-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgThin';
    src: url('../fonts/noah_grotesque_thin-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgThin_It';
    src: url('../fonts/noah_grotesque_thin_italic-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_thin_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgReg_It';
    src: url('../fonts/noah_grotesque_regular_italic-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgReg';
    src: url('../fonts/noah_grotesque_regular-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgMed';
    src: url('../fonts/noah_grotesque_medium-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgmMed_It';
    src: url('../fonts/noah_grotesque_medium_italic-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgLt_It';
    src: url('../fonts/noah_grotesque_light_italic-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgLt';
    src: url('../fonts/noah_grotesque_light-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgHvy';
    src: url('../fonts/noah_grotesque_heavy-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noahgHvy_It';
    src: url('../fonts/noah_grotesque_heavy_italic-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_heavy_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgExbold';
    src: url('../fonts/noah_grotesque_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgExbold_It';
    src: url('../fonts/noah_grotesque_extrabold_italic-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_extrabold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgBold';
    src: url('../fonts/noah_grotesque_bold-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgBold_It';
    src: url('../fonts/noah_grotesque_bold_italic-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgBlack';
    src: url('../fonts/noah_grotesque_black-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'noahgBlack_It';
    src: url('../fonts/noah_grotesque_black_italic-webfont.woff2') format('woff2'),
         url('../fonts/noah_grotesque_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
