<!DOCTYPE html>
<html>
    {% include head.html %}   
    <body id="page-top" class="index">
        {% include js.html %}
        {% include preloader.html %}
        {% include nav.html %}
        <div class="hide1">
            {% include header.html %}        
        </div>
        <div class="hide2">
            {% include about.html %}
            {% include portfolio_grid.html %}
            {% include contact.html %}        
            {% include footer.html %}
        </div>
        {% include modals.html %}
    </body>
</html>
