<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        {% include js.html %}
        {% include stylesheets.html %}
    </head>
    <body id="main" class="index body-with-bkg">

      <style>#preloader{visibility: hidden; opacity: 0;}</style>
        {% include preloader.html %}

        <div id="body-container">
          {% include nav.html %}
          {% include header.html %}
          {% include portfolio_grid.html %}
          {% include footer.html %}
          <!-- fix_footer_style="position: fixed; bottom: 0; width: 100vw;" %} -->
        </div>
        
        <!-- Netlify access -->
        <!-- <script>
          if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
              if (!user) {
                window.netlifyIdentity.on("login", () => {
                  document.location.href = "/admin/";
                });
              }
            });
          }
        </script> -->
    </body>
</html>
