<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index" onload="loadFunction()">
        {% include js.html %}
        {% include preloader.html %}
        <div id="body-container" class="body-container">
            <div class="hide1">
                {% include nav.html %}
                {% include header.html %}        
            </div>
            <div class="hide2">
                {% include about.html %}
                {% include portfolio_grid.html %}
                {% include contact.html %}        
                {% include footer.html %}
            </div>
            {% include modals.html %}
        </div>
    </body>
</html>
 