<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
        {% include preloader.html %}
        <div id="body-container" class="body-container" style="position: relative;">
        <div style="width: 80%;
                height: 90%;
                background: pink;
                position: absolute;
                margin: 10%;
                z-index: 0;"></div>
          <div class="section-bkg" data-color="common">
            {% include nav.html %}
            {% include header.html %}
          </div>
          <div class="section-bkg" data-color="common">
          {% include about.html %}
          </div>
          <div class="section-bkg" data-color="common">
            {% include portfolio_grid.html %}
            {% include details.html %}
          </div>
          <div class="section-bkg" data-color="common">
            {% include contact.html %}        
            {% include footer.html %}
          </div>
        </div> 
        {% include js.html %}
    </body>
</html>
 