<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
        {% include preloader.html %}
        <div id="body-container" 
        style="
        /*background-image: url('assets/img/cool-background.png');*/
                background-repeat: repeat-y;
                background-size: 100% auto;
                ">
        <div id="bkg-page"></div>
          {% include nav.html %}
          {% include header.html %}
          {% include about.html %}
          {% include portfolio_grid.html %}
          {% include details.html %}
          {% include contact.html %}        
          {% include footer.html %}
        </div> 
        {% include js.html %}
    </body>
</html>
 